<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Digest</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/akonadi-19.08.3.tar.xz">akonadi-19.08.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>b8b992f863bbf828ef279db5d13c75032674ed64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/akonadi-calendar-19.08.3.tar.xz">akonadi-calendar-19.08.3</a></td>
   <td align="right">324kB</td>
   <td><tt>684de6b212c1063cad3a68ced07cd513e374a098</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/akonadi-calendar-tools-19.08.3.tar.xz">akonadi-calendar-tools-19.08.3</a></td>
   <td align="right">218kB</td>
   <td><tt>a6f1075ac967897c73b898cdf57a481d1f2a96ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/akonadiconsole-19.08.3.tar.xz">akonadiconsole-19.08.3</a></td>
   <td align="right">189kB</td>
   <td><tt>69a2eb61c8346d9e3344337d057eebd1bc2b1df3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/akonadi-contacts-19.08.3.tar.xz">akonadi-contacts-19.08.3</a></td>
   <td align="right">376kB</td>
   <td><tt>12e6ba4eda79ee4993429f4e9057fe165b24e7e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/akonadi-import-wizard-19.08.3.tar.xz">akonadi-import-wizard-19.08.3</a></td>
   <td align="right">428kB</td>
   <td><tt>7a406edf91a4633235b1a4c7faaa888fa548e4b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/akonadi-mime-19.08.3.tar.xz">akonadi-mime-19.08.3</a></td>
   <td align="right">129kB</td>
   <td><tt>330396cd462a8d1e0fbdac8d1d6b29802c58304c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/akonadi-notes-19.08.3.tar.xz">akonadi-notes-19.08.3</a></td>
   <td align="right">23kB</td>
   <td><tt>c8dd86a4e4c326f0c6479cc4c14dfecea08fb069</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/akonadi-search-19.08.3.tar.xz">akonadi-search-19.08.3</a></td>
   <td align="right">80kB</td>
   <td><tt>6d7d62577d989192d0bb71bc31155e5ca06112a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/akregator-19.08.3.tar.xz">akregator-19.08.3</a></td>
   <td align="right">2.0MB</td>
   <td><tt>6b7dfb9c3da0a2ba08acb267a4029c6b010f5083</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/analitza-19.08.3.tar.xz">analitza-19.08.3</a></td>
   <td align="right">324kB</td>
   <td><tt>d69039d9a1a98962e184ec2f1bacc57f5eb8e76b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/ark-19.08.3.tar.xz">ark-19.08.3</a></td>
   <td align="right">2.4MB</td>
   <td><tt>ee015b72585a757e643b18739b937bd6f188165a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/artikulate-19.08.3.tar.xz">artikulate-19.08.3</a></td>
   <td align="right">3.8MB</td>
   <td><tt>cfe1f3c1c8df07b0118bbf9662777998314906a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/audiocd-kio-19.08.3.tar.xz">audiocd-kio-19.08.3</a></td>
   <td align="right">347kB</td>
   <td><tt>1901a431af6608e87f1a663fb8b28015f7eef6ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/baloo-widgets-19.08.3.tar.xz">baloo-widgets-19.08.3</a></td>
   <td align="right">255kB</td>
   <td><tt>debd0064dd20d224ebd34dbe88674d038da10ba6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/blinken-19.08.3.tar.xz">blinken-19.08.3</a></td>
   <td align="right">2.6MB</td>
   <td><tt>38f4abf6713e0cf7a1f8bace8bce9a1d5b6a7301</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/bomber-19.08.3.tar.xz">bomber-19.08.3</a></td>
   <td align="right">801kB</td>
   <td><tt>b964acc9396c5d913582cbe48baffafbdcc50e27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/bovo-19.08.3.tar.xz">bovo-19.08.3</a></td>
   <td align="right">195kB</td>
   <td><tt>040c91607913d37b5253e2b9c6e8cae58cec2eab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/calendarsupport-19.08.3.tar.xz">calendarsupport-19.08.3</a></td>
   <td align="right">631kB</td>
   <td><tt>1d357c62a5c51730dfb595a8bd5a927ae507fc7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/cantor-19.08.3.tar.xz">cantor-19.08.3</a></td>
   <td align="right">2.4MB</td>
   <td><tt>863e38a97587cc1f61f6952b69c4a1a4648ff9c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/cervisia-19.08.3.tar.xz">cervisia-19.08.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>fab10e905f37918fb2261fc12634aca79fc86091</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/dolphin-19.08.3.tar.xz">dolphin-19.08.3</a></td>
   <td align="right">5.0MB</td>
   <td><tt>cc974819632598c717f6f5e55b17217107b74da8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/dolphin-plugins-19.08.3.tar.xz">dolphin-plugins-19.08.3</a></td>
   <td align="right">188kB</td>
   <td><tt>3c7106fa216e381db54473989a396669341923a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/dragon-19.08.3.tar.xz">dragon-19.08.3</a></td>
   <td align="right">1.2MB</td>
   <td><tt>1236a46170b2667fbbd5ea6178b09c82049d498f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/eventviews-19.08.3.tar.xz">eventviews-19.08.3</a></td>
   <td align="right">432kB</td>
   <td><tt>81da3ec8623ef25a3754bc6de1f568b5dd0286f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/ffmpegthumbs-19.08.3.tar.xz">ffmpegthumbs-19.08.3</a></td>
   <td align="right">24kB</td>
   <td><tt>a8853a46672378678232026e59b82d0710d21533</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/filelight-19.08.3.tar.xz">filelight-19.08.3</a></td>
   <td align="right">645kB</td>
   <td><tt>70d432e393b051bc1155626f2236e1fcfb51fedb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/granatier-19.08.3.tar.xz">granatier-19.08.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>8c6a332357578cce2ad30e47bbd3c646d3a7592f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/grantlee-editor-19.08.3.tar.xz">grantlee-editor-19.08.3</a></td>
   <td align="right">109kB</td>
   <td><tt>f4c5d49244391729b25207fe3f0444f73ceeb4be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/grantleetheme-19.08.3.tar.xz">grantleetheme-19.08.3</a></td>
   <td align="right">51kB</td>
   <td><tt>7a1a97554275921774aeed47ee27347d958d140e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/gwenview-19.08.3.tar.xz">gwenview-19.08.3</a></td>
   <td align="right">5.4MB</td>
   <td><tt>afe8633480b5772f491243dba66c28b33ab86d39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/incidenceeditor-19.08.3.tar.xz">incidenceeditor-19.08.3</a></td>
   <td align="right">537kB</td>
   <td><tt>04352ab301e2c0ba1fb165938a1f2281aace3637</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/juk-19.08.3.tar.xz">juk-19.08.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>de0db1d5889281b4f368b4a66753f2dbdf2d6696</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/k3b-19.08.3.tar.xz">k3b-19.08.3</a></td>
   <td align="right">10MB</td>
   <td><tt>79dcc7cfd0b6971fd4297e4521705a339989af01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kaccounts-integration-19.08.3.tar.xz">kaccounts-integration-19.08.3</a></td>
   <td align="right">70kB</td>
   <td><tt>5142d24e747c5ac28156a69751a086fee5228ce9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kaccounts-providers-19.08.3.tar.xz">kaccounts-providers-19.08.3</a></td>
   <td align="right">31kB</td>
   <td><tt>b127ad69b2236479a5b2be04d1fcc5da89b80a17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kaddressbook-19.08.3.tar.xz">kaddressbook-19.08.3</a></td>
   <td align="right">462kB</td>
   <td><tt>84ecdb3571446062251e424bb86282118593ace5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kajongg-19.08.3.tar.xz">kajongg-19.08.3</a></td>
   <td align="right">4.2MB</td>
   <td><tt>3ed10bd90bb22ca1c8a66b90f907d403cf03817c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kalarm-19.08.3.tar.xz">kalarm-19.08.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>2b39b226d8b0f5b333926fd3f0c198ed9d2534cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kalarmcal-19.08.3.tar.xz">kalarmcal-19.08.3</a></td>
   <td align="right">559kB</td>
   <td><tt>121abebe03855b789c5a437a8e7cadf054d6ce29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kalgebra-19.08.3.tar.xz">kalgebra-19.08.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>33fb7e1bc7a51001e5a103a95d9eff310fea209b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kalzium-19.08.3.tar.xz">kalzium-19.08.3</a></td>
   <td align="right">25MB</td>
   <td><tt>63a3cc05fd977550ac1b21d8540cd358e5a3b9ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kamera-19.08.3.tar.xz">kamera-19.08.3</a></td>
   <td align="right">97kB</td>
   <td><tt>b5973dff6b8e5a7395278f45bf6ddaecc272f1a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kamoso-19.08.3.tar.xz">kamoso-19.08.3</a></td>
   <td align="right">197kB</td>
   <td><tt>fad9111aaf8d3e333c17daaf69f504883f757dab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kanagram-19.08.3.tar.xz">kanagram-19.08.3</a></td>
   <td align="right">7.6MB</td>
   <td><tt>b976e3ebc5064fb96f3207a48b4f165604c43c68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kapman-19.08.3.tar.xz">kapman-19.08.3</a></td>
   <td align="right">2.4MB</td>
   <td><tt>86278eb1d92c4623319f47e7e522b7d517ca3a6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kapptemplate-19.08.3.tar.xz">kapptemplate-19.08.3</a></td>
   <td align="right">309kB</td>
   <td><tt>98f14c05c3e8cf5953f63292951faf7b15e9cc5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kate-19.08.3.tar.xz">kate-19.08.3</a></td>
   <td align="right">5.5MB</td>
   <td><tt>b216f799436bcb252e8d86d72a265870bcdc294c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/katomic-19.08.3.tar.xz">katomic-19.08.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>c7d091769ecf7323827b7d66e54b368056794043</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kbackup-19.08.3.tar.xz">kbackup-19.08.3</a></td>
   <td align="right">349kB</td>
   <td><tt>b8e7d970a33d5bdc901c22e444c78a2e2289af93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kblackbox-19.08.3.tar.xz">kblackbox-19.08.3</a></td>
   <td align="right">435kB</td>
   <td><tt>b09ff0728dfa5b46741bf730e5f102bfebad08f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kblocks-19.08.3.tar.xz">kblocks-19.08.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>4cba2040d2498c75201fbeffa4692be6851e416f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kblog-19.08.3.tar.xz">kblog-19.08.3</a></td>
   <td align="right">71kB</td>
   <td><tt>55e0113071f58667f3968b9c9d05fa2fc651df9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kbounce-19.08.3.tar.xz">kbounce-19.08.3</a></td>
   <td align="right">3.3MB</td>
   <td><tt>c3debe928190add29e2247859c8781b2c4f5d7de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kbreakout-19.08.3.tar.xz">kbreakout-19.08.3</a></td>
   <td align="right">2.1MB</td>
   <td><tt>57ce40126bcacc5640e4fd4824c84dbf63adf61f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kbruch-19.08.3.tar.xz">kbruch-19.08.3</a></td>
   <td align="right">5.3MB</td>
   <td><tt>bb48a016cbe4bf07423775bd45d84b4fad5c9b94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kcachegrind-19.08.3.tar.xz">kcachegrind-19.08.3</a></td>
   <td align="right">789kB</td>
   <td><tt>1ca3007a73a469996b94305104309384efe6974a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kcalc-19.08.3.tar.xz">kcalc-19.08.3</a></td>
   <td align="right">363kB</td>
   <td><tt>66598d3a0527f12682d0c936fd1dfcc346db09ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kcalcore-19.08.3.tar.xz">kcalcore-19.08.3</a></td>
   <td align="right">243kB</td>
   <td><tt>708e17f0ff9790c23f9a6db27307f9fdb5d23ab4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kcalutils-19.08.3.tar.xz">kcalutils-19.08.3</a></td>
   <td align="right">315kB</td>
   <td><tt>9e24ae07c071b291016daab5979cf9dc2d4172d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kcharselect-19.08.3.tar.xz">kcharselect-19.08.3</a></td>
   <td align="right">326kB</td>
   <td><tt>f9052d086f4de474fd2157143c346e79d2d6f117</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kcolorchooser-19.08.3.tar.xz">kcolorchooser-19.08.3</a></td>
   <td align="right">20kB</td>
   <td><tt>818a7f20f91d20c0c40ebcabf99435f92a41ecd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kcontacts-19.08.3.tar.xz">kcontacts-19.08.3</a></td>
   <td align="right">535kB</td>
   <td><tt>ede415c4288cd3c3a1ca6c4d85e0fe4b433ac830</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kcron-19.08.3.tar.xz">kcron-19.08.3</a></td>
   <td align="right">867kB</td>
   <td><tt>5d7bd430b89778392ef5f2813a91a8ecb5908a97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kdav-19.08.3.tar.xz">kdav-19.08.3</a></td>
   <td align="right">48kB</td>
   <td><tt>6e090bac0d5dedc93448c62017a8e78136e2301b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kdebugsettings-19.08.3.tar.xz">kdebugsettings-19.08.3</a></td>
   <td align="right">54kB</td>
   <td><tt>1065faaaa6c41b65d19010ffaa5bd3000133ed94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kde-dev-scripts-19.08.3.tar.xz">kde-dev-scripts-19.08.3</a></td>
   <td align="right">369kB</td>
   <td><tt>5342900f815e01c43aa05b36d6c73c644aecd9a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kde-dev-utils-19.08.3.tar.xz">kde-dev-utils-19.08.3</a></td>
   <td align="right">60kB</td>
   <td><tt>aaaa28836fcf4dcb020c071b9fe7479caf22c489</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kdeedu-data-19.08.3.tar.xz">kdeedu-data-19.08.3</a></td>
   <td align="right">319kB</td>
   <td><tt>7bf447c986245ae99c85470aad1d01735a11cb51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kdegraphics-mobipocket-19.08.3.tar.xz">kdegraphics-mobipocket-19.08.3</a></td>
   <td align="right">13kB</td>
   <td><tt>c12cf2280c9b918f31d0dcb2b06b2872bdcd3bae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kdegraphics-thumbnailers-19.08.3.tar.xz">kdegraphics-thumbnailers-19.08.3</a></td>
   <td align="right">42kB</td>
   <td><tt>10f8297ccf684375aea87e91595d9261ab065845</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kdenetwork-filesharing-19.08.3.tar.xz">kdenetwork-filesharing-19.08.3</a></td>
   <td align="right">308kB</td>
   <td><tt>3004f4ba138aca14ff7fe7ee1ac3384ab8e13680</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kdenlive-19.08.3.tar.xz">kdenlive-19.08.3</a></td>
   <td align="right">11MB</td>
   <td><tt>cb2a38115aef004e757c04a66b2be28f6645f85f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kdepim-addons-19.08.3.tar.xz">kdepim-addons-19.08.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>77d9b786ec021af1ec28c43d3c30efa80eec7da1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kdepim-apps-libs-19.08.3.tar.xz">kdepim-apps-libs-19.08.3</a></td>
   <td align="right">80kB</td>
   <td><tt>197c9c416090fea54f5fca05a25fbaa038a5e419</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kdepim-runtime-19.08.3.tar.xz">kdepim-runtime-19.08.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>389fbf9abc8a3e65ab60cd07b3ef9c2ece323d37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kdesdk-kioslaves-19.08.3.tar.xz">kdesdk-kioslaves-19.08.3</a></td>
   <td align="right">36kB</td>
   <td><tt>df6dc90a14d7612525361d7c23a1cc1256d228f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kdesdk-thumbnailers-19.08.3.tar.xz">kdesdk-thumbnailers-19.08.3</a></td>
   <td align="right">16kB</td>
   <td><tt>925e5b4f7ab0088c437e71a21d1a06ca552ff8c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kdf-19.08.3.tar.xz">kdf-19.08.3</a></td>
   <td align="right">451kB</td>
   <td><tt>36dd8aa4e5666a1711861a31923896a34d3bbd29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kdialog-19.08.3.tar.xz">kdialog-19.08.3</a></td>
   <td align="right">100kB</td>
   <td><tt>29a77b20626784c74267d1e94bbe61a567ff4e87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kdiamond-19.08.3.tar.xz">kdiamond-19.08.3</a></td>
   <td align="right">4.4MB</td>
   <td><tt>9bb2454eb5158dc07f1a5b5dc310ef999d651990</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/keditbookmarks-19.08.3.tar.xz">keditbookmarks-19.08.3</a></td>
   <td align="right">182kB</td>
   <td><tt>5a012a4d757b0f09a7224527d673b217b87aaeff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kfind-19.08.3.tar.xz">kfind-19.08.3</a></td>
   <td align="right">263kB</td>
   <td><tt>b7bfd541a3023007525c8cb54634f137281421e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kfloppy-19.08.3.tar.xz">kfloppy-19.08.3</a></td>
   <td align="right">194kB</td>
   <td><tt>2be92da02292605817cc7fcf4d0c23684e7733f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kfourinline-19.08.3.tar.xz">kfourinline-19.08.3</a></td>
   <td align="right">623kB</td>
   <td><tt>fb7a5bab10f713544a6dc5aa5e4aa6eee9493be9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kgeography-19.08.3.tar.xz">kgeography-19.08.3</a></td>
   <td align="right">10MB</td>
   <td><tt>fb63c0de47f77686f272bfd1a141da1bd67c6645</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kget-19.08.3.tar.xz">kget-19.08.3</a></td>
   <td align="right">4.9MB</td>
   <td><tt>cc419afb102896c8632e4ab0c3e5a33d4ad010f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kgoldrunner-19.08.3.tar.xz">kgoldrunner-19.08.3</a></td>
   <td align="right">4.2MB</td>
   <td><tt>cec87e45295741e7507cb7309b0f14e248c8390c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kgpg-19.08.3.tar.xz">kgpg-19.08.3</a></td>
   <td align="right">2.6MB</td>
   <td><tt>23a1ea57f59cd9bd42db7d1ff3b6b68dc7025f0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/khangman-19.08.3.tar.xz">khangman-19.08.3</a></td>
   <td align="right">6.7MB</td>
   <td><tt>62dcc2754c4e9b65143ffdca700d4f18b8021556</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/khelpcenter-19.08.3.tar.xz">khelpcenter-19.08.3</a></td>
   <td align="right">3.6MB</td>
   <td><tt>a7724bb82d9bb4c2fb85c2b7537d26bac717de7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kidentitymanagement-19.08.3.tar.xz">kidentitymanagement-19.08.3</a></td>
   <td align="right">145kB</td>
   <td><tt>de8489a258fccfc2876b0e21c7b3396c10bc5066</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kig-19.08.3.tar.xz">kig-19.08.3</a></td>
   <td align="right">3.3MB</td>
   <td><tt>2877d61295b3039f964be85736449c277c86c20d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kigo-19.08.3.tar.xz">kigo-19.08.3</a></td>
   <td align="right">4.9MB</td>
   <td><tt>d2f5453c8c8fd04dd792625bae30aaea903a4694</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/killbots-19.08.3.tar.xz">killbots-19.08.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>b116c4017c30828b9bcded143665717eb4d92265</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kimagemapeditor-19.08.3.tar.xz">kimagemapeditor-19.08.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>b329331accb8a9675b22c9a4100fea43c40bb5a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kimap-19.08.3.tar.xz">kimap-19.08.3</a></td>
   <td align="right">116kB</td>
   <td><tt>2ab1b953f2bd7286ca0b277edc6bd8d2a2a140d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kio-extras-19.08.3.tar.xz">kio-extras-19.08.3</a></td>
   <td align="right">563kB</td>
   <td><tt>090885e0f1a45a311319a5dc63efff2da3d3417d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kipi-plugins-19.08.3.tar.xz">kipi-plugins-19.08.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>b7ce05d24b040d739977c2fe53837a49bcc05469</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kirigami-gallery-19.08.3.tar.xz">kirigami-gallery-19.08.3</a></td>
   <td align="right">270kB</td>
   <td><tt>9d32feab37d475a9391a7d55333d72bbaeba779b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kiriki-19.08.3.tar.xz">kiriki-19.08.3</a></td>
   <td align="right">364kB</td>
   <td><tt>4addf09c4a546d4b4d96c56ab8e94c222b170fc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kiten-19.08.3.tar.xz">kiten-19.08.3</a></td>
   <td align="right">10MB</td>
   <td><tt>183a1ef875d28f74a5b37ad3140ab06756ca75ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kitinerary-19.08.3.tar.xz">kitinerary-19.08.3</a></td>
   <td align="right">933kB</td>
   <td><tt>ebf7c766c238326e821f0035cd3f0c7d171907fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kjumpingcube-19.08.3.tar.xz">kjumpingcube-19.08.3</a></td>
   <td align="right">281kB</td>
   <td><tt>c1e1eb04f3bca1da191286d6af9b14e740da9fb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kldap-19.08.3.tar.xz">kldap-19.08.3</a></td>
   <td align="right">151kB</td>
   <td><tt>f785dd2d53c6d0f241ba74b3933db1d580aec875</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kleopatra-19.08.3.tar.xz">kleopatra-19.08.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>ba89675daf11936ab7ec3cbc3dd904ecc3c8e4ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/klettres-19.08.3.tar.xz">klettres-19.08.3</a></td>
   <td align="right">38MB</td>
   <td><tt>b58dbacaaceced551af4b0c94aca45f16a141432</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/klickety-19.08.3.tar.xz">klickety-19.08.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>ff2215a3e2d936b637ab59ef3f87ece2ed3cfe8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/klines-19.08.3.tar.xz">klines-19.08.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>56ebe983ab83637df06dda24f4ed087b58a90cbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kmag-19.08.3.tar.xz">kmag-19.08.3</a></td>
   <td align="right">657kB</td>
   <td><tt>9ad32710770f4383d367f548318617abdfcf51d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kmahjongg-19.08.3.tar.xz">kmahjongg-19.08.3</a></td>
   <td align="right">3.2MB</td>
   <td><tt>0738a18753fbd168cae3a16421b99ff00affd93e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kmail-19.08.3.tar.xz">kmail-19.08.3</a></td>
   <td align="right">4.5MB</td>
   <td><tt>c1d307005a3066ffb8e05dbd29e35c8b43691df2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kmail-account-wizard-19.08.3.tar.xz">kmail-account-wizard-19.08.3</a></td>
   <td align="right">154kB</td>
   <td><tt>adf2c26aea781f505857ba320d603c47539b4b13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kmailtransport-19.08.3.tar.xz">kmailtransport-19.08.3</a></td>
   <td align="right">162kB</td>
   <td><tt>81a914a43372421c989a809c2a1b1fc7517142d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kmbox-19.08.3.tar.xz">kmbox-19.08.3</a></td>
   <td align="right">23kB</td>
   <td><tt>8ad50a9e86e4e1f9385b83d56c0e18ce722467b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kmime-19.08.3.tar.xz">kmime-19.08.3</a></td>
   <td align="right">143kB</td>
   <td><tt>78c4227ada3b24f968588dec64589ff277507577</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kmines-19.08.3.tar.xz">kmines-19.08.3</a></td>
   <td align="right">877kB</td>
   <td><tt>df8544dfc7db0aa021bae9d4ab258b15057fa10b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kmix-19.08.3.tar.xz">kmix-19.08.3</a></td>
   <td align="right">981kB</td>
   <td><tt>1646128acfa64a8c613677f558c026d37244046c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kmousetool-19.08.3.tar.xz">kmousetool-19.08.3</a></td>
   <td align="right">110kB</td>
   <td><tt>91290346b16519cc9ba975e42cd1a07764e3b38b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kmouth-19.08.3.tar.xz">kmouth-19.08.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>e0324c450c8a9cbc8b07db8fe01892d3ee2cd928</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kmplot-19.08.3.tar.xz">kmplot-19.08.3</a></td>
   <td align="right">2.9MB</td>
   <td><tt>4be22ee67dd1a32d747f9c00f304ee427539a9e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/knavalbattle-19.08.3.tar.xz">knavalbattle-19.08.3</a></td>
   <td align="right">1.2MB</td>
   <td><tt>64ba93d2db26740dd93fda1a36c202c848abbd4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/knetwalk-19.08.3.tar.xz">knetwalk-19.08.3</a></td>
   <td align="right">1014kB</td>
   <td><tt>274e131db7465c0af32d37580f43ae112e181aea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/knights-19.08.3.tar.xz">knights-19.08.3</a></td>
   <td align="right">3.3MB</td>
   <td><tt>0dc5cea5cc019a6009d7e4f1856f735d201d89e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/knotes-19.08.3.tar.xz">knotes-19.08.3</a></td>
   <td align="right">311kB</td>
   <td><tt>6d8e9fccc38f7e81af3cf69a9410d8f2393505ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kolf-19.08.3.tar.xz">kolf-19.08.3</a></td>
   <td align="right">1005kB</td>
   <td><tt>8e1397cde6dd3e3923efa931ae9d084b6f595e61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kollision-19.08.3.tar.xz">kollision-19.08.3</a></td>
   <td align="right">274kB</td>
   <td><tt>e7e0e5e8db2ba14f6abaa0e1e62d6f35c8d82aab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kolourpaint-19.08.3.tar.xz">kolourpaint-19.08.3</a></td>
   <td align="right">5.3MB</td>
   <td><tt>44f2732783e08447f4c0ba829062f52c488aaa4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kompare-19.08.3.tar.xz">kompare-19.08.3</a></td>
   <td align="right">782kB</td>
   <td><tt>35b829ae3826efc2599553ec91ae1656d8ceefe9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/konqueror-19.08.3.tar.xz">konqueror-19.08.3</a></td>
   <td align="right">7.2MB</td>
   <td><tt>b6b970bbb9df838dfc8c7142a966456295d7403c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/konquest-19.08.3.tar.xz">konquest-19.08.3</a></td>
   <td align="right">643kB</td>
   <td><tt>3973050b7c83762ad28ebbfc0fc82c8edb243638</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/konsole-19.08.3.tar.xz">konsole-19.08.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>418b8c71d3ce22f1d8d7eacd92e3b35b7f546de5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kontact-19.08.3.tar.xz">kontact-19.08.3</a></td>
   <td align="right">776kB</td>
   <td><tt>890ff3653ba74e5c58be3b5364d723301189e117</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kontactinterface-19.08.3.tar.xz">kontactinterface-19.08.3</a></td>
   <td align="right">32kB</td>
   <td><tt>adc0741cda293c67557cf0d4f3f31b0c7ebb4e96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kopete-19.08.3.tar.xz">kopete-19.08.3</a></td>
   <td align="right">8.9MB</td>
   <td><tt>c109f9bb4ed5c694506df9e6b0a4f545e1ba1dd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/korganizer-19.08.3.tar.xz">korganizer-19.08.3</a></td>
   <td align="right">2.1MB</td>
   <td><tt>6042a4d423788ecd9f894e063a6b373b853faff9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kpat-19.08.3.tar.xz">kpat-19.08.3</a></td>
   <td align="right">3.4MB</td>
   <td><tt>6cd92354b7e1856ff6e0bba09f57a1e19ffd0712</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kpimtextedit-19.08.3.tar.xz">kpimtextedit-19.08.3</a></td>
   <td align="right">151kB</td>
   <td><tt>d89150288d303000bb7a2036a9cc92dbc637cdac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kpkpass-19.08.3.tar.xz">kpkpass-19.08.3</a></td>
   <td align="right">22kB</td>
   <td><tt>4abde32f3d51f294a8b66f32b95b149d407c3e18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kqtquickcharts-19.08.3.tar.xz">kqtquickcharts-19.08.3</a></td>
   <td align="right">25kB</td>
   <td><tt>8a494b9959ade062b7405ea7887571a3133c1cec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/krdc-19.08.3.tar.xz">krdc-19.08.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>3d606b797f5677db0fd875563bb4746f9b8f4184</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kreversi-19.08.3.tar.xz">kreversi-19.08.3</a></td>
   <td align="right">923kB</td>
   <td><tt>a85a52c87d7da402ea2e67ef2d7d2dfa8ea7430b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/krfb-19.08.3.tar.xz">krfb-19.08.3</a></td>
   <td align="right">1.2MB</td>
   <td><tt>4c43a59403abc6de7593a1ab956a9ef82d6a751f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kross-interpreters-19.08.3.tar.xz">kross-interpreters-19.08.3</a></td>
   <td align="right">148kB</td>
   <td><tt>822142ef32edec43a18c59f9b2158ae6018aab21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kruler-19.08.3.tar.xz">kruler-19.08.3</a></td>
   <td align="right">243kB</td>
   <td><tt>6f04ceb0aaf13bec7e9c7ccf574c9a59f7b350d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kshisen-19.08.3.tar.xz">kshisen-19.08.3</a></td>
   <td align="right">802kB</td>
   <td><tt>9c3d7a7127261092db15575068ac13123c5b306d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/ksirk-19.08.3.tar.xz">ksirk-19.08.3</a></td>
   <td align="right">6.6MB</td>
   <td><tt>58c68fc544833431559a466cec05b9134b8a1e28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/ksmtp-19.08.3.tar.xz">ksmtp-19.08.3</a></td>
   <td align="right">39kB</td>
   <td><tt>a352fe1591bcecbd52eb965d1cd2e0333177569d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/ksnakeduel-19.08.3.tar.xz">ksnakeduel-19.08.3</a></td>
   <td align="right">590kB</td>
   <td><tt>6db580c9c99e67d6ccf64b4fc3c5ada1151b8688</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kspaceduel-19.08.3.tar.xz">kspaceduel-19.08.3</a></td>
   <td align="right">596kB</td>
   <td><tt>eb4b685b7c91173e0ff5c03d28e78ed099cec836</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/ksquares-19.08.3.tar.xz">ksquares-19.08.3</a></td>
   <td align="right">254kB</td>
   <td><tt>55a5d7fb83fd1b3e713fca8c131bb1f4948e6795</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/ksudoku-19.08.3.tar.xz">ksudoku-19.08.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>f5d4512565486d617daf7c9bbbfee09c943f52fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/ksystemlog-19.08.3.tar.xz">ksystemlog-19.08.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>11cf9cc16bf7b9c0912ea4a1f683338e426cedd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kteatime-19.08.3.tar.xz">kteatime-19.08.3</a></td>
   <td align="right">280kB</td>
   <td><tt>22c36e95027c64f370ed7f92d99549bf75f2b6a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/ktimer-19.08.3.tar.xz">ktimer-19.08.3</a></td>
   <td align="right">367kB</td>
   <td><tt>5b622dcf4aa4e48787d706c215f9eb1ca236d583</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/ktnef-19.08.3.tar.xz">ktnef-19.08.3</a></td>
   <td align="right">292kB</td>
   <td><tt>22b0e7bbcf092dad20a7da40fb6bdd5ee410774d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/ktouch-19.08.3.tar.xz">ktouch-19.08.3</a></td>
   <td align="right">4.7MB</td>
   <td><tt>5824131b87e5920d81b8cb9ce4d17f9687eece93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/ktp-accounts-kcm-19.08.3.tar.xz">ktp-accounts-kcm-19.08.3</a></td>
   <td align="right">258kB</td>
   <td><tt>4b4b00564499656bdaf5d2bc07b97dfd625b310c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/ktp-approver-19.08.3.tar.xz">ktp-approver-19.08.3</a></td>
   <td align="right">36kB</td>
   <td><tt>90ef4151479d11c81668cce6df4a387124b81e8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/ktp-auth-handler-19.08.3.tar.xz">ktp-auth-handler-19.08.3</a></td>
   <td align="right">45kB</td>
   <td><tt>9c44aec7442011013d2010f0fa91906e1d93447b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/ktp-call-ui-19.08.3.tar.xz">ktp-call-ui-19.08.3</a></td>
   <td align="right">94kB</td>
   <td><tt>38750a48733790acf806fa9dfbec0ffd3314b08c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/ktp-common-internals-19.08.3.tar.xz">ktp-common-internals-19.08.3</a></td>
   <td align="right">435kB</td>
   <td><tt>528aee2c4e65071c144e9ecad2f1dc546e2814ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/ktp-contact-list-19.08.3.tar.xz">ktp-contact-list-19.08.3</a></td>
   <td align="right">145kB</td>
   <td><tt>13e275378763e0cf92c9a255cb1d35309e843912</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/ktp-contact-runner-19.08.3.tar.xz">ktp-contact-runner-19.08.3</a></td>
   <td align="right">41kB</td>
   <td><tt>12f807ec250d6d62d7328b348e3d7bba9f96db41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/ktp-desktop-applets-19.08.3.tar.xz">ktp-desktop-applets-19.08.3</a></td>
   <td align="right">42kB</td>
   <td><tt>92c7c50b27ea512f30733e24e2f153e11d1bc353</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/ktp-filetransfer-handler-19.08.3.tar.xz">ktp-filetransfer-handler-19.08.3</a></td>
   <td align="right">45kB</td>
   <td><tt>ea92ffc9e063207511dc50bdcbe87e7bb4343e8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/ktp-kded-module-19.08.3.tar.xz">ktp-kded-module-19.08.3</a></td>
   <td align="right">94kB</td>
   <td><tt>63fd4a36b1ce8db9c1eb8fc5f3f3d61ded1b942e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/ktp-send-file-19.08.3.tar.xz">ktp-send-file-19.08.3</a></td>
   <td align="right">28kB</td>
   <td><tt>3ceef401dd75c25d49ba586e4e43184c8dd10793</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/ktp-text-ui-19.08.3.tar.xz">ktp-text-ui-19.08.3</a></td>
   <td align="right">458kB</td>
   <td><tt>9137b4b718f6bd02f887dbff20b123aa96336e53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/ktuberling-19.08.3.tar.xz">ktuberling-19.08.3</a></td>
   <td align="right">31MB</td>
   <td><tt>1ecef30a9e076eea20bee91cb32025f297269207</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kturtle-19.08.3.tar.xz">kturtle-19.08.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>d434e220b9a14917b3912e304a4ba7fd7e5535bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kubrick-19.08.3.tar.xz">kubrick-19.08.3</a></td>
   <td align="right">306kB</td>
   <td><tt>6d4490556a0f36fbe052635ced7db394eff6a0d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kwalletmanager-19.08.3.tar.xz">kwalletmanager-19.08.3</a></td>
   <td align="right">768kB</td>
   <td><tt>b31b50ff13c2f14a58f8ba72297cad81a17dc346</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kwave-19.08.3.tar.xz">kwave-19.08.3</a></td>
   <td align="right">5.9MB</td>
   <td><tt>58df94500acbde77ce352c860e34c62163911820</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/kwordquiz-19.08.3.tar.xz">kwordquiz-19.08.3</a></td>
   <td align="right">3.9MB</td>
   <td><tt>4c353e87c708dbbcfca4ab98528974c7d71f4171</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/libgravatar-19.08.3.tar.xz">libgravatar-19.08.3</a></td>
   <td align="right">30kB</td>
   <td><tt>9345b57acea241ed5cd69accf7609d24bfc12f3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/libkcddb-19.08.3.tar.xz">libkcddb-19.08.3</a></td>
   <td align="right">414kB</td>
   <td><tt>24616a32912b3969e2e151ecac7e10f4bb5c5791</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/libkcompactdisc-19.08.3.tar.xz">libkcompactdisc-19.08.3</a></td>
   <td align="right">86kB</td>
   <td><tt>f4d6273164ff18fec9798e2200b09c1d162b8940</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/libkdcraw-19.08.3.tar.xz">libkdcraw-19.08.3</a></td>
   <td align="right">41kB</td>
   <td><tt>59f41fd13d365c10072ba8f63120ed565139c58d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/libkdegames-19.08.3.tar.xz">libkdegames-19.08.3</a></td>
   <td align="right">6.0MB</td>
   <td><tt>16d95f2a1b70a47a966a5b7984d44567dc4eeaa8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/libkdepim-19.08.3.tar.xz">libkdepim-19.08.3</a></td>
   <td align="right">325kB</td>
   <td><tt>631a1ff7425bd40ec26efdf60391550114c832ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/libkeduvocdocument-19.08.3.tar.xz">libkeduvocdocument-19.08.3</a></td>
   <td align="right">206kB</td>
   <td><tt>2f4d80fe8e9b0a9280a41feebfc5153453c231e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/libkexiv2-19.08.3.tar.xz">libkexiv2-19.08.3</a></td>
   <td align="right">63kB</td>
   <td><tt>b93562ab85c93a75c5afb6d9b585bd22c2e91398</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/libkgapi-19.08.3.tar.xz">libkgapi-19.08.3</a></td>
   <td align="right">228kB</td>
   <td><tt>1dfa12a27a16d118e455d40e7ed67debe3b5ca40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/libkgeomap-19.08.3.tar.xz">libkgeomap-19.08.3</a></td>
   <td align="right">147kB</td>
   <td><tt>1127421250680a4bf3cad5aadaae0be5f8a54879</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/libkipi-19.08.3.tar.xz">libkipi-19.08.3</a></td>
   <td align="right">101kB</td>
   <td><tt>49921fc73c220de000b0b06882ee8e032fc75645</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/libkleo-19.08.3.tar.xz">libkleo-19.08.3</a></td>
   <td align="right">330kB</td>
   <td><tt>a00f2df9fa98e8d154f7da717b5cf625284af2d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/libkmahjongg-19.08.3.tar.xz">libkmahjongg-19.08.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>85434523d0ed15ec54aed7d2630888c88c6602ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/libkomparediff2-19.08.3.tar.xz">libkomparediff2-19.08.3</a></td>
   <td align="right">169kB</td>
   <td><tt>ebdd8b1ff687642348c93ba37fdb173e46f5d669</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/libksane-19.08.3.tar.xz">libksane-19.08.3</a></td>
   <td align="right">135kB</td>
   <td><tt>54d70dee4075e7a890bf265e539044c39fc47e9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/libksieve-19.08.3.tar.xz">libksieve-19.08.3</a></td>
   <td align="right">536kB</td>
   <td><tt>b041cfaf1732e994994227bfd26ae77320d37718</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/lokalize-19.08.3.tar.xz">lokalize-19.08.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>c566e3af3efab09c1a8feecf55cd019264484d9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/lskat-19.08.3.tar.xz">lskat-19.08.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>12c5199ae5fc8fd90d5b6da5ecf37aa150baf9af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/mailcommon-19.08.3.tar.xz">mailcommon-19.08.3</a></td>
   <td align="right">677kB</td>
   <td><tt>0125972afa80f1efc31098cf514303d6df9258ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/mailimporter-19.08.3.tar.xz">mailimporter-19.08.3</a></td>
   <td align="right">527kB</td>
   <td><tt>757050712c15889527552618c3e48f5c729f40e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/marble-19.08.3.tar.xz">marble-19.08.3</a></td>
   <td align="right">49MB</td>
   <td><tt>482b89087f5250ce273096ed09dbb32b5703170a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/mbox-importer-19.08.3.tar.xz">mbox-importer-19.08.3</a></td>
   <td align="right">32kB</td>
   <td><tt>9e4c8b5ea0a5955eae2fe3a7e4ce1036103631a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/messagelib-19.08.3.tar.xz">messagelib-19.08.3</a></td>
   <td align="right">9.9MB</td>
   <td><tt>20a66cc94ab3228a23cd1f53d726e92b10834bf7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/minuet-19.08.3.tar.xz">minuet-19.08.3</a></td>
   <td align="right">26MB</td>
   <td><tt>ac7e35d3d98bbdd96104e5cfadcdc36eeb070f9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/okular-19.08.3.tar.xz">okular-19.08.3</a></td>
   <td align="right">6.7MB</td>
   <td><tt>404606ae8cbe4325ba4df2263104cd0f74ba027e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/palapeli-19.08.3.tar.xz">palapeli-19.08.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>2594154282e892ce7e4d57dfb5d9a29f8fec228d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/parley-19.08.3.tar.xz">parley-19.08.3</a></td>
   <td align="right">8.4MB</td>
   <td><tt>d3348375e7b50426a12abc39301b3cb15750ae44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/picmi-19.08.3.tar.xz">picmi-19.08.3</a></td>
   <td align="right">1.2MB</td>
   <td><tt>48728392ad47793778e7876ea6f3565b6550c3f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/pimcommon-19.08.3.tar.xz">pimcommon-19.08.3</a></td>
   <td align="right">286kB</td>
   <td><tt>34ec806c70de87b5814970fc133dce0366585749</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/pim-data-exporter-19.08.3.tar.xz">pim-data-exporter-19.08.3</a></td>
   <td align="right">198kB</td>
   <td><tt>74bcaa8e2b492461b54e873530ed08a2afb08c1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/pim-sieve-editor-19.08.3.tar.xz">pim-sieve-editor-19.08.3</a></td>
   <td align="right">440kB</td>
   <td><tt>d6f64124f57b9f5beba9ec20edda177c35912870</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/poxml-19.08.3.tar.xz">poxml-19.08.3</a></td>
   <td align="right">42kB</td>
   <td><tt>4b870b2882cdd99c17e9f58b846e717b3b1943e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/print-manager-19.08.3.tar.xz">print-manager-19.08.3</a></td>
   <td align="right">239kB</td>
   <td><tt>ecf05e479e33522414f93decc1c8ce4dc805e0b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/rocs-19.08.3.tar.xz">rocs-19.08.3</a></td>
   <td align="right">1.4MB</td>
   <td><tt>dc1266a860e54795a6ccf071a282fb368fb11043</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/signon-kwallet-extension-19.08.3.tar.xz">signon-kwallet-extension-19.08.3</a></td>
   <td align="right">10kB</td>
   <td><tt>9e92e31988a4a8070a06559fff65a9748dc87332</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/spectacle-19.08.3.tar.xz">spectacle-19.08.3</a></td>
   <td align="right">943kB</td>
   <td><tt>58357722a29797e1b834a5078d31f052783519f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/step-19.08.3.tar.xz">step-19.08.3</a></td>
   <td align="right">849kB</td>
   <td><tt>5c09763d75f8628365685035d6b60ce8bdf61b85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/svgpart-19.08.3.tar.xz">svgpart-19.08.3</a></td>
   <td align="right">20kB</td>
   <td><tt>68d09d8c345c04d3185f113114932b9dfbbddf52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/sweeper-19.08.3.tar.xz">sweeper-19.08.3</a></td>
   <td align="right">359kB</td>
   <td><tt>b9c93ee7cf57bebc07fd3a5651b515ee2c3e3d79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/umbrello-19.08.3.tar.xz">umbrello-19.08.3</a></td>
   <td align="right">3.5MB</td>
   <td><tt>d8a6d75f58b593862cf1575251470098f4eff2b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/yakuake-19.08.3.tar.xz">yakuake-19.08.3</a></td>
   <td align="right">362kB</td>
   <td><tt>d015cd1d2916753f5c94f81af3de41f87e221423</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/19.08.3/src/zeroconf-ioslave-19.08.3.tar.xz">zeroconf-ioslave-19.08.3</a></td>
   <td align="right">38kB</td>
   <td><tt>0d59ac1bc6f8ff8a3c8d260a1c09393b82b43a38</tt></td>
</tr>

</table>
