<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/analitza-4.9.95.tar.xz">analitza-4.9.95</a></td>
   <td align="right">170kB</td>
   <td><tt>279fa3fac98bbf5fc33f59714cbd4b822d65c320</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/ark-4.9.95.tar.xz">ark-4.9.95</a></td>
   <td align="right">229kB</td>
   <td><tt>cf7e2248e9f5fb94701017f4fdf6c92b647cc0f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/audiocd-kio-4.9.95.tar.xz">audiocd-kio-4.9.95</a></td>
   <td align="right">53kB</td>
   <td><tt>bf116156ff1f671aa398de0f4d3641ce321d1a06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/blinken-4.9.95.tar.xz">blinken-4.9.95</a></td>
   <td align="right">552kB</td>
   <td><tt>975d7220a99ef8cbc4129361ece150b53519335c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/bomber-4.9.95.tar.xz">bomber-4.9.95</a></td>
   <td align="right">381kB</td>
   <td><tt>b4e360cc5c4c204ecbb16ff7e2a8fd5e0e65c4fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/bovo-4.9.95.tar.xz">bovo-4.9.95</a></td>
   <td align="right">105kB</td>
   <td><tt>ba08535adf00822d32c5ab4b623e219a3a7ac466</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/cantor-4.9.95.tar.xz">cantor-4.9.95</a></td>
   <td align="right">302kB</td>
   <td><tt>757a9dafc33e18962ba88114be5438058946b99c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/dragon-4.9.95.tar.xz">dragon-4.9.95</a></td>
   <td align="right">383kB</td>
   <td><tt>61267c2d0389e037eb070304a2a4cf3346951b0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/ffmpegthumbs-4.9.95.tar.xz">ffmpegthumbs-4.9.95</a></td>
   <td align="right">19kB</td>
   <td><tt>9dd421b6ec6e6bc20f9d6324c103c5bcdd277cbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/filelight-4.9.95.tar.xz">filelight-4.9.95</a></td>
   <td align="right">286kB</td>
   <td><tt>9c559eacc9658a4aa227d2bdf28504019cac5e8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/granatier-4.9.95.tar.xz">granatier-4.9.95</a></td>
   <td align="right">1.3MB</td>
   <td><tt>536e9e50b7e1b87189787667479172a060f30cd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/gwenview-4.9.95.tar.xz">gwenview-4.9.95</a></td>
   <td align="right">2.0MB</td>
   <td><tt>a1002eed0b99623c157a810a9095b105fc1c0e27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/jovie-4.9.95.tar.xz">jovie-4.9.95</a></td>
   <td align="right">358kB</td>
   <td><tt>cb9f087f8460ab6f20fc92f3b2f5537c0aefc4fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/juk-4.9.95.tar.xz">juk-4.9.95</a></td>
   <td align="right">432kB</td>
   <td><tt>caf567e0bb35955fb490875f3f6284a94805b5d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kaccessible-4.9.95.tar.xz">kaccessible-4.9.95</a></td>
   <td align="right">19kB</td>
   <td><tt>c9fb5b6d2e6cd75f8ae54544ead0c1dc14be50ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kactivities-4.9.95.tar.xz">kactivities-4.9.95</a></td>
   <td align="right">97kB</td>
   <td><tt>2f908ab040f124bd054aff29fbe838378761a696</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kajongg-4.9.95.tar.xz">kajongg-4.9.95</a></td>
   <td align="right">2.3MB</td>
   <td><tt>40aecdfd4db764bb1251d98b5fcd1aa68f1eaf6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kalgebra-4.9.95.tar.xz">kalgebra-4.9.95</a></td>
   <td align="right">432kB</td>
   <td><tt>5b624e96e1d6d2c2dddab70c5b13daf284f3f57f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kalzium-4.9.95.tar.xz">kalzium-4.9.95</a></td>
   <td align="right">3.5MB</td>
   <td><tt>187adc48acd35a3f71c6cc48cfb53d1a115a60e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kamera-4.9.95.tar.xz">kamera-4.9.95</a></td>
   <td align="right">36kB</td>
   <td><tt>738977a1205cd8eb24f9fa30fca503b40911c92c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kanagram-4.9.95.tar.xz">kanagram-4.9.95</a></td>
   <td align="right">1.0MB</td>
   <td><tt>6491b2dc8e2473b140cc6ae20b1797f9d95e71a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kapman-4.9.95.tar.xz">kapman-4.9.95</a></td>
   <td align="right">1.5MB</td>
   <td><tt>33d4fbbb2bdd643a6a8bdd3749b3b14a07f0ca04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kate-4.9.95.tar.xz">kate-4.9.95</a></td>
   <td align="right">2.2MB</td>
   <td><tt>ba1a90474b3f7239cf264537c8b35cac8a64d3b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/katomic-4.9.95.tar.xz">katomic-4.9.95</a></td>
   <td align="right">649kB</td>
   <td><tt>b3c4444d91322ea5cff7a0d56efb8ca568a2fa68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kblackbox-4.9.95.tar.xz">kblackbox-4.9.95</a></td>
   <td align="right">103kB</td>
   <td><tt>371dbb921905d5da162a8a125a97f2c59001273f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kblocks-4.9.95.tar.xz">kblocks-4.9.95</a></td>
   <td align="right">1.1MB</td>
   <td><tt>7840edbe205f624d049ae8f758b02325bafec333</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kbounce-4.9.95.tar.xz">kbounce-4.9.95</a></td>
   <td align="right">1.5MB</td>
   <td><tt>36da8dde75cc83c092854ed1f5f6015078825b70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kbreakout-4.9.95.tar.xz">kbreakout-4.9.95</a></td>
   <td align="right">1.3MB</td>
   <td><tt>338e234fcc7583f35294a357983f9902cc83fdeb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kbruch-4.9.95.tar.xz">kbruch-4.9.95</a></td>
   <td align="right">885kB</td>
   <td><tt>899f22d3693111a36d92dad368fe6feac21f9946</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kcalc-4.9.95.tar.xz">kcalc-4.9.95</a></td>
   <td align="right">88kB</td>
   <td><tt>1fe95e99e32b5fdd9280849c2fde5389c1650678</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kcharselect-4.9.95.tar.xz">kcharselect-4.9.95</a></td>
   <td align="right">83kB</td>
   <td><tt>7cb85f9baf763165d5231e70bd4c87af039eec46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kcolorchooser-4.9.95.tar.xz">kcolorchooser-4.9.95</a></td>
   <td align="right">4kB</td>
   <td><tt>d462db8957d92f642d635312858d137f65285e6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kdeadmin-4.9.95.tar.xz">kdeadmin-4.9.95</a></td>
   <td align="right">649kB</td>
   <td><tt>7a27c15f2abbf963fd6413cf097517c70ffd6530</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kdeartwork-4.9.95.tar.xz">kdeartwork-4.9.95</a></td>
   <td align="right">135MB</td>
   <td><tt>f1ca98976d54af3edce7d7884865d9d5ab9bee5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-baseapps-4.9.95.tar.xz">kde-baseapps-4.9.95</a></td>
   <td align="right">2.3MB</td>
   <td><tt>a28eebf05bc484a2b91c33c8c700a0f09c57ed3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-base-artwork-4.9.95.tar.xz">kde-base-artwork-4.9.95</a></td>
   <td align="right">7.0MB</td>
   <td><tt>e1656e5eb8856f191e23cc004e591390d8b7d77f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kdegraphics-mobipocket-4.9.95.tar.xz">kdegraphics-mobipocket-4.9.95</a></td>
   <td align="right">19kB</td>
   <td><tt>715385eab879e22f56b46f73c118b2d94d7dc3d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kdegraphics-strigi-analyzer-4.9.95.tar.xz">kdegraphics-strigi-analyzer-4.9.95</a></td>
   <td align="right">38kB</td>
   <td><tt>d5ea9736fd1aa282b3437b3baa28c0956723716c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kdegraphics-thumbnailers-4.9.95.tar.xz">kdegraphics-thumbnailers-4.9.95</a></td>
   <td align="right">40kB</td>
   <td><tt>5d6374dcbc5991687367f678f53e289bbb434bd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kdelibs-4.9.95.tar.xz">kdelibs-4.9.95</a></td>
   <td align="right">11MB</td>
   <td><tt>c770a1752fb0c7cb9e2df0e424051eef57c0c9ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kdenetwork-4.9.95.tar.xz">kdenetwork-4.9.95</a></td>
   <td align="right">8.5MB</td>
   <td><tt>1568c53a949acf7c110f76e153a78ed28114bc4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kdepim-4.9.95.tar.xz">kdepim-4.9.95</a></td>
   <td align="right">13MB</td>
   <td><tt>30507d56162f563aec3aff9f2dd5b68df6a2645f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kdepimlibs-4.9.95.tar.xz">kdepimlibs-4.9.95</a></td>
   <td align="right">2.5MB</td>
   <td><tt>1a88826f75143ad2f2ab76d1c434a643ba1db5be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kdepim-runtime-4.9.95.tar.xz">kdepim-runtime-4.9.95</a></td>
   <td align="right">1.0MB</td>
   <td><tt>8695d188f360b955fb430d4a99498e4e2e777fe9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kdeplasma-addons-4.9.95.tar.xz">kdeplasma-addons-4.9.95</a></td>
   <td align="right">1.6MB</td>
   <td><tt>014576fb2ee8e8b6d57a5e38ef17405b6afdb940</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-runtime-4.9.95.tar.xz">kde-runtime-4.9.95</a></td>
   <td align="right">6.7MB</td>
   <td><tt>b5c271ddf335970d2d68395162b73f087efea4c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kdesdk-4.9.95.tar.xz">kdesdk-4.9.95</a></td>
   <td align="right">4.8MB</td>
   <td><tt>e73f4e7d2b02855230b289994da56fd6eabc7e38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kdetoys-4.9.95.tar.xz">kdetoys-4.9.95</a></td>
   <td align="right">366kB</td>
   <td><tt>da600b77ed84507f0e5de11e1d9e0b51be817c95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-wallpapers-4.9.95.tar.xz">kde-wallpapers-4.9.95</a></td>
   <td align="right">87MB</td>
   <td><tt>d4ff36f43825bf2684e1026502988f5fd090da13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kdewebdev-4.9.95.tar.xz">kdewebdev-4.9.95</a></td>
   <td align="right">2.4MB</td>
   <td><tt>104f936fbaf9c882343db61acfcde26d762db954</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-workspace-4.9.95.tar.xz">kde-workspace-4.9.95</a></td>
   <td align="right">19MB</td>
   <td><tt>531a7c34da49df5d50c267fcd88cf82a216cca4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kdf-4.9.95.tar.xz">kdf-4.9.95</a></td>
   <td align="right">151kB</td>
   <td><tt>f50e9e115ad1c8458d7bc1e2dc991a701ecd144c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kdiamond-4.9.95.tar.xz">kdiamond-4.9.95</a></td>
   <td align="right">3.9MB</td>
   <td><tt>8af0698d382ae6f76aeee384685a40d2118c1e4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kfloppy-4.9.95.tar.xz">kfloppy-4.9.95</a></td>
   <td align="right">59kB</td>
   <td><tt>f25aada779446cddee941b48b3bcddb9bd593b3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kfourinline-4.9.95.tar.xz">kfourinline-4.9.95</a></td>
   <td align="right">263kB</td>
   <td><tt>d77fcaa4108db159c6b6db962cc3f6636ce3462b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kgamma-4.9.95.tar.xz">kgamma-4.9.95</a></td>
   <td align="right">25kB</td>
   <td><tt>e1f49a529a058f022953a09da7eb8b7c6c7b853a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kgeography-4.9.95.tar.xz">kgeography-4.9.95</a></td>
   <td align="right">6.3MB</td>
   <td><tt>f2d89cf07449a7cec69cb4e236d894be6657f649</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kgoldrunner-4.9.95.tar.xz">kgoldrunner-4.9.95</a></td>
   <td align="right">1.9MB</td>
   <td><tt>d011a28a5d894ffa0056bbd51a57bbab28bb6921</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kgpg-4.9.95.tar.xz">kgpg-4.9.95</a></td>
   <td align="right">789kB</td>
   <td><tt>fe31000a177607f8f5ea826309bfdaccec3007a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/khangman-4.9.95.tar.xz">khangman-4.9.95</a></td>
   <td align="right">3.7MB</td>
   <td><tt>84fe69921859cd51672563d47fd3fdf6cf473b99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kig-4.9.95.tar.xz">kig-4.9.95</a></td>
   <td align="right">1.4MB</td>
   <td><tt>414b9d1dba8c25685ffcd6867bfe6a0b0c8066a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kigo-4.9.95.tar.xz">kigo-4.9.95</a></td>
   <td align="right">1.3MB</td>
   <td><tt>803298766752984e1a9a1d3bff17c6351c100d25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/killbots-4.9.95.tar.xz">killbots-4.9.95</a></td>
   <td align="right">949kB</td>
   <td><tt>9f1d66933163d3da44f1803a987a72607d4e7443</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kimono-4.9.95.tar.xz">kimono-4.9.95</a></td>
   <td align="right">916kB</td>
   <td><tt>f7213b8158774ccc2476fe91977c8db919c0cbd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kiriki-4.9.95.tar.xz">kiriki-4.9.95</a></td>
   <td align="right">121kB</td>
   <td><tt>49c1716d233b91c968beeeae381ee28ffa66749e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kiten-4.9.95.tar.xz">kiten-4.9.95</a></td>
   <td align="right">11MB</td>
   <td><tt>93c13fe7faca9e42b78eb0d7e5efd87311e52fdf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kjumpingcube-4.9.95.tar.xz">kjumpingcube-4.9.95</a></td>
   <td align="right">100kB</td>
   <td><tt>c7d5587f6b730ae618f0c24d4e59c7a449466429</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/klettres-4.9.95.tar.xz">klettres-4.9.95</a></td>
   <td align="right">2.5MB</td>
   <td><tt>528585e2a42de8043a143aa23c10be070160cb65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/klickety-4.9.95.tar.xz">klickety-4.9.95</a></td>
   <td align="right">832kB</td>
   <td><tt>690a76c0e800f1b14cd6288f495eaf95b0517b30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/klines-4.9.95.tar.xz">klines-4.9.95</a></td>
   <td align="right">934kB</td>
   <td><tt>2f40b10c6166820586a7006df10b1052ec23a609</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kmag-4.9.95.tar.xz">kmag-4.9.95</a></td>
   <td align="right">90kB</td>
   <td><tt>631343e7fab106191dde5406cd48d2f65b37dbd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kmahjongg-4.9.95.tar.xz">kmahjongg-4.9.95</a></td>
   <td align="right">1.0MB</td>
   <td><tt>075fa8d849e4e9d7242d1e37f8716ba3988f8c18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kmines-4.9.95.tar.xz">kmines-4.9.95</a></td>
   <td align="right">643kB</td>
   <td><tt>0e38966e8107b13c083528bc310c6aa6df4fc7f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kmix-4.9.95.tar.xz">kmix-4.9.95</a></td>
   <td align="right">372kB</td>
   <td><tt>f58cd0308933b02aae1ceff497fdb3ae08b7e952</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kmousetool-4.9.95.tar.xz">kmousetool-4.9.95</a></td>
   <td align="right">41kB</td>
   <td><tt>a2d8f996ed8802875724fff9364f94a727cd8329</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kmouth-4.9.95.tar.xz">kmouth-4.9.95</a></td>
   <td align="right">311kB</td>
   <td><tt>62eb1c7db5170f967069f7e3a97b4a94b8e4fc1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kmplot-4.9.95.tar.xz">kmplot-4.9.95</a></td>
   <td align="right">661kB</td>
   <td><tt>d29c5464d7177092f2cfc44acc1b5654d3a708f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/knavalbattle-4.9.95.tar.xz">knavalbattle-4.9.95</a></td>
   <td align="right">834kB</td>
   <td><tt>b893ba02f77cd3027f55c7bb57d942fdd48c7050</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/knetwalk-4.9.95.tar.xz">knetwalk-4.9.95</a></td>
   <td align="right">771kB</td>
   <td><tt>d5b6d4ef3502f3de541dc1e05a6096945c2932a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kolf-4.9.95.tar.xz">kolf-4.9.95</a></td>
   <td align="right">762kB</td>
   <td><tt>b820afafa5d75f276e46f86cc66e37c1e80168cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kollision-4.9.95.tar.xz">kollision-4.9.95</a></td>
   <td align="right">207kB</td>
   <td><tt>74f5c19ac50f3b2c677b6dfde1ef3b8b85350340</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kolourpaint-4.9.95.tar.xz">kolourpaint-4.9.95</a></td>
   <td align="right">1.1MB</td>
   <td><tt>bb307d0fc805a32d0adcc593fefcb45107005a45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/konquest-4.9.95.tar.xz">konquest-4.9.95</a></td>
   <td align="right">406kB</td>
   <td><tt>81b363fad2eadea59bcf1d45ed79fdb8eeeb2943</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/konsole-4.9.95.tar.xz">konsole-4.9.95</a></td>
   <td align="right">429kB</td>
   <td><tt>82b53c44e05d01620102ae27a80f7f4885e2213a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/korundum-4.9.95.tar.xz">korundum-4.9.95</a></td>
   <td align="right">156kB</td>
   <td><tt>780275964370eef3c14ce88eeb6389335a6379b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kpat-4.9.95.tar.xz">kpat-4.9.95</a></td>
   <td align="right">2.9MB</td>
   <td><tt>90f78664276ee8cfe4503a8f6f71f9e15ffabacc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kremotecontrol-4.9.95.tar.xz">kremotecontrol-4.9.95</a></td>
   <td align="right">1.0MB</td>
   <td><tt>459bb83ba291b8dc47d0c971577aaf3a08bc1f84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kreversi-4.9.95.tar.xz">kreversi-4.9.95</a></td>
   <td align="right">388kB</td>
   <td><tt>ba16f2a2dcd301d2a8873a2c7bbe187a5c8f4e98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kross-interpreters-4.9.95.tar.xz">kross-interpreters-4.9.95</a></td>
   <td align="right">127kB</td>
   <td><tt>7d46e9eb28e630a06a073ae36f359dd84c1c9a2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kruler-4.9.95.tar.xz">kruler-4.9.95</a></td>
   <td align="right">130kB</td>
   <td><tt>4cc104c7e6852989b12e76b6c725f27ca135cd3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/ksaneplugin-4.9.95.tar.xz">ksaneplugin-4.9.95</a></td>
   <td align="right">12kB</td>
   <td><tt>b29c987dd00c41ab70a3bae97d6127a669308311</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kscd-4.9.95.tar.xz">kscd-4.9.95</a></td>
   <td align="right">91kB</td>
   <td><tt>1d80e1ad8255a290596779fad7e557fe6fc69e23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kshisen-4.9.95.tar.xz">kshisen-4.9.95</a></td>
   <td align="right">141kB</td>
   <td><tt>2ccb3152838e3e8df8a80a0605ab8f955dd2136c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/ksirk-4.9.95.tar.xz">ksirk-4.9.95</a></td>
   <td align="right">5.6MB</td>
   <td><tt>22e163387d29e77c72c67ca02cfe97c4d40ee9d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/ksnakeduel-4.9.95.tar.xz">ksnakeduel-4.9.95</a></td>
   <td align="right">312kB</td>
   <td><tt>6e2a634a97d7f6087ae6130bd3cbe24a058ab4d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/ksnapshot-4.9.95.tar.xz">ksnapshot-4.9.95</a></td>
   <td align="right">257kB</td>
   <td><tt>6f8daa20f1ac77f1cb5b6737dc83c26073cf316b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kspaceduel-4.9.95.tar.xz">kspaceduel-4.9.95</a></td>
   <td align="right">255kB</td>
   <td><tt>5ce26e23dd6fc1da95d23eacf3df32069226685e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/ksquares-4.9.95.tar.xz">ksquares-4.9.95</a></td>
   <td align="right">82kB</td>
   <td><tt>860d5b17ed376c1451ee1aefecfc515ab6181032</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kstars-4.9.95.tar.xz">kstars-4.9.95</a></td>
   <td align="right">11MB</td>
   <td><tt>46eed98749a15b29b4a18bc93c2c1c71f1a6ca7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/ksudoku-4.9.95.tar.xz">ksudoku-4.9.95</a></td>
   <td align="right">1.3MB</td>
   <td><tt>3a61a9c1edc0322f58f2e4be547412be46ad15b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/ktimer-4.9.95.tar.xz">ktimer-4.9.95</a></td>
   <td align="right">146kB</td>
   <td><tt>5b77c8be0b223bce6012f5d48f937ec487059208</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/ktouch-4.9.95.tar.xz">ktouch-4.9.95</a></td>
   <td align="right">2.4MB</td>
   <td><tt>cc077ce192792492cb1438540c6d4e2da8bda42c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/ktuberling-4.9.95.tar.xz">ktuberling-4.9.95</a></td>
   <td align="right">4.0MB</td>
   <td><tt>da5bc9f554d3a99b00a6c08f1ede6857093e27a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kturtle-4.9.95.tar.xz">kturtle-4.9.95</a></td>
   <td align="right">208kB</td>
   <td><tt>0cf2e23eb1700c10c88a31c0edc33919fac3b27c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kubrick-4.9.95.tar.xz">kubrick-4.9.95</a></td>
   <td align="right">117kB</td>
   <td><tt>930827ad427818dfb21fc356c5d64a4d69313c46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kwallet-4.9.95.tar.xz">kwallet-4.9.95</a></td>
   <td align="right">274kB</td>
   <td><tt>19bd9630b03c486874e94ab9a2d2ec4d97309caf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kwordquiz-4.9.95.tar.xz">kwordquiz-4.9.95</a></td>
   <td align="right">1.1MB</td>
   <td><tt>ebe6ac89b0e47f8e308a899194fe26ce3aad49c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/libkcddb-4.9.95.tar.xz">libkcddb-4.9.95</a></td>
   <td align="right">153kB</td>
   <td><tt>4689df4c9a053be41d089c13d038161953998513</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/libkcompactdisc-4.9.95.tar.xz">libkcompactdisc-4.9.95</a></td>
   <td align="right">73kB</td>
   <td><tt>2e7a130a7b0c2f7e2fd0ea897bf17388941407b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/libkdcraw-4.9.95.tar.xz">libkdcraw-4.9.95</a></td>
   <td align="right">337kB</td>
   <td><tt>6384b2950de83e1151f45d7b0f615632d3b7b990</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/libkdeedu-4.9.95.tar.xz">libkdeedu-4.9.95</a></td>
   <td align="right">204kB</td>
   <td><tt>1e7fe03209ed0e1c7ba528c93ee25b5144b6428b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/libkdegames-4.9.95.tar.xz">libkdegames-4.9.95</a></td>
   <td align="right">5.6MB</td>
   <td><tt>46a42c7c57e96ed265a88c3b21685af010e34bb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/libkexiv2-4.9.95.tar.xz">libkexiv2-4.9.95</a></td>
   <td align="right">129kB</td>
   <td><tt>6f2ab9625abf99b9f78f959c0734b2b35b270662</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/libkipi-4.9.95.tar.xz">libkipi-4.9.95</a></td>
   <td align="right">91kB</td>
   <td><tt>100b849be3f0db533b3b213256714b065b478872</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/libkmahjongg-4.9.95.tar.xz">libkmahjongg-4.9.95</a></td>
   <td align="right">1.5MB</td>
   <td><tt>e46f8778c8ed2334a973d65c9bd37c9eb4247deb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/libksane-4.9.95.tar.xz">libksane-4.9.95</a></td>
   <td align="right">78kB</td>
   <td><tt>c313f08f9782656ce8a6b1c4e588a1549cb195bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/lskat-4.9.95.tar.xz">lskat-4.9.95</a></td>
   <td align="right">934kB</td>
   <td><tt>7e086d1829fd879232b155c836d96f853f3b8360</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/marble-4.9.95.tar.xz">marble-4.9.95</a></td>
   <td align="right">18MB</td>
   <td><tt>f790b6de61d5ebe28d047baad3b2e00cfd06139b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/mplayerthumbs-4.9.95.tar.xz">mplayerthumbs-4.9.95</a></td>
   <td align="right">26kB</td>
   <td><tt>0f13371b701211ef3b4efe18ba96bddfde5c77ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/nepomuk-core-4.9.95.tar.xz">nepomuk-core-4.9.95</a></td>
   <td align="right">351kB</td>
   <td><tt>98bee83019e469e28772da24cbec05d7744e6e44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/nepomuk-widgets-4.9.95.tar.xz">nepomuk-widgets-4.9.95</a></td>
   <td align="right">73kB</td>
   <td><tt>6a5524613da475ba47d8f4fc05fc4b2cc38630fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/okular-4.9.95.tar.xz">okular-4.9.95</a></td>
   <td align="right">1.3MB</td>
   <td><tt>0cdd0ecc876153d8e32775a123cc53d594526304</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/oxygen-icons-4.9.95.tar.xz">oxygen-icons-4.9.95</a></td>
   <td align="right">266MB</td>
   <td><tt>ab58b38d8d691d55578c5ad33ed0e5220f2906b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/pairs-4.9.95.tar.xz">pairs-4.9.95</a></td>
   <td align="right">2.0MB</td>
   <td><tt>b4a894bd1ad00c80ed8de422d0ee0e0304ca3f47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/palapeli-4.9.95.tar.xz">palapeli-4.9.95</a></td>
   <td align="right">1.6MB</td>
   <td><tt>7b0b8c927c74163a5773c68c0332445d6e9c9f48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/parley-4.9.95.tar.xz">parley-4.9.95</a></td>
   <td align="right">7.8MB</td>
   <td><tt>333bbc4ee35421e7ce45512b4f48e00168b06d7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/perlkde-4.9.95.tar.xz">perlkde-4.9.95</a></td>
   <td align="right">39kB</td>
   <td><tt>302c590c9388a178fa68fe50ac1eed20913f3c1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/perlqt-4.9.95.tar.xz">perlqt-4.9.95</a></td>
   <td align="right">1.7MB</td>
   <td><tt>bd70ee9d7c5dc2e69560f8e1a324a7d4fd70d1a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/picmi-4.9.95.tar.xz">picmi-4.9.95</a></td>
   <td align="right">709kB</td>
   <td><tt>7613ed74a717b7a3be48184ca001f7f4ac7df70b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/print-manager-4.9.95.tar.xz">print-manager-4.9.95</a></td>
   <td align="right">84kB</td>
   <td><tt>1017eb2d561348b1c1a566c4810317b19f84d8c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/pykde4-4.9.95.tar.xz">pykde4-4.9.95</a></td>
   <td align="right">1.8MB</td>
   <td><tt>b141ca1ba9082363bdc660ea441ec4948437218e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/qtruby-4.9.95.tar.xz">qtruby-4.9.95</a></td>
   <td align="right">518kB</td>
   <td><tt>162e2bd2cd886e4b36321b22a5960b43de2dd46e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/qyoto-4.9.95.tar.xz">qyoto-4.9.95</a></td>
   <td align="right">498kB</td>
   <td><tt>01a144330f4200d11be171715845bc794a2293e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/rocs-4.9.95.tar.xz">rocs-4.9.95</a></td>
   <td align="right">1.0MB</td>
   <td><tt>6358268fa2e4472da70c14c01a4081e3087f51aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/smokegen-4.9.95.tar.xz">smokegen-4.9.95</a></td>
   <td align="right">143kB</td>
   <td><tt>7fb2756fc1536681aa0c47be8e88e85931011249</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/smokekde-4.9.95.tar.xz">smokekde-4.9.95</a></td>
   <td align="right">36kB</td>
   <td><tt>0e67e797562954e2ad35e3c83782826a5fb2acf7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/smokeqt-4.9.95.tar.xz">smokeqt-4.9.95</a></td>
   <td align="right">29kB</td>
   <td><tt>9a859d3bf01aecfd08164b43cbd021330936b3e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/step-4.9.95.tar.xz">step-4.9.95</a></td>
   <td align="right">362kB</td>
   <td><tt>fc66e64147f01ce022352f733ffb5e3c1157478d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/superkaramba-4.9.95.tar.xz">superkaramba-4.9.95</a></td>
   <td align="right">374kB</td>
   <td><tt>7a614af0d67628515a98de206c36003c595bc977</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/svgpart-4.9.95.tar.xz">svgpart-4.9.95</a></td>
   <td align="right">8kB</td>
   <td><tt>139eafff3f938b3c356cf60d1bf15d08c298e09a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/sweeper-4.9.95.tar.xz">sweeper-4.9.95</a></td>
   <td align="right">81kB</td>
   <td><tt>036ae7d74e4e7a464a060424a7972c9b7ceeb486</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-ar-4.9.95.tar.xz">kde-l10n-ar-4.9.95</a></td>
   <td align="right">3.1MB</td>
   <td><tt>4f674d3f086feb49d65ab180379109cb98f73735</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-bg-4.9.95.tar.xz">kde-l10n-bg-4.9.95</a></td>
   <td align="right">1.9MB</td>
   <td><tt>7ca20f30dd417a4e36b8e16c00a8b297d578fb29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-bs-4.9.95.tar.xz">kde-l10n-bs-4.9.95</a></td>
   <td align="right">2.1MB</td>
   <td><tt>3dbaa0e8257960da0f9ee22552c6fe811a659e9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-ca-4.9.95.tar.xz">kde-l10n-ca-4.9.95</a></td>
   <td align="right">12MB</td>
   <td><tt>03d280531b31649ba05b4c397a7daf27ca04cd4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-ca@valencia-4.9.95.tar.xz">kde-l10n-ca@valencia-4.9.95</a></td>
   <td align="right">2.1MB</td>
   <td><tt>10deb579cb1b36c166b2e50e5d3bcaf80fbedc39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-cs-4.9.95.tar.xz">kde-l10n-cs-4.9.95</a></td>
   <td align="right">2.8MB</td>
   <td><tt>0350e8399f30e2aabffdc07f3a906da1f593da5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-cy-4.9.95.tar.xz">kde-l10n-cy-4.9.95</a></td>
   <td align="right">1.4MB</td>
   <td><tt>50e796f0d4d1062f891194f46c5901e26982f10a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-da-4.9.95.tar.xz">kde-l10n-da-4.9.95</a></td>
   <td align="right">12MB</td>
   <td><tt>bbe931166754463c676e94ff393557023d98a1d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-de-4.9.95.tar.xz">kde-l10n-de-4.9.95</a></td>
   <td align="right">36MB</td>
   <td><tt>2ef9744d64130f86cddcc92e45c1fcc83bce53af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-el-4.9.95.tar.xz">kde-l10n-el-4.9.95</a></td>
   <td align="right">4.6MB</td>
   <td><tt>ef1a408ba5ce20b6d651f5e68e82950422fc3f65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-en_GB-4.9.95.tar.xz">kde-l10n-en_GB-4.9.95</a></td>
   <td align="right">3.0MB</td>
   <td><tt>99748722011c5b5854ba3c59054a4ac32c90283c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-es-4.9.95.tar.xz">kde-l10n-es-4.9.95</a></td>
   <td align="right">22MB</td>
   <td><tt>a0425c3d35c899a4f1cb21a06550ea68af5a47bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-et-4.9.95.tar.xz">kde-l10n-et-4.9.95</a></td>
   <td align="right">7.1MB</td>
   <td><tt>7e21c52653e509821b1566dc18f8edf3257948db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-eu-4.9.95.tar.xz">kde-l10n-eu-4.9.95</a></td>
   <td align="right">1.9MB</td>
   <td><tt>3dd402a4b1f93a16986b2e372cc4957a2e168b4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-fa-4.9.95.tar.xz">kde-l10n-fa-4.9.95</a></td>
   <td align="right">1.8MB</td>
   <td><tt>c1afaee6eade2b429eeef6877f789355cb99a0fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-fi-4.9.95.tar.xz">kde-l10n-fi-4.9.95</a></td>
   <td align="right">2.5MB</td>
   <td><tt>4a6dd520af20a8f82d138b84b642c1c08456d922</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-fr-4.9.95.tar.xz">kde-l10n-fr-4.9.95</a></td>
   <td align="right">42MB</td>
   <td><tt>e52190595f017b3bc4003aada2875d7c67c633d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-ga-4.9.95.tar.xz">kde-l10n-ga-4.9.95</a></td>
   <td align="right">2.7MB</td>
   <td><tt>fdee88acce3f7c3e8e29d65e09542b836db11dc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-gl-4.9.95.tar.xz">kde-l10n-gl-4.9.95</a></td>
   <td align="right">4.0MB</td>
   <td><tt>dc870d0f28aafa7e358671f969502c70760d6106</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-he-4.9.95.tar.xz">kde-l10n-he-4.9.95</a></td>
   <td align="right">2.0MB</td>
   <td><tt>ecd1ef3a7f54aebde7e1cb0994646939971d0b04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-hi-4.9.95.tar.xz">kde-l10n-hi-4.9.95</a></td>
   <td align="right">1.7MB</td>
   <td><tt>74f8cdf15201ed7a85518cd4610761c9c77e5964</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-hr-4.9.95.tar.xz">kde-l10n-hr-4.9.95</a></td>
   <td align="right">1.9MB</td>
   <td><tt>c95d43559912fc512dd0792294c7ba628c447992</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-hu-4.9.95.tar.xz">kde-l10n-hu-4.9.95</a></td>
   <td align="right">3.9MB</td>
   <td><tt>a133fdbd5f3516bc5adb3e86d65b6936281abae0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-ia-4.9.95.tar.xz">kde-l10n-ia-4.9.95</a></td>
   <td align="right">1.2MB</td>
   <td><tt>d4114da00da3efdde357eb8412a7c3e9df1767de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-is-4.9.95.tar.xz">kde-l10n-is-4.9.95</a></td>
   <td align="right">1.7MB</td>
   <td><tt>ebbb47394d39d10cf5ec85a6fd2d7b60a1c1e66f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-it-4.9.95.tar.xz">kde-l10n-it-4.9.95</a></td>
   <td align="right">9.9MB</td>
   <td><tt>c2193b6d4235307d94e2f73fe9c1c7f6dcf2de95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-ja-4.9.95.tar.xz">kde-l10n-ja-4.9.95</a></td>
   <td align="right">2.1MB</td>
   <td><tt>6bf0b908e48dfb3817b57d727f5ab9bcd6b3f129</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-kk-4.9.95.tar.xz">kde-l10n-kk-4.9.95</a></td>
   <td align="right">2.4MB</td>
   <td><tt>26dafe1c44a805f8a74502c8236f7b860e8e5a13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-km-4.9.95.tar.xz">kde-l10n-km-4.9.95</a></td>
   <td align="right">2.1MB</td>
   <td><tt>c11e70e454b4c5e48c5d5e39f7da50ef8a629a42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-ko-4.9.95.tar.xz">kde-l10n-ko-4.9.95</a></td>
   <td align="right">1.7MB</td>
   <td><tt>317012d554d050ca79232363158343f90672222b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-lt-4.9.95.tar.xz">kde-l10n-lt-4.9.95</a></td>
   <td align="right">12MB</td>
   <td><tt>d232fbb130716af17aa3c658580fc03bd70aac74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-lv-4.9.95.tar.xz">kde-l10n-lv-4.9.95</a></td>
   <td align="right">2.1MB</td>
   <td><tt>e9e3ac629b97bae5c46dcc7ec380a473f2fa8ceb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-nb-4.9.95.tar.xz">kde-l10n-nb-4.9.95</a></td>
   <td align="right">2.3MB</td>
   <td><tt>0a4b31831724a17eec8a51d5d91d6c0213d24868</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-nds-4.9.95.tar.xz">kde-l10n-nds-4.9.95</a></td>
   <td align="right">3.0MB</td>
   <td><tt>e8b4ee3535dacf572df253b6436136833e345889</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-nl-4.9.95.tar.xz">kde-l10n-nl-4.9.95</a></td>
   <td align="right">15MB</td>
   <td><tt>8001ce104b3ce6ff3ba2bae70c0099262f1f7490</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-nn-4.9.95.tar.xz">kde-l10n-nn-4.9.95</a></td>
   <td align="right">1.8MB</td>
   <td><tt>82ad4da16d9533eb443fe36811de8387fca00b23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-pa-4.9.95.tar.xz">kde-l10n-pa-4.9.95</a></td>
   <td align="right">1.7MB</td>
   <td><tt>e28c35e9b0ad39461ebb7bcad629319e3df00641</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-pl-4.9.95.tar.xz">kde-l10n-pl-4.9.95</a></td>
   <td align="right">16MB</td>
   <td><tt>30c1a5399b42986030d7829e760e7bb8cf434c0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-pt-4.9.95.tar.xz">kde-l10n-pt-4.9.95</a></td>
   <td align="right">5.4MB</td>
   <td><tt>eaaa4bb50f390ca3251606dd797da8fe3bf6032d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-pt_BR-4.9.95.tar.xz">kde-l10n-pt_BR-4.9.95</a></td>
   <td align="right">26MB</td>
   <td><tt>2c031bdf4882b9a05ae67e1c611c6a99a07b897e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-ro-4.9.95.tar.xz">kde-l10n-ro-4.9.95</a></td>
   <td align="right">2.8MB</td>
   <td><tt>96e5c3a2fcf3624f322aca63d1cb6cb3615e9943</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-ru-4.9.95.tar.xz">kde-l10n-ru-4.9.95</a></td>
   <td align="right">22MB</td>
   <td><tt>170d61f8795dbe762b404686c59a1c1e17c6246b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-si-4.9.95.tar.xz">kde-l10n-si-4.9.95</a></td>
   <td align="right">1.0MB</td>
   <td><tt>0653a559047d3b4882ffc4251d3e188d58824867</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-sk-4.9.95.tar.xz">kde-l10n-sk-4.9.95</a></td>
   <td align="right">4.1MB</td>
   <td><tt>1622c9b8b683280a0de851c6f208969c3b46789a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-sl-4.9.95.tar.xz">kde-l10n-sl-4.9.95</a></td>
   <td align="right">3.3MB</td>
   <td><tt>ccc227b098f26ea76551c4b1210ee4a4fdc252c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-sr-4.9.95.tar.xz">kde-l10n-sr-4.9.95</a></td>
   <td align="right">5.2MB</td>
   <td><tt>c58fcb9fe8d7519e593bdf650399b4f1ba494294</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-sv-4.9.95.tar.xz">kde-l10n-sv-4.9.95</a></td>
   <td align="right">15MB</td>
   <td><tt>0bd0ab3149f11cae7f8032eb6820f7ce50e9db0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-tg-4.9.95.tar.xz">kde-l10n-tg-4.9.95</a></td>
   <td align="right">1.8MB</td>
   <td><tt>2b5f53976d27bda9abaa02fbfbeb139acaadc5be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-th-4.9.95.tar.xz">kde-l10n-th-4.9.95</a></td>
   <td align="right">1.6MB</td>
   <td><tt>3c4ee1e3e75002c150cfb573ca3576c9d7f7a398</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-tr-4.9.95.tar.xz">kde-l10n-tr-4.9.95</a></td>
   <td align="right">3.8MB</td>
   <td><tt>d592ec7ad21d71f85ecbf5a8e22d62c45745fb66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-ug-4.9.95.tar.xz">kde-l10n-ug-4.9.95</a></td>
   <td align="right">1.6MB</td>
   <td><tt>220a4484d56c3f7a9297b182c1424c3e6e67132c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-uk-4.9.95.tar.xz">kde-l10n-uk-4.9.95</a></td>
   <td align="right">25MB</td>
   <td><tt>46a567f8413335bf17a5a43b38d8895aa52ee8af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-vi-4.9.95.tar.xz">kde-l10n-vi-4.9.95</a></td>
   <td align="right">905kB</td>
   <td><tt>b8b203d34b7b6258c9d2ec69d4c41651393740f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-wa-4.9.95.tar.xz">kde-l10n-wa-4.9.95</a></td>
   <td align="right">1.6MB</td>
   <td><tt>c8c3d43ce59491dc884b6a702434fff53d21faac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-zh_CN-4.9.95.tar.xz">kde-l10n-zh_CN-4.9.95</a></td>
   <td align="right">3.3MB</td>
   <td><tt>202c9104dff21461dc6280ef303566ec2261a59c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.9.95/src/kde-l10n/kde-l10n-zh_TW-4.9.95.tar.xz">kde-l10n-zh_TW-4.9.95</a></td>
   <td align="right">2.4MB</td>
   <td><tt>e1225b1a9569298c89d67ab57154e5648ac843a7</tt></td>
</tr>

</table>
