<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top"><th align="left">Location</th><th align="left">Size</th><th align="left">SHA1&nbsp;Sum</th></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.0/src/kdeaccessibility-4.3.0.tar.bz2">kdeaccessibility-4.3.0</a></td><td align="right">6,3MB</td><td><tt>ab75a7d05ee799885be140eb68c82eb14d87f943</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.0/src/kdeadmin-4.3.0.tar.bz2">kdeadmin-4.3.0</a></td><td align="right">1,8MB</td><td><tt>ae0b27883d9a23e3161a66c6040103e568cc086a</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.0/src/kdeartwork-4.3.0.tar.bz2">kdeartwork-4.3.0</a></td><td align="right">63MB</td><td><tt>991e4b9a951526e3b34672fbb9218416836f5c25</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.0/src/kdebase-4.3.0.tar.bz2">kdebase-4.3.0</a></td><td align="right">4,1MB</td><td><tt>073ccad4728bef9ca8ba0f3849c8c6756be52199</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.0/src/kdebase-runtime-4.3.0.tar.bz2">kdebase-runtime-4.3.0</a></td><td align="right">7,0MB</td><td><tt>df12e292ece343622f2e05848f1d72975b234ae9</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.0/src/kdebase-workspace-4.3.0.tar.bz2">kdebase-workspace-4.3.0</a></td><td align="right">60MB</td><td><tt>9a27b91b2c8a673fbdd6ea88385de0327f10e248</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.0/src/kdebindings-4.3.0.tar.bz2">kdebindings-4.3.0</a></td><td align="right">4,7MB</td><td><tt>4d2e9f014d47ae160ee63a6bd71970aa4a4ecd55</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.0/src/kdeedu-4.3.0.tar.bz2">kdeedu-4.3.0</a></td><td align="right">56MB</td><td><tt>aeda6605f721ead1d651cd9fba5277cef5358107</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.0/src/kdegames-4.3.0.tar.bz2">kdegames-4.3.0</a></td><td align="right">49MB</td><td><tt>f71dcff43a8d8eec749e18bb82484aa31fdf0e02</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.0/src/kdegraphics-4.3.0.tar.bz2">kdegraphics-4.3.0</a></td><td align="right">3,5MB</td><td><tt>11259831919088d93eeb0872a7fcc1028b570f53</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.0/src/kdelibs-4.3.0.tar.bz2">kdelibs-4.3.0</a></td><td align="right">11MB</td><td><tt>39d6577530a22e46a03ec64d1e5c075a163ca7d8</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.0/src/kdelibs-experimental-4.3.0.tar.bz2">kdelibs-experimental-4.3.0</a></td><td align="right">28KB</td><td><tt>f9f0d6310aaf30d0f40fe3042bd11436171b1178</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.0/src/kdemultimedia-4.3.0.tar.bz2">kdemultimedia-4.3.0</a></td><td align="right">1,6MB</td><td><tt>cc69baa1b8ce929b8c9696053491025c96142197</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.0/src/kdenetwork-4.3.0.tar.bz2">kdenetwork-4.3.0</a></td><td align="right">7,1MB</td><td><tt>741d26fd51031b72b132f6ac0f72316108a657a2</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.0/src/kdepim-4.3.0.tar.bz2">kdepim-4.3.0</a></td><td align="right">11MB</td><td><tt>9cae4058cf69b5799554ff863cd9467c2506b1d5</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.0/src/kdepimlibs-4.3.0.tar.bz2">kdepimlibs-4.3.0</a></td><td align="right">1,7MB</td><td><tt>987c5a7369d7344c555b77929785556612cdfa22</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.0/src/kdepim-runtime-4.3.0.tar.bz2">kdepim-runtime-4.3.0</a></td><td align="right">728KB</td><td><tt>70fe3d4b64f820d7c52953ddc99f667a600a86f0</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.0/src/kdeplasma-addons-4.3.0.tar.bz2">kdeplasma-addons-4.3.0</a></td><td align="right">1,4MB</td><td><tt>f0cc7332a6922c79d19173d7469a1ba029f48113</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.0/src/kdesdk-4.3.0.tar.bz2">kdesdk-4.3.0</a></td><td align="right">5,4MB</td><td><tt>41523dc3f1370ec2bee872d40fdf9f45ad872077</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.0/src/kdetoys-4.3.0.tar.bz2">kdetoys-4.3.0</a></td><td align="right">1,3MB</td><td><tt>c8c1ee68d707ea38f35f4406b2303dc1a989e4af</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.0/src/kdeutils-4.3.0.tar.bz2">kdeutils-4.3.0</a></td><td align="right">2,5MB</td><td><tt>a607174ae8cc2907b59a00f44e48aba2b95c5fc8</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.0/src/kdewebdev-4.3.0.tar.bz2">kdewebdev-4.3.0</a></td><td align="right">3,3MB</td><td><tt>e94a89c48158d232a70b646230171e83098b2657</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.3.0/src/oxygen-icons-4.3.0.tar.bz2">oxygen-icons-4.3.0</a></td><td align="right">102MB</td><td><tt>f18366694bb43dfd84aea57d80ebe814abeb0506</tt></td></tr>
</table>
