<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/amor-4.12.80.tar.xz">amor-4.12.80</a></td>
   <td align="right">169kB</td>
   <td><tt>a1666b7828f7aa17d55b4b71a0ccbc91eb4d1677</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/analitza-4.12.80.tar.xz">analitza-4.12.80</a></td>
   <td align="right">180kB</td>
   <td><tt>c51d504966645c7277afa86f63eba70137088052</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/ark-4.12.80.tar.xz">ark-4.12.80</a></td>
   <td align="right">224kB</td>
   <td><tt>704dc52ff58a4a958c3745b400ed5d7fbb74c1d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/artikulate-4.12.80.tar.xz">artikulate-4.12.80</a></td>
   <td align="right">3.5MB</td>
   <td><tt>1a1ee8e33f521c49900c00dfd67dd4578c3cfe02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/audiocd-kio-4.12.80.tar.xz">audiocd-kio-4.12.80</a></td>
   <td align="right">49kB</td>
   <td><tt>00009afb4621a2b5b74d2eef3648d939bfc5c917</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/baloo-4.12.80.tar.xz">baloo-4.12.80</a></td>
   <td align="right">112kB</td>
   <td><tt>36f74754eaf2e1cdc803c690b0cd8580bd7aedf5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/baloo-widgets-4.12.80.tar.xz">baloo-widgets-4.12.80</a></td>
   <td align="right">31kB</td>
   <td><tt>04ca2c45953b6f874ff56a18d71b971292dcc8e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/blinken-4.12.80.tar.xz">blinken-4.12.80</a></td>
   <td align="right">546kB</td>
   <td><tt>525a39f5d51075f1d4cdd6a92d3a4823f8ae348c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/bomber-4.12.80.tar.xz">bomber-4.12.80</a></td>
   <td align="right">376kB</td>
   <td><tt>553a66aaba33dae12994bedfc1c4aa8c94fe3163</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/bovo-4.12.80.tar.xz">bovo-4.12.80</a></td>
   <td align="right">98kB</td>
   <td><tt>79ef65cc2e488ff09add04e31a1f81d4f282eed3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/cantor-4.12.80.tar.xz">cantor-4.12.80</a></td>
   <td align="right">323kB</td>
   <td><tt>2d336bb9d6eae01ad04701ab0c477dd6484e8aea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/cervisia-4.12.80.tar.xz">cervisia-4.12.80</a></td>
   <td align="right">359kB</td>
   <td><tt>341b295a3fc9a0e04960fc2848c19500e257090d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/dolphin-plugins-4.12.80.tar.xz">dolphin-plugins-4.12.80</a></td>
   <td align="right">56kB</td>
   <td><tt>fd1bc7f63fb358d5c8975f64367246a0d49e40ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/dragon-4.12.80.tar.xz">dragon-4.12.80</a></td>
   <td align="right">381kB</td>
   <td><tt>b39d680d65a0e2d723c59696d8b8e267ab3e1a46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/ffmpegthumbs-4.12.80.tar.xz">ffmpegthumbs-4.12.80</a></td>
   <td align="right">19kB</td>
   <td><tt>7a111e7c5ee604701623f8774ded41f214d24a55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/filelight-4.12.80.tar.xz">filelight-4.12.80</a></td>
   <td align="right">280kB</td>
   <td><tt>a0b9c03db294007c4dc79727286ff19f757f10db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/granatier-4.12.80.tar.xz">granatier-4.12.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>a301463c3dd13149909f44ee04eb5f277a45beb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/gwenview-4.12.80.tar.xz">gwenview-4.12.80</a></td>
   <td align="right">2.7MB</td>
   <td><tt>c81dfb9c3803c2c58aca254e97eee02fb6632368</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/jovie-4.12.80.tar.xz">jovie-4.12.80</a></td>
   <td align="right">370kB</td>
   <td><tt>c31139a427d49ea1efa114419fb9a1a848fed273</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/juk-4.12.80.tar.xz">juk-4.12.80</a></td>
   <td align="right">418kB</td>
   <td><tt>55ad4cd634c102930776c4566019e00e2f78e63a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kaccessible-4.12.80.tar.xz">kaccessible-4.12.80</a></td>
   <td align="right">19kB</td>
   <td><tt>ff4d62a4e5ec314ced96cb1782731c1416ff8319</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kactivities-4.12.80.tar.xz">kactivities-4.12.80</a></td>
   <td align="right">85kB</td>
   <td><tt>9d1ca9f7eb64f8bc2555c07ee4ad3eae44689d96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kajongg-4.12.80.tar.xz">kajongg-4.12.80</a></td>
   <td align="right">2.3MB</td>
   <td><tt>e1b328ffe4f4483d647cad3081b460415b83e926</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kalgebra-4.12.80.tar.xz">kalgebra-4.12.80</a></td>
   <td align="right">264kB</td>
   <td><tt>cf8df6a7449a2dcdea657bd9b168ccc4eeec9d6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kalzium-4.12.80.tar.xz">kalzium-4.12.80</a></td>
   <td align="right">3.7MB</td>
   <td><tt>39f344c68113e4361ad3ddb9fbbd22e6d935f008</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kamera-4.12.80.tar.xz">kamera-4.12.80</a></td>
   <td align="right">34kB</td>
   <td><tt>f8ba8b14f30cb66e9c74c6fcaad314fc28baf324</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kanagram-4.12.80.tar.xz">kanagram-4.12.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>ac1a6091f2b148f3eb8eee367087de5763615743</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kapman-4.12.80.tar.xz">kapman-4.12.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>c485feb5704a320e2bb66c4672c24a6afbf7b486</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kapptemplate-4.12.80.tar.xz">kapptemplate-4.12.80</a></td>
   <td align="right">681kB</td>
   <td><tt>d3cf79454ca44d75dc45ded9ca8d6ec810afbe9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kate-4.12.80.tar.xz">kate-4.12.80</a></td>
   <td align="right">2.6MB</td>
   <td><tt>9b618791073d4380bc8542b4962ea537cf69e6be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/katomic-4.12.80.tar.xz">katomic-4.12.80</a></td>
   <td align="right">642kB</td>
   <td><tt>8f256b55894d79b3399a1d28176c8f19b125a31e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kblackbox-4.12.80.tar.xz">kblackbox-4.12.80</a></td>
   <td align="right">251kB</td>
   <td><tt>8873f333cdfc7400eb57db1af4ebaf0b2e65159f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kblocks-4.12.80.tar.xz">kblocks-4.12.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>e9f6a0d94a5d22161488de02f8ba97fcc3e96253</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kbounce-4.12.80.tar.xz">kbounce-4.12.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>6b1e6c58ed5b6365acad6c1e541c3b6974f10f14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kbreakout-4.12.80.tar.xz">kbreakout-4.12.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>dc89e1de166039f5010f56b9aaa7ffc8c1e292c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kbruch-4.12.80.tar.xz">kbruch-4.12.80</a></td>
   <td align="right">876kB</td>
   <td><tt>3bb39643e4d6ae19906458eb4b24b55715b13221</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kcachegrind-4.12.80.tar.xz">kcachegrind-4.12.80</a></td>
   <td align="right">229kB</td>
   <td><tt>e051aeb86e0745b39ffc50f5ba8278abc2ae0cbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kcalc-4.12.80.tar.xz">kcalc-4.12.80</a></td>
   <td align="right">79kB</td>
   <td><tt>d71cfd5bc96fd635e2d3ca7b7d8ae9cb0e780ff6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kcharselect-4.12.80.tar.xz">kcharselect-4.12.80</a></td>
   <td align="right">82kB</td>
   <td><tt>174e6af1c22c2817b4e93c132d596c87fa768f42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kcolorchooser-4.12.80.tar.xz">kcolorchooser-4.12.80</a></td>
   <td align="right">4kB</td>
   <td><tt>821ba605204184b04ac5382ab3604c2c8963284e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kcron-4.12.80.tar.xz">kcron-4.12.80</a></td>
   <td align="right">170kB</td>
   <td><tt>6491b554be443e956a1bfb0c6d6c4d7fc40aa2e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kdeartwork-4.12.80.tar.xz">kdeartwork-4.12.80</a></td>
   <td align="right">134MB</td>
   <td><tt>4413a225056bb444e67d6e8970fa0badec747997</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-baseapps-4.12.80.tar.xz">kde-baseapps-4.12.80</a></td>
   <td align="right">2.4MB</td>
   <td><tt>9b67cb2adc8a25e12d18a8382aead45c3432b937</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-base-artwork-4.12.80.tar.xz">kde-base-artwork-4.12.80</a></td>
   <td align="right">7.0MB</td>
   <td><tt>a87a73c6bbdae8c159f8e19b4021083b3d30bb11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-dev-scripts-4.12.80.tar.xz">kde-dev-scripts-4.12.80</a></td>
   <td align="right">254kB</td>
   <td><tt>4b41587980b82233c67fda35870f5e113631dea2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-dev-utils-4.12.80.tar.xz">kde-dev-utils-4.12.80</a></td>
   <td align="right">50kB</td>
   <td><tt>5cea6bda1bec0a2e600b9223dfd8c0793c841a63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kdegraphics-mobipocket-4.12.80.tar.xz">kdegraphics-mobipocket-4.12.80</a></td>
   <td align="right">14kB</td>
   <td><tt>cd068b5283ddd3139c6b58597533933e62547764</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kdegraphics-strigi-analyzer-4.12.80.tar.xz">kdegraphics-strigi-analyzer-4.12.80</a></td>
   <td align="right">39kB</td>
   <td><tt>6cd01802fcdbefa16d8b4ec10c2e820db65aeb28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kdegraphics-thumbnailers-4.12.80.tar.xz">kdegraphics-thumbnailers-4.12.80</a></td>
   <td align="right">40kB</td>
   <td><tt>00897e3a87006e2efec3e144ab39372b56728c13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kdelibs-4.12.80.tar.xz">kdelibs-4.12.80</a></td>
   <td align="right">11MB</td>
   <td><tt>ed2d61562cfaa5f2f9b2487fc8911d318acce943</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kdenetwork-filesharing-4.12.80.tar.xz">kdenetwork-filesharing-4.12.80</a></td>
   <td align="right">26kB</td>
   <td><tt>b227711dc29624701ad2053a35ac5b770fa410b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kdenetwork-strigi-analyzers-4.12.80.tar.xz">kdenetwork-strigi-analyzers-4.12.80</a></td>
   <td align="right">14kB</td>
   <td><tt>4abe7e6b9cb9f7f6be768aec715014a5e1daebab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kdepim-4.12.80.tar.xz">kdepim-4.12.80</a></td>
   <td align="right">13MB</td>
   <td><tt>a5a9d586f1ca14cd499e0f958f0317fb79666a21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kdepimlibs-4.12.80.tar.xz">kdepimlibs-4.12.80</a></td>
   <td align="right">2.6MB</td>
   <td><tt>b855a6943fb8ef39b23366a433168c8c72a4226d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kdepim-runtime-4.12.80.tar.xz">kdepim-runtime-4.12.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>4f00a757b4f2ecc33acf7e2c7e3e40abc03273b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kdeplasma-addons-4.12.80.tar.xz">kdeplasma-addons-4.12.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>972c7167ccef3d35f2ff3dca07c3a9160b721dbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-runtime-4.12.80.tar.xz">kde-runtime-4.12.80</a></td>
   <td align="right">7.4MB</td>
   <td><tt>1e52d18a076ae9c0bf79b3c548f393ce547612a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kdesdk-kioslaves-4.12.80.tar.xz">kdesdk-kioslaves-4.12.80</a></td>
   <td align="right">352kB</td>
   <td><tt>76050cd6218cbb6ae99387681556c84eb298b6c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kdesdk-strigi-analyzers-4.12.80.tar.xz">kdesdk-strigi-analyzers-4.12.80</a></td>
   <td align="right">17kB</td>
   <td><tt>6bdef866d9a76a1e67bbb0c7a6c340afd6270ccf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kdesdk-thumbnailers-4.12.80.tar.xz">kdesdk-thumbnailers-4.12.80</a></td>
   <td align="right">11kB</td>
   <td><tt>09c0ffc8001637d11f64b6e46a5f2388940bf1ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-wallpapers-4.12.80.tar.xz">kde-wallpapers-4.12.80</a></td>
   <td align="right">86MB</td>
   <td><tt>c8e22e44a69799f9193858395f85bd6932da240e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kdewebdev-4.12.80.tar.xz">kdewebdev-4.12.80</a></td>
   <td align="right">2.4MB</td>
   <td><tt>fda5740783d27309011fcee43ba796a683edd2df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kdf-4.12.80.tar.xz">kdf-4.12.80</a></td>
   <td align="right">145kB</td>
   <td><tt>eb4d6de4027e9ad22667b80bb4368d5f6d0d01e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kdiamond-4.12.80.tar.xz">kdiamond-4.12.80</a></td>
   <td align="right">3.9MB</td>
   <td><tt>d45b499da3382f552bd4933df5a8f80f48440b28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kdnssd-4.12.80.tar.xz">kdnssd-4.12.80</a></td>
   <td align="right">25kB</td>
   <td><tt>79ef0b517bdd1b051ae59975d14592daedcb57af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kfilemetadata-4.12.80.tar.xz">kfilemetadata-4.12.80</a></td>
   <td align="right">33kB</td>
   <td><tt>b64c4e9f44f37db0c5ce764bc2ae4dd30cebac80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kfloppy-4.12.80.tar.xz">kfloppy-4.12.80</a></td>
   <td align="right">51kB</td>
   <td><tt>3b54c53d41d937cc3efe5eea7023cef239a60564</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kfourinline-4.12.80.tar.xz">kfourinline-4.12.80</a></td>
   <td align="right">275kB</td>
   <td><tt>2cfd4da74361186e67d88aeee3172a150f0521d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kgamma-4.12.80.tar.xz">kgamma-4.12.80</a></td>
   <td align="right">22kB</td>
   <td><tt>9e5f47fe72dfca6d050a0f1acf1b475838632ba8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kgeography-4.12.80.tar.xz">kgeography-4.12.80</a></td>
   <td align="right">6.3MB</td>
   <td><tt>2860f0c7cd75c4ab9f6a0eaf85e9aacd1695d02e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kget-4.12.80.tar.xz">kget-4.12.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>0c0fc23c7b643b7c7d60c388e4de6b6133bc88de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kgoldrunner-4.12.80.tar.xz">kgoldrunner-4.12.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>b1b3cfbe8dc2ee3dfe02a8d0fafc90f9f36eb3a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kgpg-4.12.80.tar.xz">kgpg-4.12.80</a></td>
   <td align="right">784kB</td>
   <td><tt>1007ea505473e85d3806af666f245fd83adf4c4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/khangman-4.12.80.tar.xz">khangman-4.12.80</a></td>
   <td align="right">3.7MB</td>
   <td><tt>51b98d848583790ef59c50187573227df9e3b15b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kig-4.12.80.tar.xz">kig-4.12.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>95fecca5871e0d97ed386550bc666d7a3c281fd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kigo-4.12.80.tar.xz">kigo-4.12.80</a></td>
   <td align="right">1.2MB</td>
   <td><tt>d622c01a087f13b7b2cf9105ed9379fdcf108a50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/killbots-4.12.80.tar.xz">killbots-4.12.80</a></td>
   <td align="right">938kB</td>
   <td><tt>351b11c026a31adf5e793453db2bf86b24526284</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kimono-4.12.80.tar.xz">kimono-4.12.80</a></td>
   <td align="right">910kB</td>
   <td><tt>888f1ad19bbf8d84a2036739cfc71523bd1ffcd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kiriki-4.12.80.tar.xz">kiriki-4.12.80</a></td>
   <td align="right">114kB</td>
   <td><tt>b84d2a1fa3194a14d3bf4d6be3542fac4e28dddf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kiten-4.12.80.tar.xz">kiten-4.12.80</a></td>
   <td align="right">11MB</td>
   <td><tt>5e64661a6cc715601e6457cb18c5be2378177eaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kjumpingcube-4.12.80.tar.xz">kjumpingcube-4.12.80</a></td>
   <td align="right">160kB</td>
   <td><tt>3dae6d09dc8f75ed84813038c581e3399acdc741</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/klettres-4.12.80.tar.xz">klettres-4.12.80</a></td>
   <td align="right">2.5MB</td>
   <td><tt>ba80faf9e3187ce9009e8c3b7162d0225551bd11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/klickety-4.12.80.tar.xz">klickety-4.12.80</a></td>
   <td align="right">765kB</td>
   <td><tt>61e998e4d9148e8560533efaa1ff01aad1259529</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/klines-4.12.80.tar.xz">klines-4.12.80</a></td>
   <td align="right">926kB</td>
   <td><tt>4700eb132f699a15d89ee3933c5af59fe49fedc8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kmag-4.12.80.tar.xz">kmag-4.12.80</a></td>
   <td align="right">84kB</td>
   <td><tt>1457f343fa4ca9a30f3c2f6628c3ac121ef3f591</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kmahjongg-4.12.80.tar.xz">kmahjongg-4.12.80</a></td>
   <td align="right">979kB</td>
   <td><tt>f0bf9877dcbc1ac2d5a16e22d53962c78122b66c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kmines-4.12.80.tar.xz">kmines-4.12.80</a></td>
   <td align="right">613kB</td>
   <td><tt>aa99924da4909c387558dc63ade8b713c157117b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kmix-4.12.80.tar.xz">kmix-4.12.80</a></td>
   <td align="right">369kB</td>
   <td><tt>863fd8524753528d2b6dd8ec17d8e7f0ca233cd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kmousetool-4.12.80.tar.xz">kmousetool-4.12.80</a></td>
   <td align="right">35kB</td>
   <td><tt>b8ecb3e951de70d5ce4a8922f18dd125e19d0328</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kmouth-4.12.80.tar.xz">kmouth-4.12.80</a></td>
   <td align="right">300kB</td>
   <td><tt>8306b0066ae0224f2796d797de8dbce34c0c3d75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kmplot-4.12.80.tar.xz">kmplot-4.12.80</a></td>
   <td align="right">639kB</td>
   <td><tt>cc31d00bb1ff811ac20afe4f3225e09f62468ec3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/knavalbattle-4.12.80.tar.xz">knavalbattle-4.12.80</a></td>
   <td align="right">833kB</td>
   <td><tt>a77d8dd69ad2bb8e54498348a4a1967e4eacf40e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/knetwalk-4.12.80.tar.xz">knetwalk-4.12.80</a></td>
   <td align="right">763kB</td>
   <td><tt>a973abda074696daf73437504be4f611c602ad50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kolf-4.12.80.tar.xz">kolf-4.12.80</a></td>
   <td align="right">748kB</td>
   <td><tt>2fff2a881a01d0058b5f9ce5c372734422bd2053</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kollision-4.12.80.tar.xz">kollision-4.12.80</a></td>
   <td align="right">202kB</td>
   <td><tt>f38a9734bef81b27a26401bed49065491c25e4e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kolourpaint-4.12.80.tar.xz">kolourpaint-4.12.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>61b1fb7692cee4d28306e2051b10deb84734483d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kompare-4.12.80.tar.xz">kompare-4.12.80</a></td>
   <td align="right">336kB</td>
   <td><tt>a733f80f7f275f6f9aff19d53551244d9ade146f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/konquest-4.12.80.tar.xz">konquest-4.12.80</a></td>
   <td align="right">395kB</td>
   <td><tt>339d9c28c59da2f13c71d71b6029f4bad1c0252a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/konsole-4.12.80.tar.xz">konsole-4.12.80</a></td>
   <td align="right">444kB</td>
   <td><tt>decd5b82c79fd9b518e8c13a518df8efd5d7dd1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kopete-4.12.80.tar.xz">kopete-4.12.80</a></td>
   <td align="right">6.0MB</td>
   <td><tt>e188e9489a755d3153a7017987a514d7ceba0b9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/korundum-4.12.80.tar.xz">korundum-4.12.80</a></td>
   <td align="right">156kB</td>
   <td><tt>79a57dbfcae018491a5045ae6a25df2ab0f620b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kpat-4.12.80.tar.xz">kpat-4.12.80</a></td>
   <td align="right">2.9MB</td>
   <td><tt>edc290b4006710af98e66f3504dd9c7358a825ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kppp-4.12.80.tar.xz">kppp-4.12.80</a></td>
   <td align="right">680kB</td>
   <td><tt>1f2ea91ca1967bf6bf73ad2305561a2af1716963</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kqtquickcharts-4.12.80.tar.xz">kqtquickcharts-4.12.80</a></td>
   <td align="right">16kB</td>
   <td><tt>269a3f8eb739360003540800adb8399a82f5d990</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/krdc-4.12.80.tar.xz">krdc-4.12.80</a></td>
   <td align="right">388kB</td>
   <td><tt>1061aadfb0a888f37db2ed3376df6b2eefe8b90d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kremotecontrol-4.12.80.tar.xz">kremotecontrol-4.12.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>70f823562c786473197d8dd10c745442dad46d95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kreversi-4.12.80.tar.xz">kreversi-4.12.80</a></td>
   <td align="right">463kB</td>
   <td><tt>c4023cabf9fab4255610bdf08390861af9689ea2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/krfb-4.12.80.tar.xz">krfb-4.12.80</a></td>
   <td align="right">456kB</td>
   <td><tt>39627f9dce84ab69d83cc8cb7eda3d2b3d760897</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kross-interpreters-4.12.80.tar.xz">kross-interpreters-4.12.80</a></td>
   <td align="right">127kB</td>
   <td><tt>95da49063697055dee027ba2749f807e87200791</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kruler-4.12.80.tar.xz">kruler-4.12.80</a></td>
   <td align="right">125kB</td>
   <td><tt>4510745db4bf8e3b9d305a0c0e8babbf68f3f95b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/ksaneplugin-4.12.80.tar.xz">ksaneplugin-4.12.80</a></td>
   <td align="right">12kB</td>
   <td><tt>85dd31b5dd286ff84c815617eaf5e3c1b6663e08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kscd-4.12.80.tar.xz">kscd-4.12.80</a></td>
   <td align="right">90kB</td>
   <td><tt>4a8d3d41dcf762a39c0a7231c172d5045c7f818c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kshisen-4.12.80.tar.xz">kshisen-4.12.80</a></td>
   <td align="right">132kB</td>
   <td><tt>406b9bf43270d032cf8489df0f181840e9f44e8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/ksirk-4.12.80.tar.xz">ksirk-4.12.80</a></td>
   <td align="right">4.7MB</td>
   <td><tt>fa56dd509ecf087bdbab4751d8944b7a22763814</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/ksnakeduel-4.12.80.tar.xz">ksnakeduel-4.12.80</a></td>
   <td align="right">312kB</td>
   <td><tt>074aa8f897422626bd0757e830469bcab3387de5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/ksnapshot-4.12.80.tar.xz">ksnapshot-4.12.80</a></td>
   <td align="right">251kB</td>
   <td><tt>bc8e684e3722ab27cc4f8b61d9b15b393f38876e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kspaceduel-4.12.80.tar.xz">kspaceduel-4.12.80</a></td>
   <td align="right">246kB</td>
   <td><tt>98325ffca5897cd0f0a794e59e0dd921c22d402d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/ksquares-4.12.80.tar.xz">ksquares-4.12.80</a></td>
   <td align="right">77kB</td>
   <td><tt>ca1cb4687e29c2807b76f82299ec82a5af72ef03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kstars-4.12.80.tar.xz">kstars-4.12.80</a></td>
   <td align="right">11MB</td>
   <td><tt>65a172d334afb1af0b36c5199a7de41dfd9a544e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/ksudoku-4.12.80.tar.xz">ksudoku-4.12.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>65e8fca8ed2bf9d5b198f3a0ffd9f5602e0703a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/ksystemlog-4.12.80.tar.xz">ksystemlog-4.12.80</a></td>
   <td align="right">373kB</td>
   <td><tt>dbc2ae0becd4244d41156194537738b634b03dc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kteatime-4.12.80.tar.xz">kteatime-4.12.80</a></td>
   <td align="right">98kB</td>
   <td><tt>346cb228c4d607a54e094a7900824d396410f617</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/ktimer-4.12.80.tar.xz">ktimer-4.12.80</a></td>
   <td align="right">143kB</td>
   <td><tt>4521135b973d264c93764266da677c4eb4f6b083</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/ktouch-4.12.80.tar.xz">ktouch-4.12.80</a></td>
   <td align="right">2.3MB</td>
   <td><tt>a9829272b5023cd0989a9b61611eb24593f1ba04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/ktuberling-4.12.80.tar.xz">ktuberling-4.12.80</a></td>
   <td align="right">4.0MB</td>
   <td><tt>f23acaea5f2f466806819baa216b3fdb349834ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kturtle-4.12.80.tar.xz">kturtle-4.12.80</a></td>
   <td align="right">183kB</td>
   <td><tt>4bc5544212c567a18516974d54eadbd97bcb6fe8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/ktux-4.12.80.tar.xz">ktux-4.12.80</a></td>
   <td align="right">106kB</td>
   <td><tt>2676c8dc6161b8d13f2c33a9693683fd4e9aa105</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kubrick-4.12.80.tar.xz">kubrick-4.12.80</a></td>
   <td align="right">104kB</td>
   <td><tt>617852b6decbad0c76e89559f3e7b4544cbc86e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kuser-4.12.80.tar.xz">kuser-4.12.80</a></td>
   <td align="right">131kB</td>
   <td><tt>79db35cdb06887987d408969d17e147c2bd3ac02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kwalletmanager-4.12.80.tar.xz">kwalletmanager-4.12.80</a></td>
   <td align="right">445kB</td>
   <td><tt>f54c197820335192c660a58b153c441b0a5734ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kwordquiz-4.12.80.tar.xz">kwordquiz-4.12.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>c58d2a4d3efcfec6c7ba2d0482a9cb26a8348e2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/libkcddb-4.12.80.tar.xz">libkcddb-4.12.80</a></td>
   <td align="right">154kB</td>
   <td><tt>d4df5e1d110297d89b0f2a20bd1f4f28282afbaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/libkcompactdisc-4.12.80.tar.xz">libkcompactdisc-4.12.80</a></td>
   <td align="right">73kB</td>
   <td><tt>5188d4500679b4413d6be18c2c467473b79e6422</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/libkdcraw-4.12.80.tar.xz">libkdcraw-4.12.80</a></td>
   <td align="right">97kB</td>
   <td><tt>ac960875540a30d4c1bfe942643d06929f65321a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/libkdeedu-4.12.80.tar.xz">libkdeedu-4.12.80</a></td>
   <td align="right">204kB</td>
   <td><tt>b9f6d77768287f69b7ce734623f4e265ad9ac10c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/libkdegames-4.12.80.tar.xz">libkdegames-4.12.80</a></td>
   <td align="right">5.5MB</td>
   <td><tt>f37d8f53c6b12ce11bb85a3813d4554968575281</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/libkexiv2-4.12.80.tar.xz">libkexiv2-4.12.80</a></td>
   <td align="right">132kB</td>
   <td><tt>ae0ac1fe4635910eb68bfd94b6a606ace32ef5d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/libkipi-4.12.80.tar.xz">libkipi-4.12.80</a></td>
   <td align="right">92kB</td>
   <td><tt>a23c38aa28c66e8429c3718272bc5106c981cb75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/libkmahjongg-4.12.80.tar.xz">libkmahjongg-4.12.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>bf755ce919858768b1e338012988124f79d37371</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/libkomparediff2-4.12.80.tar.xz">libkomparediff2-4.12.80</a></td>
   <td align="right">54kB</td>
   <td><tt>b87c54c3cbb60e225eef1b23d7cf14a86320485d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/libksane-4.12.80.tar.xz">libksane-4.12.80</a></td>
   <td align="right">78kB</td>
   <td><tt>985487fd5a5668767136f6af6588bdef6864be3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/lokalize-4.12.80.tar.xz">lokalize-4.12.80</a></td>
   <td align="right">826kB</td>
   <td><tt>6da5d0618b8ab4c15e55f70fd27b7c9f21ebe0d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/lskat-4.12.80.tar.xz">lskat-4.12.80</a></td>
   <td align="right">907kB</td>
   <td><tt>fd018f86cef99822b948ac916144ae1ca2f711ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/marble-4.12.80.tar.xz">marble-4.12.80</a></td>
   <td align="right">18MB</td>
   <td><tt>74642ef8287db37557065b2c9839399e26934aa5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/mplayerthumbs-4.12.80.tar.xz">mplayerthumbs-4.12.80</a></td>
   <td align="right">26kB</td>
   <td><tt>9417f279f7d72bf7ada5443522b9ee176e08af94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/nepomuk-core-4.12.80.tar.xz">nepomuk-core-4.12.80</a></td>
   <td align="right">372kB</td>
   <td><tt>2237203f5b9e13933407f3d51602d50925e463f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/nepomuk-widgets-4.12.80.tar.xz">nepomuk-widgets-4.12.80</a></td>
   <td align="right">47kB</td>
   <td><tt>9d857df7ca5a62b124068c2bd7fe0177a12efaa8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/okteta-4.12.80.tar.xz">okteta-4.12.80</a></td>
   <td align="right">481kB</td>
   <td><tt>ce05be76c84fc5b92c9faf8349d6746033439e18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/okular-4.12.80.tar.xz">okular-4.12.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>ad40392cc750c72f042fd3106d90f6fdf3d38f85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/oxygen-icons-4.12.80.tar.xz">oxygen-icons-4.12.80</a></td>
   <td align="right">219MB</td>
   <td><tt>5158058b266e6d2489685d9d80108516dbe375fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/pairs-4.12.80.tar.xz">pairs-4.12.80</a></td>
   <td align="right">2.6MB</td>
   <td><tt>3c367fa9c3f488e2f0ad8de48a6a57fbdfa44eb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/palapeli-4.12.80.tar.xz">palapeli-4.12.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>20056106f83240306cfc7ce76f5e4e081b5a4063</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/parley-4.12.80.tar.xz">parley-4.12.80</a></td>
   <td align="right">7.6MB</td>
   <td><tt>5fb483d47133b4726437e7430a9e6d0d15a8659f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/perlkde-4.12.80.tar.xz">perlkde-4.12.80</a></td>
   <td align="right">39kB</td>
   <td><tt>8d3ba13fd4dc128bf8e636dd84553c8ec948df81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/perlqt-4.12.80.tar.xz">perlqt-4.12.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>b42e21183278c508e0b85c793e23e0737068a815</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/picmi-4.12.80.tar.xz">picmi-4.12.80</a></td>
   <td align="right">714kB</td>
   <td><tt>d8a536a0f5f2088e5e7cc0bf346ac560d4b6f69b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/poxml-4.12.80.tar.xz">poxml-4.12.80</a></td>
   <td align="right">30kB</td>
   <td><tt>0a0d4598cd04aebc75033cc68dbb8f3fa3a668fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/print-manager-4.12.80.tar.xz">print-manager-4.12.80</a></td>
   <td align="right">90kB</td>
   <td><tt>5c8b7c66ce927df5f5b424fa5bcee8da7c55d0de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/pykde4-4.12.80.tar.xz">pykde4-4.12.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>ccd408ff6c26b26d525c2570b81335ef8884e021</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/qtruby-4.12.80.tar.xz">qtruby-4.12.80</a></td>
   <td align="right">517kB</td>
   <td><tt>f2999b9a15a5a71439741acd0cfa9fdef382a665</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/qyoto-4.12.80.tar.xz">qyoto-4.12.80</a></td>
   <td align="right">495kB</td>
   <td><tt>909b51043a153ac07ad96ce3814c981a23a2001d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/rocs-4.12.80.tar.xz">rocs-4.12.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>dee274446eea49bd2f5786d5489b9e2df5b28ed8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/smokegen-4.12.80.tar.xz">smokegen-4.12.80</a></td>
   <td align="right">143kB</td>
   <td><tt>c5b78ce05deebb56e66a84acd04b1f7eec7481de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/smokekde-4.12.80.tar.xz">smokekde-4.12.80</a></td>
   <td align="right">36kB</td>
   <td><tt>4b6db33490a54f41186052ea73d418dde420e026</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/smokeqt-4.12.80.tar.xz">smokeqt-4.12.80</a></td>
   <td align="right">29kB</td>
   <td><tt>50601d2121cf2feda992b84d6eedfdfca258f599</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/step-4.12.80.tar.xz">step-4.12.80</a></td>
   <td align="right">353kB</td>
   <td><tt>4e56f6da443831512ccbc2a5238d1c047a58e980</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/superkaramba-4.12.80.tar.xz">superkaramba-4.12.80</a></td>
   <td align="right">374kB</td>
   <td><tt>351df8a7795d1bda0152b0d198f2d9f2311e3748</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/svgpart-4.12.80.tar.xz">svgpart-4.12.80</a></td>
   <td align="right">8kB</td>
   <td><tt>151da8fa550ef74f3e0b57d177fd3e4e1c2c2753</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/sweeper-4.12.80.tar.xz">sweeper-4.12.80</a></td>
   <td align="right">80kB</td>
   <td><tt>672fa4740f7e9f9b88de1b21ab53ed4ad32267de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/umbrello-4.12.80.tar.xz">umbrello-4.12.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>94afe3c5c5ee28023de26dc6cf6762fc13e7a2e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-l10n/kde-l10n-ar-4.12.80.tar.xz">kde-l10n-ar-4.12.80</a></td>
   <td align="right">3.1MB</td>
   <td><tt>35b2ebc477b4f46137573d5e145b7ff1ec488a1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-l10n/kde-l10n-bg-4.12.80.tar.xz">kde-l10n-bg-4.12.80</a></td>
   <td align="right">2.0MB</td>
   <td><tt>4bab71df091d97920e631c739c669fa30e17105e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-l10n/kde-l10n-bs-4.12.80.tar.xz">kde-l10n-bs-4.12.80</a></td>
   <td align="right">2.2MB</td>
   <td><tt>6813830fded0e45987791f7b1c4d354fa6d46abb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-l10n/kde-l10n-ca-4.12.80.tar.xz">kde-l10n-ca-4.12.80</a></td>
   <td align="right">11MB</td>
   <td><tt>45bbf788595840f7196af1fc823aabbcb2a9c9f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-l10n/kde-l10n-ca@valencia-4.12.80.tar.xz">kde-l10n-ca@valencia-4.12.80</a></td>
   <td align="right">2.2MB</td>
   <td><tt>d9a7c166338543bd081596cd8be450030ac016cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-l10n/kde-l10n-cs-4.12.80.tar.xz">kde-l10n-cs-4.12.80</a></td>
   <td align="right">2.8MB</td>
   <td><tt>d991926b66c5e666d6b24a8b069b16c2461a50a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-l10n/kde-l10n-da-4.12.80.tar.xz">kde-l10n-da-4.12.80</a></td>
   <td align="right">12MB</td>
   <td><tt>294a254ae3272b372b4acc926728bb4d4631b6b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-l10n/kde-l10n-de-4.12.80.tar.xz">kde-l10n-de-4.12.80</a></td>
   <td align="right">34MB</td>
   <td><tt>c1e66472473744b0fa84c73297842dc4584de51d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-l10n/kde-l10n-el-4.12.80.tar.xz">kde-l10n-el-4.12.80</a></td>
   <td align="right">4.6MB</td>
   <td><tt>5884700e217995ea4ba8c410a99d8f966f875523</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-l10n/kde-l10n-en_GB-4.12.80.tar.xz">kde-l10n-en_GB-4.12.80</a></td>
   <td align="right">2.9MB</td>
   <td><tt>2ae3bd62b63e759fa1b4f3511e1c83b90e9a99b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-l10n/kde-l10n-es-4.12.80.tar.xz">kde-l10n-es-4.12.80</a></td>
   <td align="right">20MB</td>
   <td><tt>1fff86999b196595c4c09c9f248f42ab627a816f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-l10n/kde-l10n-et-4.12.80.tar.xz">kde-l10n-et-4.12.80</a></td>
   <td align="right">5.2MB</td>
   <td><tt>922da3e0b9d92ed160adb4082b7d31b9267bd002</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-l10n/kde-l10n-eu-4.12.80.tar.xz">kde-l10n-eu-4.12.80</a></td>
   <td align="right">2.0MB</td>
   <td><tt>ca63629ac84972e328247290670e508f1d12e013</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-l10n/kde-l10n-fi-4.12.80.tar.xz">kde-l10n-fi-4.12.80</a></td>
   <td align="right">2.6MB</td>
   <td><tt>7027a9ad5caa0c7a582245c64c13f147366a970a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-l10n/kde-l10n-fr-4.12.80.tar.xz">kde-l10n-fr-4.12.80</a></td>
   <td align="right">44MB</td>
   <td><tt>baa2830c18e5ed6ba6d1dc9d3804648b0e611ea8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-l10n/kde-l10n-ga-4.12.80.tar.xz">kde-l10n-ga-4.12.80</a></td>
   <td align="right">2.8MB</td>
   <td><tt>958f4914234358733831bd9470868be011b52bd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-l10n/kde-l10n-gl-4.12.80.tar.xz">kde-l10n-gl-4.12.80</a></td>
   <td align="right">3.5MB</td>
   <td><tt>859b12ea89aea4bb90d71020e6e3ab16912752ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-l10n/kde-l10n-he-4.12.80.tar.xz">kde-l10n-he-4.12.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>8a273f88b31b12ed87a5bc59da3be1f1c5d3050f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-l10n/kde-l10n-hi-4.12.80.tar.xz">kde-l10n-hi-4.12.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>155cdca6a23059dda1c324b324d46bddd8b7fc52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-l10n/kde-l10n-hr-4.12.80.tar.xz">kde-l10n-hr-4.12.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>ae548a58178a094e6faec2343727f620e736d426</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-l10n/kde-l10n-hu-4.12.80.tar.xz">kde-l10n-hu-4.12.80</a></td>
   <td align="right">4.1MB</td>
   <td><tt>53d0e0545cfe7e4f8b2c68f1459c92fef93e9873</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-l10n/kde-l10n-ia-4.12.80.tar.xz">kde-l10n-ia-4.12.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>772e128014b8ae6621d8661ded84e05354e24667</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-l10n/kde-l10n-is-4.12.80.tar.xz">kde-l10n-is-4.12.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>f0af1ee88f161e3c21e339e90681e82d99de6957</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-l10n/kde-l10n-it-4.12.80.tar.xz">kde-l10n-it-4.12.80</a></td>
   <td align="right">8.3MB</td>
   <td><tt>2ddb99d1625984609187eeecf9a074250021c676</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-l10n/kde-l10n-ja-4.12.80.tar.xz">kde-l10n-ja-4.12.80</a></td>
   <td align="right">2.2MB</td>
   <td><tt>b6e371eed834319f163fa6c8c5ee8ce51415e7f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-l10n/kde-l10n-kk-4.12.80.tar.xz">kde-l10n-kk-4.12.80</a></td>
   <td align="right">2.6MB</td>
   <td><tt>07bc423ce16c86b25db3031bb752a296b5aa5c16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-l10n/kde-l10n-km-4.12.80.tar.xz">kde-l10n-km-4.12.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>adcbf798526ab29d79b8e9e87fa337fe8066cde2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-l10n/kde-l10n-ko-4.12.80.tar.xz">kde-l10n-ko-4.12.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>1acae9e6c881d1f6a3dd36040cb4e4df5d6abe86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-l10n/kde-l10n-lt-4.12.80.tar.xz">kde-l10n-lt-4.12.80</a></td>
   <td align="right">12MB</td>
   <td><tt>be12feb8f405bceda832dee1ee5107db470d71f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-l10n/kde-l10n-lv-4.12.80.tar.xz">kde-l10n-lv-4.12.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>ec7240ff9062fa802c25d31922f4bd539b32fc31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-l10n/kde-l10n-mr-4.12.80.tar.xz">kde-l10n-mr-4.12.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>e1ebf0fec0acd94df952ec6ec4071a8d9ddea349</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-l10n/kde-l10n-nb-4.12.80.tar.xz">kde-l10n-nb-4.12.80</a></td>
   <td align="right">2.4MB</td>
   <td><tt>8ad025999a9207e2e372b761d844036d16966888</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-l10n/kde-l10n-nds-4.12.80.tar.xz">kde-l10n-nds-4.12.80</a></td>
   <td align="right">3.0MB</td>
   <td><tt>1ade8df86f7b4290b2ffb42cd32fe7dcdf945a52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-l10n/kde-l10n-nl-4.12.80.tar.xz">kde-l10n-nl-4.12.80</a></td>
   <td align="right">13MB</td>
   <td><tt>e78c864d0d093ee38c68f972ab8ceeabbc7c5fde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-l10n/kde-l10n-nn-4.12.80.tar.xz">kde-l10n-nn-4.12.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>a7a6d85a6c2f5eadd162b66e8c7f899bce720d8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-l10n/kde-l10n-pa-4.12.80.tar.xz">kde-l10n-pa-4.12.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>9fcc8dd66843847c0be1996f0fbf4fda7429943d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-l10n/kde-l10n-pl-4.12.80.tar.xz">kde-l10n-pl-4.12.80</a></td>
   <td align="right">16MB</td>
   <td><tt>ac3b8216750e33e3d27f6bca4e2f5d522721896d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-l10n/kde-l10n-pt-4.12.80.tar.xz">kde-l10n-pt-4.12.80</a></td>
   <td align="right">3.5MB</td>
   <td><tt>50b9b121a91aa1a1749a92e1635fa7a9d1c7181b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-l10n/kde-l10n-pt_BR-4.12.80.tar.xz">kde-l10n-pt_BR-4.12.80</a></td>
   <td align="right">23MB</td>
   <td><tt>db261a61608c3b50406f83a58452a25038517b5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-l10n/kde-l10n-ro-4.12.80.tar.xz">kde-l10n-ro-4.12.80</a></td>
   <td align="right">2.9MB</td>
   <td><tt>4f9c5a42c85eee09ffd4a6e3fb692791b29808c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-l10n/kde-l10n-ru-4.12.80.tar.xz">kde-l10n-ru-4.12.80</a></td>
   <td align="right">22MB</td>
   <td><tt>c53850948ba5af140a9dc9b2eed181e962cf0d2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-l10n/kde-l10n-sk-4.12.80.tar.xz">kde-l10n-sk-4.12.80</a></td>
   <td align="right">4.2MB</td>
   <td><tt>63eb54b0bac8274795057ebc1ac2b890cc1ff4ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-l10n/kde-l10n-sl-4.12.80.tar.xz">kde-l10n-sl-4.12.80</a></td>
   <td align="right">3.0MB</td>
   <td><tt>9736e176b94db8bee2ff71b5f836e98675b5ec70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-l10n/kde-l10n-sr-4.12.80.tar.xz">kde-l10n-sr-4.12.80</a></td>
   <td align="right">4.5MB</td>
   <td><tt>3dd0c6e5f5dafecdeee06a33246673a73d68ede8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-l10n/kde-l10n-sv-4.12.80.tar.xz">kde-l10n-sv-4.12.80</a></td>
   <td align="right">13MB</td>
   <td><tt>7420c501a98ec9cc8988dd8055f3d8b66dcddb67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-l10n/kde-l10n-tr-4.12.80.tar.xz">kde-l10n-tr-4.12.80</a></td>
   <td align="right">3.9MB</td>
   <td><tt>4ffdab8c63ed8b1b425257d7ebf821b4397ddf1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-l10n/kde-l10n-ug-4.12.80.tar.xz">kde-l10n-ug-4.12.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>c4c486071b7a96cafd2306be1b159528c8352827</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-l10n/kde-l10n-uk-4.12.80.tar.xz">kde-l10n-uk-4.12.80</a></td>
   <td align="right">24MB</td>
   <td><tt>f4599971f1e3bb61fb0202d0d348348c5ac217f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-l10n/kde-l10n-vi-4.12.80.tar.xz">kde-l10n-vi-4.12.80</a></td>
   <td align="right">945kB</td>
   <td><tt>8b40961c27faf50eba398dc545c0dec9faafd28a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-l10n/kde-l10n-wa-4.12.80.tar.xz">kde-l10n-wa-4.12.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>f728871f909e8c63aaf37f1251d0d2fb2242bace</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-l10n/kde-l10n-zh_CN-4.12.80.tar.xz">kde-l10n-zh_CN-4.12.80</a></td>
   <td align="right">3.4MB</td>
   <td><tt>742b49ff62d2a36595965a3122757895ab8cfa95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.12.80/src/kde-l10n/kde-l10n-zh_TW-4.12.80.tar.xz">kde-l10n-zh_TW-4.12.80</a></td>
   <td align="right">2.5MB</td>
   <td><tt>de1e7cef5718052b5657c966a18eea7c1cd3acdb</tt></td>
</tr>

</table>
