<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/amor-15.03.90.tar.xz">amor-15.03.90</a></td>
   <td align="right">171kB</td>
   <td><tt>6066013eb256f93e019fc9abe599ffd83d46d31c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/analitza-15.03.90.tar.xz">analitza-15.03.90</a></td>
   <td align="right">222kB</td>
   <td><tt>181a29d089e0cc3a5d5505430076ef4f63394460</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/ark-15.03.90.tar.xz">ark-15.03.90</a></td>
   <td align="right">232kB</td>
   <td><tt>60b8facccafdf9bc06c635999fee3a098a3a52e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/artikulate-15.03.90.tar.xz">artikulate-15.03.90</a></td>
   <td align="right">3.6MB</td>
   <td><tt>9fe2440677c468240b532525db2e41a10147eaa7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/audiocd-kio-15.03.90.tar.xz">audiocd-kio-15.03.90</a></td>
   <td align="right">50kB</td>
   <td><tt>c6e0387c547a9f6ccbaf36732909d6b10e7aaab8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/blinken-15.03.90.tar.xz">blinken-15.03.90</a></td>
   <td align="right">553kB</td>
   <td><tt>7fa3402fae7431d2cca1d0b41ae6fd9fd28c9686</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/bomber-15.03.90.tar.xz">bomber-15.03.90</a></td>
   <td align="right">383kB</td>
   <td><tt>56d30a4b12234dbb816d5e033620d83921b02708</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/bovo-15.03.90.tar.xz">bovo-15.03.90</a></td>
   <td align="right">102kB</td>
   <td><tt>b44fafb1fba45d39ac8931d0f850c3595091f19a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/cantor-15.03.90.tar.xz">cantor-15.03.90</a></td>
   <td align="right">347kB</td>
   <td><tt>ee1c2117afe154e4363d089f075ca3015eb51bac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/cervisia-15.03.90.tar.xz">cervisia-15.03.90</a></td>
   <td align="right">364kB</td>
   <td><tt>48f12a43d7f1d888c4395481fc38d2efb54a2194</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/dolphin-plugins-15.03.90.tar.xz">dolphin-plugins-15.03.90</a></td>
   <td align="right">57kB</td>
   <td><tt>5d9d8e438934f2ccc3ae38f4bd8ab6029d6f0535</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/dragon-15.03.90.tar.xz">dragon-15.03.90</a></td>
   <td align="right">390kB</td>
   <td><tt>59b220995b5d375e8220689eba10b3d424ce7c6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/ffmpegthumbs-15.03.90.tar.xz">ffmpegthumbs-15.03.90</a></td>
   <td align="right">19kB</td>
   <td><tt>218c2e7d81d6d1ec1648e7b5fd1c46ee278d7c0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/filelight-15.03.90.tar.xz">filelight-15.03.90</a></td>
   <td align="right">280kB</td>
   <td><tt>d22f527339c6890d9a1687d6d151b6a1a2f52a00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/granatier-15.03.90.tar.xz">granatier-15.03.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>ef5b1d59322590c8b096ec609a452cd9cca6a028</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/gwenview-15.03.90.tar.xz">gwenview-15.03.90</a></td>
   <td align="right">2.7MB</td>
   <td><tt>993e0d5df4465db58665ff4125ad8860eb9d94e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/jovie-15.03.90.tar.xz">jovie-15.03.90</a></td>
   <td align="right">380kB</td>
   <td><tt>d333309c2f1877388155ed8302f6058185a5d938</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/juk-15.03.90.tar.xz">juk-15.03.90</a></td>
   <td align="right">433kB</td>
   <td><tt>fae4013f3d193c3d41ed16a76b98f1843a717136</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kaccessible-15.03.90.tar.xz">kaccessible-15.03.90</a></td>
   <td align="right">20kB</td>
   <td><tt>3ced7be01924a10cf4950576c0451c645beeefa1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kaccounts-integration-15.03.90.tar.xz">kaccounts-integration-15.03.90</a></td>
   <td align="right">67kB</td>
   <td><tt>09810f4cc21d59af329ac1133cf59040311b21c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kaccounts-providers-15.03.90.tar.xz">kaccounts-providers-15.03.90</a></td>
   <td align="right">11kB</td>
   <td><tt>037bfb0eccf9d713e8e153f0c4b2f20be27ba6bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kajongg-15.03.90.tar.xz">kajongg-15.03.90</a></td>
   <td align="right">2.3MB</td>
   <td><tt>daa66580cf2af608e854e4b13aeb6f96d117913c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kalgebra-15.03.90.tar.xz">kalgebra-15.03.90</a></td>
   <td align="right">263kB</td>
   <td><tt>d560d1d8ccaf21191a779f97322470856ef8e872</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kalzium-15.03.90.tar.xz">kalzium-15.03.90</a></td>
   <td align="right">3.7MB</td>
   <td><tt>f892dd2baa0a0be9366300c79f572055d2857d3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kamera-15.03.90.tar.xz">kamera-15.03.90</a></td>
   <td align="right">34kB</td>
   <td><tt>e432d72327d9c75e3a91b47143f0852fb16cd632</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kanagram-15.03.90.tar.xz">kanagram-15.03.90</a></td>
   <td align="right">4.5MB</td>
   <td><tt>7e9884f3fd7191900f34884893d124b52c5e3dcc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kapman-15.03.90.tar.xz">kapman-15.03.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>c7ba48c36af36c1f0b353a0d99ae51f23c0e2ac7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kapptemplate-15.03.90.tar.xz">kapptemplate-15.03.90</a></td>
   <td align="right">689kB</td>
   <td><tt>665d3f99b7d107357a43e05c17e85208bd91acb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kate-15.03.90.tar.xz">kate-15.03.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>d9dfe73e9682c8c64a68cab08a89fc7d6817cd3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/katomic-15.03.90.tar.xz">katomic-15.03.90</a></td>
   <td align="right">645kB</td>
   <td><tt>2656707c7b5d3499bfdeb591a8fc7ecd968319ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kblackbox-15.03.90.tar.xz">kblackbox-15.03.90</a></td>
   <td align="right">254kB</td>
   <td><tt>03e7b259dc9f9c55cced5ff4e468a0137747abb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kblocks-15.03.90.tar.xz">kblocks-15.03.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>43ec7711d676f800f1c77736910f32077571eedf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kbounce-15.03.90.tar.xz">kbounce-15.03.90</a></td>
   <td align="right">1.5MB</td>
   <td><tt>99ff9b53a3cc129e9e2e47a792acf0ef1a8f0943</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kbreakout-15.03.90.tar.xz">kbreakout-15.03.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>6912b3fba8dc7af2ddf626e298fc5a6086f936ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kbruch-15.03.90.tar.xz">kbruch-15.03.90</a></td>
   <td align="right">883kB</td>
   <td><tt>67f52115a300fd38b5ad9ef797558bf2bb130266</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kcachegrind-15.03.90.tar.xz">kcachegrind-15.03.90</a></td>
   <td align="right">230kB</td>
   <td><tt>3de9ba6ff64117f084e0035ad6546c1628dbc540</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kcalc-15.03.90.tar.xz">kcalc-15.03.90</a></td>
   <td align="right">81kB</td>
   <td><tt>bb66ed36fcbf6f3b3678c5b6d34d22966be6a01e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kcharselect-15.03.90.tar.xz">kcharselect-15.03.90</a></td>
   <td align="right">82kB</td>
   <td><tt>7224d3befebcb0d7533ac7d41e81cbbbfbb02ce7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kcolorchooser-15.03.90.tar.xz">kcolorchooser-15.03.90</a></td>
   <td align="right">4kB</td>
   <td><tt>ff4a6c275e90c09337228dcbb31ca200d0f5010b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kcron-15.03.90.tar.xz">kcron-15.03.90</a></td>
   <td align="right">170kB</td>
   <td><tt>9d6006e7053c8f424ead80bb7e95082950637c1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kdeartwork-15.03.90.tar.xz">kdeartwork-15.03.90</a></td>
   <td align="right">134MB</td>
   <td><tt>5762becbc2740445222d0f7b88dccee002f4f710</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-baseapps-15.03.90.tar.xz">kde-baseapps-15.03.90</a></td>
   <td align="right">2.4MB</td>
   <td><tt>23e69b3852f844eeaed6fcd9f7fb696d4cd35037</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-base-artwork-15.03.90.tar.xz">kde-base-artwork-15.03.90</a></td>
   <td align="right">7.0MB</td>
   <td><tt>0e54e3a09ba3552f2b0fffea064be76f6ecac778</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-dev-scripts-15.03.90.tar.xz">kde-dev-scripts-15.03.90</a></td>
   <td align="right">299kB</td>
   <td><tt>81cacb0f3a884e2a8fcc118bdf4ef2bd545d1596</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-dev-utils-15.03.90.tar.xz">kde-dev-utils-15.03.90</a></td>
   <td align="right">50kB</td>
   <td><tt>19fdfd7caaafd166a8575ccb33fd5d3b92cb6c60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kdeedu-data-15.03.90.tar.xz">kdeedu-data-15.03.90</a></td>
   <td align="right">94kB</td>
   <td><tt>92a330bd9a536e9fdb018f25f3fb73ad8b1ab2e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kdegraphics-mobipocket-15.03.90.tar.xz">kdegraphics-mobipocket-15.03.90</a></td>
   <td align="right">14kB</td>
   <td><tt>baca553745b39b174c334f00a7166e502895da8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kdegraphics-strigi-analyzer-15.03.90.tar.xz">kdegraphics-strigi-analyzer-15.03.90</a></td>
   <td align="right">39kB</td>
   <td><tt>e7c3ec25c63581f8816e753cf627011620962e28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kdegraphics-thumbnailers-15.03.90.tar.xz">kdegraphics-thumbnailers-15.03.90</a></td>
   <td align="right">40kB</td>
   <td><tt>d0757c36d03aded9b6979d4676b871134f9fffae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kdenetwork-filesharing-15.03.90.tar.xz">kdenetwork-filesharing-15.03.90</a></td>
   <td align="right">26kB</td>
   <td><tt>ab27d190b9443c060a27a6432f9f3daf9cc0b1a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kdenetwork-strigi-analyzers-15.03.90.tar.xz">kdenetwork-strigi-analyzers-15.03.90</a></td>
   <td align="right">14kB</td>
   <td><tt>556314bf00ecdb814043b7485f04c1bed117f82c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kdenlive-15.03.90.tar.xz">kdenlive-15.03.90</a></td>
   <td align="right">2.9MB</td>
   <td><tt>42da74d1c10233faef75378c238c6bceeff1348e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-runtime-15.03.90.tar.xz">kde-runtime-15.03.90</a></td>
   <td align="right">7.5MB</td>
   <td><tt>740a66ca8806ce89d06e45f038d2c09d40db6c06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kdesdk-kioslaves-15.03.90.tar.xz">kdesdk-kioslaves-15.03.90</a></td>
   <td align="right">352kB</td>
   <td><tt>fc6a4f3f204a1df1cc86acb7f5544b6b705543bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kdesdk-strigi-analyzers-15.03.90.tar.xz">kdesdk-strigi-analyzers-15.03.90</a></td>
   <td align="right">17kB</td>
   <td><tt>d6357ba3f93889402c79253c44892c42a96082c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kdesdk-thumbnailers-15.03.90.tar.xz">kdesdk-thumbnailers-15.03.90</a></td>
   <td align="right">11kB</td>
   <td><tt>7583097320d94b7eb8c4afd2dc850d328095529a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-wallpapers-15.03.90.tar.xz">kde-wallpapers-15.03.90</a></td>
   <td align="right">86MB</td>
   <td><tt>9d9d31031ebcf39dc2fff66e11392c93b0c440bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kdewebdev-15.03.90.tar.xz">kdewebdev-15.03.90</a></td>
   <td align="right">2.4MB</td>
   <td><tt>921d2fc69202ba2cdd42347388ae3ab8f2e10636</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kdf-15.03.90.tar.xz">kdf-15.03.90</a></td>
   <td align="right">145kB</td>
   <td><tt>c3837ad591faeaf9312998a3e698aa2139c53a75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kdiamond-15.03.90.tar.xz">kdiamond-15.03.90</a></td>
   <td align="right">3.9MB</td>
   <td><tt>7bee6464360591c6692413ab6b806c7730886875</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kfloppy-15.03.90.tar.xz">kfloppy-15.03.90</a></td>
   <td align="right">52kB</td>
   <td><tt>af712c52c19980b4e41081569fb8e77c9f5f4471</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kfourinline-15.03.90.tar.xz">kfourinline-15.03.90</a></td>
   <td align="right">274kB</td>
   <td><tt>0064a25f7d514e4f0056e12f1f4f13762e4aecb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kgamma-15.03.90.tar.xz">kgamma-15.03.90</a></td>
   <td align="right">22kB</td>
   <td><tt>08b01b9919868fd6109e10e4b3b1a7f69979af09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kgeography-15.03.90.tar.xz">kgeography-15.03.90</a></td>
   <td align="right">6.4MB</td>
   <td><tt>2718175dcc75d06b9de2bf6bc311df01b1eb7656</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kget-15.03.90.tar.xz">kget-15.03.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>ebfb6d7481752c85f6ef91be99aea1ddfbe3d631</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kgoldrunner-15.03.90.tar.xz">kgoldrunner-15.03.90</a></td>
   <td align="right">1.9MB</td>
   <td><tt>d9359390f67a8dfb9e0935352687bdec60525e21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kgpg-15.03.90.tar.xz">kgpg-15.03.90</a></td>
   <td align="right">790kB</td>
   <td><tt>a6dd53c0c86c775390eba27818cf2aad0a8ad4c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/khangman-15.03.90.tar.xz">khangman-15.03.90</a></td>
   <td align="right">3.7MB</td>
   <td><tt>d775b9e9ffa71515dea55d2c1e5b350ecd9f00ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kig-15.03.90.tar.xz">kig-15.03.90</a></td>
   <td align="right">1.4MB</td>
   <td><tt>2ab44a242d8660e00cb3ff0011c2b063c62e77e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kigo-15.03.90.tar.xz">kigo-15.03.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>79f23351b9b08d2e549032875f217c603cbc1e8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/killbots-15.03.90.tar.xz">killbots-15.03.90</a></td>
   <td align="right">940kB</td>
   <td><tt>d2aefed7d1930133cde41e0536a936cfc2e99267</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kiriki-15.03.90.tar.xz">kiriki-15.03.90</a></td>
   <td align="right">114kB</td>
   <td><tt>3573492f7658b2147bf621ee202c0217bf1c8896</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kiten-15.03.90.tar.xz">kiten-15.03.90</a></td>
   <td align="right">11MB</td>
   <td><tt>98b54d9c71348d2541784e2f0c68eb660139ef59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kjumpingcube-15.03.90.tar.xz">kjumpingcube-15.03.90</a></td>
   <td align="right">161kB</td>
   <td><tt>5af37fd41858cf13b4448dc6d9e19d5082eb662f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/klettres-15.03.90.tar.xz">klettres-15.03.90</a></td>
   <td align="right">2.6MB</td>
   <td><tt>a2d8399b34929b38cb678dee658615c896181b77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/klickety-15.03.90.tar.xz">klickety-15.03.90</a></td>
   <td align="right">765kB</td>
   <td><tt>8d69cfe711c9eefa0731c51c9a0880812959d05a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/klines-15.03.90.tar.xz">klines-15.03.90</a></td>
   <td align="right">928kB</td>
   <td><tt>884a34817383898d1c0e70dbc401d012411e9ea3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kmag-15.03.90.tar.xz">kmag-15.03.90</a></td>
   <td align="right">84kB</td>
   <td><tt>338775114c515ae6c6ef1405c77d23445b230988</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kmahjongg-15.03.90.tar.xz">kmahjongg-15.03.90</a></td>
   <td align="right">984kB</td>
   <td><tt>7d05877d16321053233e6b041cd2e5d745affc40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kmines-15.03.90.tar.xz">kmines-15.03.90</a></td>
   <td align="right">609kB</td>
   <td><tt>1ed9945f3d167f8ea1eea7d326a90ebb2d3eefaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kmix-15.03.90.tar.xz">kmix-15.03.90</a></td>
   <td align="right">379kB</td>
   <td><tt>2b0f8c47b164616b91e21981db004448e0d0a23f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kmousetool-15.03.90.tar.xz">kmousetool-15.03.90</a></td>
   <td align="right">35kB</td>
   <td><tt>9ce8fbbd7e85267f6d1d2b73daf1cbebfbe871ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kmouth-15.03.90.tar.xz">kmouth-15.03.90</a></td>
   <td align="right">301kB</td>
   <td><tt>e4e8f662b396a35f768c201530e953a8ed4a87bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kmplot-15.03.90.tar.xz">kmplot-15.03.90</a></td>
   <td align="right">646kB</td>
   <td><tt>2783a7bb611e6eae08c550668fbf2dbf3d569809</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/knavalbattle-15.03.90.tar.xz">knavalbattle-15.03.90</a></td>
   <td align="right">834kB</td>
   <td><tt>ef316ffb7a850fb1ca81674436bff55047087026</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/knetwalk-15.03.90.tar.xz">knetwalk-15.03.90</a></td>
   <td align="right">764kB</td>
   <td><tt>971743baea8a575625f003ec533a95cb51b17225</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kolf-15.03.90.tar.xz">kolf-15.03.90</a></td>
   <td align="right">749kB</td>
   <td><tt>379c21f68792dcc47fa08aba016a27b6afdd00fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kollision-15.03.90.tar.xz">kollision-15.03.90</a></td>
   <td align="right">202kB</td>
   <td><tt>d5e543e8bce573334d9a398a1f418ca35ffdead0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kolourpaint-15.03.90.tar.xz">kolourpaint-15.03.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>876de20298ccb7cffc06d776a75211f0102384d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kompare-15.03.90.tar.xz">kompare-15.03.90</a></td>
   <td align="right">336kB</td>
   <td><tt>3360c78ea918c9b37676405373834edfedc4cd9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/konquest-15.03.90.tar.xz">konquest-15.03.90</a></td>
   <td align="right">396kB</td>
   <td><tt>ce24ac9243a460a1c7090e8beef03d8717ffc60f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/konsole-15.03.90.tar.xz">konsole-15.03.90</a></td>
   <td align="right">450kB</td>
   <td><tt>4db4357584d4bcfe050a490cc48f79ad07464146</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kopete-15.03.90.tar.xz">kopete-15.03.90</a></td>
   <td align="right">6.0MB</td>
   <td><tt>6fb9cafbc38137a6f44354a7110fbfea07462331</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kpat-15.03.90.tar.xz">kpat-15.03.90</a></td>
   <td align="right">2.9MB</td>
   <td><tt>f79441bf29503b6381c88720cc12fa8170494371</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kppp-15.03.90.tar.xz">kppp-15.03.90</a></td>
   <td align="right">683kB</td>
   <td><tt>f1574509c21c05d0d36ccd64f0baea51455e021f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kqtquickcharts-15.03.90.tar.xz">kqtquickcharts-15.03.90</a></td>
   <td align="right">20kB</td>
   <td><tt>d5242afd98aeba87a98e484634c3ae4975ace3bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/krdc-15.03.90.tar.xz">krdc-15.03.90</a></td>
   <td align="right">389kB</td>
   <td><tt>affad12e0bc94eca0689235813a9939a90095054</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kremotecontrol-15.03.90.tar.xz">kremotecontrol-15.03.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>f83bc7d5b91e8f916b173b19bc9683ea66652913</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kreversi-15.03.90.tar.xz">kreversi-15.03.90</a></td>
   <td align="right">464kB</td>
   <td><tt>666ba66bee3d3cc542c19877cd26f33215d28837</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/krfb-15.03.90.tar.xz">krfb-15.03.90</a></td>
   <td align="right">319kB</td>
   <td><tt>caa737bec3960d618d234bdf89e9fa3f5d451ec3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kruler-15.03.90.tar.xz">kruler-15.03.90</a></td>
   <td align="right">126kB</td>
   <td><tt>532e74279fbf6042a19bb348eb52b69f46d35b84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/ksaneplugin-15.03.90.tar.xz">ksaneplugin-15.03.90</a></td>
   <td align="right">12kB</td>
   <td><tt>38aa6369b9a26a2af5b7000a435b24112cfa3b46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kscd-15.03.90.tar.xz">kscd-15.03.90</a></td>
   <td align="right">90kB</td>
   <td><tt>87b810aeadd2a8f430da49c2c71a025b51f214ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kshisen-15.03.90.tar.xz">kshisen-15.03.90</a></td>
   <td align="right">133kB</td>
   <td><tt>241daac81794ef7c2f832c6f914e0ba1db11326e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/ksirk-15.03.90.tar.xz">ksirk-15.03.90</a></td>
   <td align="right">4.7MB</td>
   <td><tt>ad7b6d646d213227dc63ae23250c18f00ab2efb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/ksnakeduel-15.03.90.tar.xz">ksnakeduel-15.03.90</a></td>
   <td align="right">290kB</td>
   <td><tt>3edc69c885c45861d81246025e3abb171dc99911</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/ksnapshot-15.03.90.tar.xz">ksnapshot-15.03.90</a></td>
   <td align="right">252kB</td>
   <td><tt>71d5b20630144d4dddc6f57d96f494909c3c34ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kspaceduel-15.03.90.tar.xz">kspaceduel-15.03.90</a></td>
   <td align="right">247kB</td>
   <td><tt>4e887652f5009dfcc2de5d127ed7cdd44ba68380</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/ksquares-15.03.90.tar.xz">ksquares-15.03.90</a></td>
   <td align="right">78kB</td>
   <td><tt>c8100de55747a81976e60066394bd17d39d9b78c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kstars-15.03.90.tar.xz">kstars-15.03.90</a></td>
   <td align="right">12MB</td>
   <td><tt>cbfd5cd9f0b1dafe3575cf5386760a5b893d9e6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/ksudoku-15.03.90.tar.xz">ksudoku-15.03.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>5b09cf186b2c2e08e3736acf2985e0d563cda75c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/ksystemlog-15.03.90.tar.xz">ksystemlog-15.03.90</a></td>
   <td align="right">372kB</td>
   <td><tt>013c84db7f36aafb628cc15db0e09f222c8b0f95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kteatime-15.03.90.tar.xz">kteatime-15.03.90</a></td>
   <td align="right">101kB</td>
   <td><tt>08448d75b85238f0a322d975c8ad4fd7a98cd509</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/ktimer-15.03.90.tar.xz">ktimer-15.03.90</a></td>
   <td align="right">143kB</td>
   <td><tt>8ee77dbaac55cab42e2d55f8cd6892df5c23f4a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/ktouch-15.03.90.tar.xz">ktouch-15.03.90</a></td>
   <td align="right">2.3MB</td>
   <td><tt>b56338b950ac27a9b20e5d80e60a3fe7b341377f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/ktp-accounts-kcm-15.03.90.tar.xz">ktp-accounts-kcm-15.03.90</a></td>
   <td align="right">86kB</td>
   <td><tt>559ee78227da4ce6f1aca9e6346008e36f6dec47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/ktp-approver-15.03.90.tar.xz">ktp-approver-15.03.90</a></td>
   <td align="right">20kB</td>
   <td><tt>ce95fbb384367207e6d1e95884f414a8b91a0dd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/ktp-auth-handler-15.03.90.tar.xz">ktp-auth-handler-15.03.90</a></td>
   <td align="right">26kB</td>
   <td><tt>0a4794cb38bfae9ab892f4074b30efe30acd24f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/ktp-common-internals-15.03.90.tar.xz">ktp-common-internals-15.03.90</a></td>
   <td align="right">305kB</td>
   <td><tt>8a523192301a46dca9b6a562d778c929a767b007</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/ktp-contact-list-15.03.90.tar.xz">ktp-contact-list-15.03.90</a></td>
   <td align="right">47kB</td>
   <td><tt>94fc86d5dbafeedd6cd7b011cfa3672caa9c815a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/ktp-contact-runner-15.03.90.tar.xz">ktp-contact-runner-15.03.90</a></td>
   <td align="right">16kB</td>
   <td><tt>d0e6f90f8b08f82acc4103baedeb8e6aae26e6d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/ktp-desktop-applets-15.03.90.tar.xz">ktp-desktop-applets-15.03.90</a></td>
   <td align="right">24kB</td>
   <td><tt>af423ff88905da1d2c00ef55c26e409061021b15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/ktp-filetransfer-handler-15.03.90.tar.xz">ktp-filetransfer-handler-15.03.90</a></td>
   <td align="right">22kB</td>
   <td><tt>b5565602e4b1272df0737b601dc56e11d6973df3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/ktp-kded-module-15.03.90.tar.xz">ktp-kded-module-15.03.90</a></td>
   <td align="right">37kB</td>
   <td><tt>9c63c25ee9e01822023707b6ceda617b7c70a5df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/ktp-send-file-15.03.90.tar.xz">ktp-send-file-15.03.90</a></td>
   <td align="right">14kB</td>
   <td><tt>e2ab2d0c932c5a9b11a07840b9631624623c0c14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/ktp-text-ui-15.03.90.tar.xz">ktp-text-ui-15.03.90</a></td>
   <td align="right">283kB</td>
   <td><tt>e670f2d4ae5d04c555ea9e423f6b9c402ac037fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/ktuberling-15.03.90.tar.xz">ktuberling-15.03.90</a></td>
   <td align="right">4.0MB</td>
   <td><tt>5bdef3570946ce6bf378a970d20d5876f56cf0ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kturtle-15.03.90.tar.xz">kturtle-15.03.90</a></td>
   <td align="right">189kB</td>
   <td><tt>b6365d8fc3d1ba14637d96496a614eb7a9c560ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/ktux-15.03.90.tar.xz">ktux-15.03.90</a></td>
   <td align="right">105kB</td>
   <td><tt>81c1ce2f949a78d5c900ca09eabd673afdfe152a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kubrick-15.03.90.tar.xz">kubrick-15.03.90</a></td>
   <td align="right">104kB</td>
   <td><tt>acacbb487e5c1d72304114a5623ec30d6cb0724b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kuser-15.03.90.tar.xz">kuser-15.03.90</a></td>
   <td align="right">132kB</td>
   <td><tt>92c5789bc448772cc54974cf587dcd2290294fd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kwalletmanager-15.03.90.tar.xz">kwalletmanager-15.03.90</a></td>
   <td align="right">445kB</td>
   <td><tt>3290221f5759d86dded8669a390e472a727c7a83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kwordquiz-15.03.90.tar.xz">kwordquiz-15.03.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>bb2e31a5512a9b1eee9134aca751296d4f7d31ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/libkcddb-15.03.90.tar.xz">libkcddb-15.03.90</a></td>
   <td align="right">154kB</td>
   <td><tt>4f04d70fbfd74d3f53c0b8ff5ad494106865befc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/libkcompactdisc-15.03.90.tar.xz">libkcompactdisc-15.03.90</a></td>
   <td align="right">74kB</td>
   <td><tt>9dba6f11206bb9ec6b4f98a1478d5b9fe0a9bf4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/libkdcraw-15.03.90.tar.xz">libkdcraw-15.03.90</a></td>
   <td align="right">99kB</td>
   <td><tt>b40f5c47b4305215c4c183f7c318beac93870516</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/libkdeedu-15.03.90.tar.xz">libkdeedu-15.03.90</a></td>
   <td align="right">128kB</td>
   <td><tt>4117ca4800d1c06278f8a44a0f59cee624ba42d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/libkdegames-15.03.90.tar.xz">libkdegames-15.03.90</a></td>
   <td align="right">5.5MB</td>
   <td><tt>dfac74ab4afe1604c8f47db95fa9c519a63275a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/libkeduvocdocument-15.03.90.tar.xz">libkeduvocdocument-15.03.90</a></td>
   <td align="right">96kB</td>
   <td><tt>8d863196a472974c365ceead3b880dcec3c1dbff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/libkexiv2-15.03.90.tar.xz">libkexiv2-15.03.90</a></td>
   <td align="right">134kB</td>
   <td><tt>87e3a211a6e3e9236d1800129f2e9f153cb87922</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/libkface-15.03.90.tar.xz">libkface-15.03.90</a></td>
   <td align="right">8.5MB</td>
   <td><tt>db249ee9ca41f1e998678b39014aef065ef50ae1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/libkgeomap-15.03.90.tar.xz">libkgeomap-15.03.90</a></td>
   <td align="right">121kB</td>
   <td><tt>609df24dd96effb075d34d56e4ab2fd1c2401cc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/libkipi-15.03.90.tar.xz">libkipi-15.03.90</a></td>
   <td align="right">92kB</td>
   <td><tt>b60cd607ae20883e300965b5d6001a5278332212</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/libkmahjongg-15.03.90.tar.xz">libkmahjongg-15.03.90</a></td>
   <td align="right">1.5MB</td>
   <td><tt>092150189a6d6554f5be954b9f5e4426d55e53cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/libkomparediff2-15.03.90.tar.xz">libkomparediff2-15.03.90</a></td>
   <td align="right">55kB</td>
   <td><tt>055b9774092ca4352c74d227143cf82967d5cff1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/libksane-15.03.90.tar.xz">libksane-15.03.90</a></td>
   <td align="right">79kB</td>
   <td><tt>e20f86aed8a46a758279982853e08c90ce962bb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/lokalize-15.03.90.tar.xz">lokalize-15.03.90</a></td>
   <td align="right">929kB</td>
   <td><tt>718fda9f0a73cc515eb08ab7694ee96ac4b541c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/lskat-15.03.90.tar.xz">lskat-15.03.90</a></td>
   <td align="right">908kB</td>
   <td><tt>998a1b057505bbd0baeebf3d3a554e38afb8b1d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/marble-15.03.90.tar.xz">marble-15.03.90</a></td>
   <td align="right">21MB</td>
   <td><tt>6199ef73c3404812e4a8496496db9ea6033f5399</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/mplayerthumbs-15.03.90.tar.xz">mplayerthumbs-15.03.90</a></td>
   <td align="right">26kB</td>
   <td><tt>67d1e83171c7ca3fe438e3ed4cc7e95b4a592f92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/okteta-15.03.90.tar.xz">okteta-15.03.90</a></td>
   <td align="right">490kB</td>
   <td><tt>c59d25081f0858f15bc19cc99324e2c82f6029da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/okular-15.03.90.tar.xz">okular-15.03.90</a></td>
   <td align="right">1.5MB</td>
   <td><tt>78d07580a15fc0748f997613de2e5e5a7a64c50a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/oxygen-icons-15.03.90.tar.xz">oxygen-icons-15.03.90</a></td>
   <td align="right">219MB</td>
   <td><tt>b91a58f152c51e23d356f695d1660ff5773bdb0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/pairs-15.03.90.tar.xz">pairs-15.03.90</a></td>
   <td align="right">2.6MB</td>
   <td><tt>458c2dadaa0808e960eb21c291dbaa4e476f1f0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/palapeli-15.03.90.tar.xz">palapeli-15.03.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>0b0154a2e03adbe3620ab5d788a6d5242ff963cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/parley-15.03.90.tar.xz">parley-15.03.90</a></td>
   <td align="right">4.5MB</td>
   <td><tt>5c4582470ed6f0314149bb734c34ea1a42f8b662</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/picmi-15.03.90.tar.xz">picmi-15.03.90</a></td>
   <td align="right">714kB</td>
   <td><tt>8f1f15688f543bbed13c677945668e0de12b37a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/poxml-15.03.90.tar.xz">poxml-15.03.90</a></td>
   <td align="right">30kB</td>
   <td><tt>ed8ebde5fcd121b990112622f08bd84e78621ccd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/print-manager-15.03.90.tar.xz">print-manager-15.03.90</a></td>
   <td align="right">91kB</td>
   <td><tt>229f0de3a2ae3182e6639eead48b064e61e68561</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/rocs-15.03.90.tar.xz">rocs-15.03.90</a></td>
   <td align="right">864kB</td>
   <td><tt>d1ca8b7ba5c106de547fd884d50c77e4401e8aa0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/signon-kwallet-extension-15.03.90.tar.xz">signon-kwallet-extension-15.03.90</a></td>
   <td align="right">10kB</td>
   <td><tt>20534d25a2d1a85518ad47ce3ce2accaa9ed2fad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/step-15.03.90.tar.xz">step-15.03.90</a></td>
   <td align="right">376kB</td>
   <td><tt>f4e29985ab6174e8daa701ce0a994ea35a51c227</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/superkaramba-15.03.90.tar.xz">superkaramba-15.03.90</a></td>
   <td align="right">372kB</td>
   <td><tt>fb7be781d3d249e4cbc7d6f32d9b2520704dd7ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/svgpart-15.03.90.tar.xz">svgpart-15.03.90</a></td>
   <td align="right">8kB</td>
   <td><tt>a693d6c78d553ee2bcf5373b1230c281924171c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/sweeper-15.03.90.tar.xz">sweeper-15.03.90</a></td>
   <td align="right">80kB</td>
   <td><tt>e47512bf1d7f488074702a667c03e6de7c77cfb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/umbrello-15.03.90.tar.xz">umbrello-15.03.90</a></td>
   <td align="right">1.4MB</td>
   <td><tt>d03871f89468e961c7dd62c5010c73d9c3e939b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/zeroconf-ioslave-15.03.90.tar.xz">zeroconf-ioslave-15.03.90</a></td>
   <td align="right">25kB</td>
   <td><tt>a22e6d9da746c3988665adbbdb4eceb62f506977</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-l10n/kde-l10n-ar-15.03.90.tar.xz">kde-l10n-ar-15.03.90</a></td>
   <td align="right">3.2MB</td>
   <td><tt>9b39a61f840dd6cf96ed82c4bde73e5c92327dcd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-l10n/kde-l10n-bg-15.03.90.tar.xz">kde-l10n-bg-15.03.90</a></td>
   <td align="right">1.9MB</td>
   <td><tt>69773a49566d35920e5df3f293df7134780ad942</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-l10n/kde-l10n-bs-15.03.90.tar.xz">kde-l10n-bs-15.03.90</a></td>
   <td align="right">2.3MB</td>
   <td><tt>15d913de98713f1f289c43e39373d8a81a72780c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-l10n/kde-l10n-ca-15.03.90.tar.xz">kde-l10n-ca-15.03.90</a></td>
   <td align="right">11MB</td>
   <td><tt>e7a1107f4a69a99fcafb104a5a98fddab6a51754</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-l10n/kde-l10n-ca@valencia-15.03.90.tar.xz">kde-l10n-ca@valencia-15.03.90</a></td>
   <td align="right">2.3MB</td>
   <td><tt>b662a91c5b85c699cc5af3d05b73261188a130a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-l10n/kde-l10n-cs-15.03.90.tar.xz">kde-l10n-cs-15.03.90</a></td>
   <td align="right">2.9MB</td>
   <td><tt>76a01b7daa665631c9b34a9279321c6f7e4038ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-l10n/kde-l10n-da-15.03.90.tar.xz">kde-l10n-da-15.03.90</a></td>
   <td align="right">12MB</td>
   <td><tt>46fc7eb11c1ee2f57c584b41efb2a9335e3abfa3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-l10n/kde-l10n-de-15.03.90.tar.xz">kde-l10n-de-15.03.90</a></td>
   <td align="right">34MB</td>
   <td><tt>e0a74d5cf1b6fcc3e43f373b8d1706fb3e93d5d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-l10n/kde-l10n-el-15.03.90.tar.xz">kde-l10n-el-15.03.90</a></td>
   <td align="right">4.7MB</td>
   <td><tt>dc6ae303f0abca3c1f8d57e3fa77113cc80d6f3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-l10n/kde-l10n-en_GB-15.03.90.tar.xz">kde-l10n-en_GB-15.03.90</a></td>
   <td align="right">3.0MB</td>
   <td><tt>3e684bd360d5df7132420d7d05d2db10c1b646db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-l10n/kde-l10n-es-15.03.90.tar.xz">kde-l10n-es-15.03.90</a></td>
   <td align="right">20MB</td>
   <td><tt>0c4feb66dd064b3cc7500e3ebee241a2c8ade892</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-l10n/kde-l10n-et-15.03.90.tar.xz">kde-l10n-et-15.03.90</a></td>
   <td align="right">4.3MB</td>
   <td><tt>cbbba95e37e4fa525aed6d4defed56788952c44e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-l10n/kde-l10n-eu-15.03.90.tar.xz">kde-l10n-eu-15.03.90</a></td>
   <td align="right">2.0MB</td>
   <td><tt>bc153c89261a1fec4500cefd2e4791fb4c5279a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-l10n/kde-l10n-fa-15.03.90.tar.xz">kde-l10n-fa-15.03.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>d8a6c5c8a451e4475509643ce208220127d1ad69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-l10n/kde-l10n-fi-15.03.90.tar.xz">kde-l10n-fi-15.03.90</a></td>
   <td align="right">2.7MB</td>
   <td><tt>e0a28537b58638beffa80e68f9703bafd9b47e79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-l10n/kde-l10n-fr-15.03.90.tar.xz">kde-l10n-fr-15.03.90</a></td>
   <td align="right">45MB</td>
   <td><tt>9f9d8a6d7fd397188d8d2963650cafe7c4b52e89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-l10n/kde-l10n-ga-15.03.90.tar.xz">kde-l10n-ga-15.03.90</a></td>
   <td align="right">2.8MB</td>
   <td><tt>3bb6e6e7e7de384c412864ed253029cc15608a0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-l10n/kde-l10n-gl-15.03.90.tar.xz">kde-l10n-gl-15.03.90</a></td>
   <td align="right">3.5MB</td>
   <td><tt>0e35a83522fe7a4dedfab1ecadba4b1a1a74b642</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-l10n/kde-l10n-he-15.03.90.tar.xz">kde-l10n-he-15.03.90</a></td>
   <td align="right">2.1MB</td>
   <td><tt>f3a6a2789782238b8602767aeac9b9e820263620</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-l10n/kde-l10n-hi-15.03.90.tar.xz">kde-l10n-hi-15.03.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>64840f54be949e3ac240cd3e94a00ecb7bd1ff9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-l10n/kde-l10n-hr-15.03.90.tar.xz">kde-l10n-hr-15.03.90</a></td>
   <td align="right">1.9MB</td>
   <td><tt>ad3790d7f5449d33c2f81bbaad535b88f7cc0dde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-l10n/kde-l10n-hu-15.03.90.tar.xz">kde-l10n-hu-15.03.90</a></td>
   <td align="right">4.2MB</td>
   <td><tt>41db819ef472005b96c8de31f8c8798644b91baa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-l10n/kde-l10n-ia-15.03.90.tar.xz">kde-l10n-ia-15.03.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>120e6544e80c9fc4cd19449893a7574f5a5af051</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-l10n/kde-l10n-id-15.03.90.tar.xz">kde-l10n-id-15.03.90</a></td>
   <td align="right">551kB</td>
   <td><tt>4bc25a40fe7150fb667d3eaca242a328ed419a20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-l10n/kde-l10n-is-15.03.90.tar.xz">kde-l10n-is-15.03.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>d8ad6c21eceb02e86c750ec49fcde94054289abd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-l10n/kde-l10n-it-15.03.90.tar.xz">kde-l10n-it-15.03.90</a></td>
   <td align="right">8.5MB</td>
   <td><tt>782567d85f7f0a1fcc345c0ae4ff63c2825159c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-l10n/kde-l10n-ja-15.03.90.tar.xz">kde-l10n-ja-15.03.90</a></td>
   <td align="right">2.2MB</td>
   <td><tt>f8e2d56a846397b18278eb49ce29bd1ac9630483</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-l10n/kde-l10n-kk-15.03.90.tar.xz">kde-l10n-kk-15.03.90</a></td>
   <td align="right">2.6MB</td>
   <td><tt>f13d3009787ef64ef15aef81b56df955489a5adf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-l10n/kde-l10n-km-15.03.90.tar.xz">kde-l10n-km-15.03.90</a></td>
   <td align="right">2.1MB</td>
   <td><tt>5768725535e9023fcf312208a770755e1773f37a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-l10n/kde-l10n-ko-15.03.90.tar.xz">kde-l10n-ko-15.03.90</a></td>
   <td align="right">1.9MB</td>
   <td><tt>eab3f37f60fdd8c8eb6a8ebe8891f26f8625d130</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-l10n/kde-l10n-lt-15.03.90.tar.xz">kde-l10n-lt-15.03.90</a></td>
   <td align="right">12MB</td>
   <td><tt>2510db0a8225da08c2cac3ea28699a2c26452561</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-l10n/kde-l10n-lv-15.03.90.tar.xz">kde-l10n-lv-15.03.90</a></td>
   <td align="right">2.1MB</td>
   <td><tt>63a35f273d5d6b668eec389dd6957d861fd3e394</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-l10n/kde-l10n-mr-15.03.90.tar.xz">kde-l10n-mr-15.03.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>99d09ee1d558c5ff11539e0547956aa7f2495722</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-l10n/kde-l10n-nb-15.03.90.tar.xz">kde-l10n-nb-15.03.90</a></td>
   <td align="right">2.4MB</td>
   <td><tt>2aaf7a26a11ad204e1ca16767cb5c16bf4934bae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-l10n/kde-l10n-nds-15.03.90.tar.xz">kde-l10n-nds-15.03.90</a></td>
   <td align="right">3.2MB</td>
   <td><tt>ef991b14ea31d6f6cbf0adcb6475c21feca26f5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-l10n/kde-l10n-nl-15.03.90.tar.xz">kde-l10n-nl-15.03.90</a></td>
   <td align="right">13MB</td>
   <td><tt>151e3871a391abdd97d7d034b228fd9dfbfd6255</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-l10n/kde-l10n-nn-15.03.90.tar.xz">kde-l10n-nn-15.03.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>e5134f912f4940c4b9d971a0b558879cdad3c608</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-l10n/kde-l10n-pa-15.03.90.tar.xz">kde-l10n-pa-15.03.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>f176e0531758435f96d962e14722e8cd8f971d8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-l10n/kde-l10n-pl-15.03.90.tar.xz">kde-l10n-pl-15.03.90</a></td>
   <td align="right">18MB</td>
   <td><tt>95310f6e1b6dd2cf88401254baf3d47f8aeb11a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-l10n/kde-l10n-pt-15.03.90.tar.xz">kde-l10n-pt-15.03.90</a></td>
   <td align="right">3.6MB</td>
   <td><tt>924c026e78a473f8d59849ee512e8ff321f1bc39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-l10n/kde-l10n-pt_BR-15.03.90.tar.xz">kde-l10n-pt_BR-15.03.90</a></td>
   <td align="right">24MB</td>
   <td><tt>efd7d9e4a2deac530656b9dce5c193d4140d7c3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-l10n/kde-l10n-ro-15.03.90.tar.xz">kde-l10n-ro-15.03.90</a></td>
   <td align="right">2.9MB</td>
   <td><tt>3854dc22ede831b026f1b1ceb2e145277a073089</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-l10n/kde-l10n-ru-15.03.90.tar.xz">kde-l10n-ru-15.03.90</a></td>
   <td align="right">22MB</td>
   <td><tt>132cba49c8f201ead2ea9d264c5087b92ab86628</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-l10n/kde-l10n-sk-15.03.90.tar.xz">kde-l10n-sk-15.03.90</a></td>
   <td align="right">4.4MB</td>
   <td><tt>e919f1cea2a163475083b7988fd7b5ce5494d167</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-l10n/kde-l10n-sl-15.03.90.tar.xz">kde-l10n-sl-15.03.90</a></td>
   <td align="right">3.1MB</td>
   <td><tt>bb7c1d40c8b02b2abdab67a15db84e912816ac21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-l10n/kde-l10n-sr-15.03.90.tar.xz">kde-l10n-sr-15.03.90</a></td>
   <td align="right">4.6MB</td>
   <td><tt>2988269dbf8c35f77b62e4e9a39eba8f39383b8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-l10n/kde-l10n-sv-15.03.90.tar.xz">kde-l10n-sv-15.03.90</a></td>
   <td align="right">14MB</td>
   <td><tt>b8c22b571b92a4459da325c2e79abd3071493b5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-l10n/kde-l10n-tr-15.03.90.tar.xz">kde-l10n-tr-15.03.90</a></td>
   <td align="right">3.8MB</td>
   <td><tt>3462f8a4181f9f68ea6a190bd6e16a989a376a1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-l10n/kde-l10n-ug-15.03.90.tar.xz">kde-l10n-ug-15.03.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>57d64aeebd58d420a0b761be4fdd7103df764f02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-l10n/kde-l10n-uk-15.03.90.tar.xz">kde-l10n-uk-15.03.90</a></td>
   <td align="right">26MB</td>
   <td><tt>ca1e4c5a48ec79bb306ac3a308c2b7cd322a72b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-l10n/kde-l10n-wa-15.03.90.tar.xz">kde-l10n-wa-15.03.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>c55c5c5948b5e6b106bdbd61a2a737d02b3b7d6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-l10n/kde-l10n-zh_CN-15.03.90.tar.xz">kde-l10n-zh_CN-15.03.90</a></td>
   <td align="right">3.5MB</td>
   <td><tt>b7d6be9a8fbef92665f5e968b1bd6737f9f0e959</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.90/src/kde-l10n/kde-l10n-zh_TW-15.03.90.tar.xz">kde-l10n-zh_TW-15.03.90</a></td>
   <td align="right">2.6MB</td>
   <td><tt>a4c05d515279ed62e8e76c0e5d023386d2b5a570</tt></td>
</tr>

</table>
