
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/attica-5.40.0.tar.xz">attica-5.40.0</a></td>
   <td align="right">59kB</td>
   <td><tt>c0f96032f72bed7591524358e250b6aa95b620e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/baloo-5.40.0.tar.xz">baloo-5.40.0</a></td>
   <td align="right">194kB</td>
   <td><tt>ab4c13b868dcd663d159c2ea2e4d1c95163ddb60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/bluez-qt-5.40.0.tar.xz">bluez-qt-5.40.0</a></td>
   <td align="right">73kB</td>
   <td><tt>bc4953e3a77949c0bd28966961ae9d2a115eda6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/breeze-icons-5.40.0.tar.xz">breeze-icons-5.40.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>51738c68bb8f84fcc9c196735592e489188aceb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/extra-cmake-modules-5.40.0.tar.xz">extra-cmake-modules-5.40.0</a></td>
   <td align="right">305kB</td>
   <td><tt>cc2a3eadc2032b15ed895aff63d1265e8b48a874</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/frameworkintegration-5.40.0.tar.xz">frameworkintegration-5.40.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>254a08045f3c6fe6671e1e4edc638aed1811be86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/kactivities-5.40.0.tar.xz">kactivities-5.40.0</a></td>
   <td align="right">59kB</td>
   <td><tt>013bb93529527af01200a4ecdfb37519c8eb14f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/kactivities-stats-5.40.0.tar.xz">kactivities-stats-5.40.0</a></td>
   <td align="right">59kB</td>
   <td><tt>44fdc5caba99fff048fc3d2941d2a080547ef812</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/kapidox-5.40.0.tar.xz">kapidox-5.40.0</a></td>
   <td align="right">386kB</td>
   <td><tt>605a7300e5c5522bbfd9279dafffc308aaea5472</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/karchive-5.40.0.tar.xz">karchive-5.40.0</a></td>
   <td align="right">110kB</td>
   <td><tt>1599f5b9bd86835b7633036433ac82aa79c5c430</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/kauth-5.40.0.tar.xz">kauth-5.40.0</a></td>
   <td align="right">82kB</td>
   <td><tt>4879541dced8857618547a6a0a23e821800c0037</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/kbookmarks-5.40.0.tar.xz">kbookmarks-5.40.0</a></td>
   <td align="right">114kB</td>
   <td><tt>80671f087d1330eae336ebd0e7e10ad642ea1b0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/kcmutils-5.40.0.tar.xz">kcmutils-5.40.0</a></td>
   <td align="right">229kB</td>
   <td><tt>5048a2dfe9b5db25bb3bcc9c4bb9e169c2de7cc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/kcodecs-5.40.0.tar.xz">kcodecs-5.40.0</a></td>
   <td align="right">213kB</td>
   <td><tt>60e0a1b9c5e00922a5e2b8a16cff4f22111adb79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/kcompletion-5.40.0.tar.xz">kcompletion-5.40.0</a></td>
   <td align="right">115kB</td>
   <td><tt>9b59b0cbc9a4ad78221d989009208fd177365889</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/kconfig-5.40.0.tar.xz">kconfig-5.40.0</a></td>
   <td align="right">229kB</td>
   <td><tt>96f0914ee9a7c91baec4681f8ad87c9cb8abf925</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/kconfigwidgets-5.40.0.tar.xz">kconfigwidgets-5.40.0</a></td>
   <td align="right">366kB</td>
   <td><tt>9c35e9fff83421303f8d4345796794b5d1301bfc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/kcoreaddons-5.40.0.tar.xz">kcoreaddons-5.40.0</a></td>
   <td align="right">343kB</td>
   <td><tt>7f1fc118a1bf99a255127918bafd5ed9d43b2b28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/kcrash-5.40.0.tar.xz">kcrash-5.40.0</a></td>
   <td align="right">21kB</td>
   <td><tt>5fcf6b5f7f49aaec78997aa1c85cec65df286940</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/kdbusaddons-5.40.0.tar.xz">kdbusaddons-5.40.0</a></td>
   <td align="right">35kB</td>
   <td><tt>744a11e1944c723a9b7c72cca89fbccea7efb26a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/kdeclarative-5.40.0.tar.xz">kdeclarative-5.40.0</a></td>
   <td align="right">164kB</td>
   <td><tt>f9d4d3631d8e2c601c4d9f800bee77f0cc15fb50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/kded-5.40.0.tar.xz">kded-5.40.0</a></td>
   <td align="right">37kB</td>
   <td><tt>462e215495337f75da2393d77660338bed570ff4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/kdesignerplugin-5.40.0.tar.xz">kdesignerplugin-5.40.0</a></td>
   <td align="right">88kB</td>
   <td><tt>f9888404b3a765736129ff302e2729b7963cc2c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/kdesu-5.40.0.tar.xz">kdesu-5.40.0</a></td>
   <td align="right">44kB</td>
   <td><tt>0e06e4b7e005a2a72102a52b061f9e1a0f546c3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/kdewebkit-5.40.0.tar.xz">kdewebkit-5.40.0</a></td>
   <td align="right">28kB</td>
   <td><tt>76baa3400e41f829249b0797a4292d0ca9656ecc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/kdnssd-5.40.0.tar.xz">kdnssd-5.40.0</a></td>
   <td align="right">55kB</td>
   <td><tt>ee91bb496b58dd141e795bf1a97f9ca9533610c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/kdoctools-5.40.0.tar.xz">kdoctools-5.40.0</a></td>
   <td align="right">411kB</td>
   <td><tt>9f0f25cc742e0dee93f200cde65712b3788f78e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/kemoticons-5.40.0.tar.xz">kemoticons-5.40.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>456f2e9de166f5df3fdf210ded10afbe0cafb7a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/kfilemetadata-5.40.0.tar.xz">kfilemetadata-5.40.0</a></td>
   <td align="right">214kB</td>
   <td><tt>6a826ddd56e95b6f70d04fcbc3e7ebfbbd94b9a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/kglobalaccel-5.40.0.tar.xz">kglobalaccel-5.40.0</a></td>
   <td align="right">81kB</td>
   <td><tt>2425b657f57f3ef53114ee905e55c4095f7a6ddf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/kguiaddons-5.40.0.tar.xz">kguiaddons-5.40.0</a></td>
   <td align="right">39kB</td>
   <td><tt>e9e67873c4d100a159c3ddeab32eae9a97999ebe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/ki18n-5.40.0.tar.xz">ki18n-5.40.0</a></td>
   <td align="right">573kB</td>
   <td><tt>ca53333ae95fca127c64fd2b89491ab248d06894</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/kiconthemes-5.40.0.tar.xz">kiconthemes-5.40.0</a></td>
   <td align="right">200kB</td>
   <td><tt>49ac710da9918c420fab527fa971c4e40937e75c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/kidletime-5.40.0.tar.xz">kidletime-5.40.0</a></td>
   <td align="right">25kB</td>
   <td><tt>f616db48b344b8ab2b0c2972dd0774d03b65eaed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/kimageformats-5.40.0.tar.xz">kimageformats-5.40.0</a></td>
   <td align="right">199kB</td>
   <td><tt>f159542ed404e34ca370f13aac446579d3ba0826</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/kinit-5.40.0.tar.xz">kinit-5.40.0</a></td>
   <td align="right">118kB</td>
   <td><tt>73bbd0b36a36bb1c44e4f2b2dd103ee307eff49f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/kio-5.40.0.tar.xz">kio-5.40.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>e858627980aa65d73630a578be9fd6db6d51f727</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/kirigami2-5.40.0.tar.xz">kirigami2-5.40.0</a></td>
   <td align="right">284kB</td>
   <td><tt>652efd587ebdc95d0246929f33ef6fd133f70610</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/kitemmodels-5.40.0.tar.xz">kitemmodels-5.40.0</a></td>
   <td align="right">380kB</td>
   <td><tt>da90e3d45639c14eda700fa63f9faf585f5fc680</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/kitemviews-5.40.0.tar.xz">kitemviews-5.40.0</a></td>
   <td align="right">73kB</td>
   <td><tt>1f34e75c1564dd11d1066ff627858c8fe4ff3dc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/kjobwidgets-5.40.0.tar.xz">kjobwidgets-5.40.0</a></td>
   <td align="right">87kB</td>
   <td><tt>564939186864f3ea1b0fff3a303d2ba4d9472de9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/knewstuff-5.40.0.tar.xz">knewstuff-5.40.0</a></td>
   <td align="right">887kB</td>
   <td><tt>53cf70f32faab6d6791a318d453342eb2c28a60e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/knotifications-5.40.0.tar.xz">knotifications-5.40.0</a></td>
   <td align="right">97kB</td>
   <td><tt>f19b6fa4fe8c4df9b4c8ec2fd455e4de5f50f886</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/knotifyconfig-5.40.0.tar.xz">knotifyconfig-5.40.0</a></td>
   <td align="right">81kB</td>
   <td><tt>898d45f42e31d622d70f6f3b70a885ce0f14cca9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/kpackage-5.40.0.tar.xz">kpackage-5.40.0</a></td>
   <td align="right">122kB</td>
   <td><tt>04db9a0fe95a80475ff2a199f552f7c632ae7d05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/kparts-5.40.0.tar.xz">kparts-5.40.0</a></td>
   <td align="right">171kB</td>
   <td><tt>6b53761048c6fd748e6474fb3be3e8febdc2d942</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/kpeople-5.40.0.tar.xz">kpeople-5.40.0</a></td>
   <td align="right">58kB</td>
   <td><tt>d7dc2915641d1ca03e32d090bc7e29a9a5e54de8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/kplotting-5.40.0.tar.xz">kplotting-5.40.0</a></td>
   <td align="right">29kB</td>
   <td><tt>4f239f6a297e739f4e830c0d3a4c62e033a54d98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/kpty-5.40.0.tar.xz">kpty-5.40.0</a></td>
   <td align="right">56kB</td>
   <td><tt>91795de6bfbb74cbe28852f78c79482a6c445180</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/krunner-5.40.0.tar.xz">krunner-5.40.0</a></td>
   <td align="right">59kB</td>
   <td><tt>bc137ad73af3b632dd0f9c95f3c6d7cc0cd339a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/kservice-5.40.0.tar.xz">kservice-5.40.0</a></td>
   <td align="right">244kB</td>
   <td><tt>bc1dba7d5dd1c51e0779a166edccbe553f36ab81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/ktexteditor-5.40.0.tar.xz">ktexteditor-5.40.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>d205f4a9d391899345478f80032baafecb1b0eae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/ktextwidgets-5.40.0.tar.xz">ktextwidgets-5.40.0</a></td>
   <td align="right">301kB</td>
   <td><tt>a9099220529cdc892d81308ea73a3777d9582705</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/kunitconversion-5.40.0.tar.xz">kunitconversion-5.40.0</a></td>
   <td align="right">754kB</td>
   <td><tt>0a260df45570128d3446b106211249d87321a2cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/kwallet-5.40.0.tar.xz">kwallet-5.40.0</a></td>
   <td align="right">299kB</td>
   <td><tt>e3e7badba7f030244d3be6be4a6947f1548dfea9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/kwayland-5.40.0.tar.xz">kwayland-5.40.0</a></td>
   <td align="right">278kB</td>
   <td><tt>ea1ba4e7e6f6bfb104fca3dd22f2916130dac470</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/kwidgetsaddons-5.40.0.tar.xz">kwidgetsaddons-5.40.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>446348ba864abd03cf819b44bc8c16564d834b55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/kwindowsystem-5.40.0.tar.xz">kwindowsystem-5.40.0</a></td>
   <td align="right">165kB</td>
   <td><tt>b122c5ca33d83f4f0cc9f1b73ba57a1576b16f07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/kxmlgui-5.40.0.tar.xz">kxmlgui-5.40.0</a></td>
   <td align="right">862kB</td>
   <td><tt>2b25a8aa02fcdf3350f582e6ba1844d8d528957a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/kxmlrpcclient-5.40.0.tar.xz">kxmlrpcclient-5.40.0</a></td>
   <td align="right">28kB</td>
   <td><tt>ee8cb0f6b3e29d3a76d36f1f7a88db99b2f9fb09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/modemmanager-qt-5.40.0.tar.xz">modemmanager-qt-5.40.0</a></td>
   <td align="right">96kB</td>
   <td><tt>2bdfdaff0d407e379fe66876e8bfa4b042225017</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/networkmanager-qt-5.40.0.tar.xz">networkmanager-qt-5.40.0</a></td>
   <td align="right">159kB</td>
   <td><tt>e003044c56ed8f90cafdc09b71d2cf15508cfff6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/oxygen-icons5-5.40.0.tar.xz">oxygen-icons5-5.40.0</a></td>
   <td align="right">223MB</td>
   <td><tt>49b029359f82d8faa6f290bb58084def7f768184</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/plasma-framework-5.40.0.tar.xz">plasma-framework-5.40.0</a></td>
   <td align="right">4.3MB</td>
   <td><tt>9b44e5c297950890705e95c0fc588a563c12e998</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/prison-5.40.0.tar.xz">prison-5.40.0</a></td>
   <td align="right">13kB</td>
   <td><tt>98978165664be752a5d47bc777c894e2331b9b59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/qqc2-desktop-style-5.40.0.tar.xz">qqc2-desktop-style-5.40.0</a></td>
   <td align="right">34kB</td>
   <td><tt>9abd64bb1683d195824a0719dc53e29b37a2e6e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/solid-5.40.0.tar.xz">solid-5.40.0</a></td>
   <td align="right">242kB</td>
   <td><tt>e87132650c1af2ce95d4be3ea476e828cdeef8fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/sonnet-5.40.0.tar.xz">sonnet-5.40.0</a></td>
   <td align="right">278kB</td>
   <td><tt>fc2b8e39f019b168897198d0409c941885dbfec6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/syntax-highlighting-5.40.0.tar.xz">syntax-highlighting-5.40.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>79565ce59cd5d49c8ab5c65276f379ad7dc2f1e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.40/threadweaver-5.40.0.tar.xz">threadweaver-5.40.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>79514c6970cc95430a12bf47f4c6d0b16e35bdd8</tt></td>
</tr>

</table>
