<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/akonadi-18.11.80.tar.xz">akonadi-18.11.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>cb99efaa7ac84ec37734e527490f86e2bc40add0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/akonadi-calendar-18.11.80.tar.xz">akonadi-calendar-18.11.80</a></td>
   <td align="right">325kB</td>
   <td><tt>1897d38110770be3bbcfd4902f568eeeb0db55b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/akonadi-calendar-tools-18.11.80.tar.xz">akonadi-calendar-tools-18.11.80</a></td>
   <td align="right">219kB</td>
   <td><tt>2514ed083d2223bfe174bbedfd98e1b52333bbf9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/akonadiconsole-18.11.80.tar.xz">akonadiconsole-18.11.80</a></td>
   <td align="right">189kB</td>
   <td><tt>d89d167cd9a1c9d9eb325563b5c9478a7eb11bda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/akonadi-contacts-18.11.80.tar.xz">akonadi-contacts-18.11.80</a></td>
   <td align="right">381kB</td>
   <td><tt>017c5861bb1aedfe922310514ff64febcc1ad697</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/akonadi-import-wizard-18.11.80.tar.xz">akonadi-import-wizard-18.11.80</a></td>
   <td align="right">428kB</td>
   <td><tt>dad1c66d35a4f462d05fce58d85cee52e44eb371</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/akonadi-mime-18.11.80.tar.xz">akonadi-mime-18.11.80</a></td>
   <td align="right">133kB</td>
   <td><tt>14f48075ce097342a1f153dc5aa8dc8e98b547bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/akonadi-notes-18.11.80.tar.xz">akonadi-notes-18.11.80</a></td>
   <td align="right">23kB</td>
   <td><tt>1f6e1256dff8c311287045f6fe918a2cf4e77843</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/akonadi-search-18.11.80.tar.xz">akonadi-search-18.11.80</a></td>
   <td align="right">80kB</td>
   <td><tt>f9a13b221e4d8cfb25f1b096221de163c5798b16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/akregator-18.11.80.tar.xz">akregator-18.11.80</a></td>
   <td align="right">2.0MB</td>
   <td><tt>fa4ad24b9c81c2bc03ff73fe14b19bfce5d51ea8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/analitza-18.11.80.tar.xz">analitza-18.11.80</a></td>
   <td align="right">324kB</td>
   <td><tt>763fb745bdddd0a90569082cfb33c26044d41fdf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/ark-18.11.80.tar.xz">ark-18.11.80</a></td>
   <td align="right">2.4MB</td>
   <td><tt>0a38b48f0654e855c4634ac4c74e9d1f3676a4fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/artikulate-18.11.80.tar.xz">artikulate-18.11.80</a></td>
   <td align="right">3.5MB</td>
   <td><tt>87f2f592a1f2008d8b5f3e2b8b5af2013458fe45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/audiocd-kio-18.11.80.tar.xz">audiocd-kio-18.11.80</a></td>
   <td align="right">243kB</td>
   <td><tt>39fabac08e37a85871c9c035517276ae2f298ec9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/baloo-widgets-18.11.80.tar.xz">baloo-widgets-18.11.80</a></td>
   <td align="right">239kB</td>
   <td><tt>2e650d740bfadf5bd1ef1da67b1bda79a8a9ef65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/blinken-18.11.80.tar.xz">blinken-18.11.80</a></td>
   <td align="right">2.3MB</td>
   <td><tt>dea7d673f31aceb5806676e19bbc1ce6d5045238</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/bomber-18.11.80.tar.xz">bomber-18.11.80</a></td>
   <td align="right">800kB</td>
   <td><tt>3e2f137cd87c1e586bcc55a3c2dc396aca929e4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/bovo-18.11.80.tar.xz">bovo-18.11.80</a></td>
   <td align="right">194kB</td>
   <td><tt>1d3428b01fe69840549be6383786c88d6b854c26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/calendarsupport-18.11.80.tar.xz">calendarsupport-18.11.80</a></td>
   <td align="right">631kB</td>
   <td><tt>64bd0ceca74e9f1c93045a1167f6b5c71a577d4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/cantor-18.11.80.tar.xz">cantor-18.11.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>32182a365acbcc845762626a0e0225b4cacf1108</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/cervisia-18.11.80.tar.xz">cervisia-18.11.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>b143467bdac4a815abea9f1cbea582475da51c87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/dolphin-18.11.80.tar.xz">dolphin-18.11.80</a></td>
   <td align="right">4.6MB</td>
   <td><tt>18e9ce278c805df73b7c13a9041d678643154333</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/dolphin-plugins-18.11.80.tar.xz">dolphin-plugins-18.11.80</a></td>
   <td align="right">187kB</td>
   <td><tt>45c218e3c1e34cdc1e2c932288a4047f33208edc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/dragon-18.11.80.tar.xz">dragon-18.11.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>07efcae172d90ee4e30a2a245a25c822c677ce4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/eventviews-18.11.80.tar.xz">eventviews-18.11.80</a></td>
   <td align="right">432kB</td>
   <td><tt>4a94ea2a3402969a0b620a8539ded411c870abcf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/ffmpegthumbs-18.11.80.tar.xz">ffmpegthumbs-18.11.80</a></td>
   <td align="right">21kB</td>
   <td><tt>7d864bbb8a3d5d6d27b13b1e801f918d106a760e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/filelight-18.11.80.tar.xz">filelight-18.11.80</a></td>
   <td align="right">644kB</td>
   <td><tt>1f0489ef71055216d8d5833c326b42829adcfba5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/granatier-18.11.80.tar.xz">granatier-18.11.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>7a60d78db1f91f38e4880c00574f4f00ebcd0a31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/grantlee-editor-18.11.80.tar.xz">grantlee-editor-18.11.80</a></td>
   <td align="right">108kB</td>
   <td><tt>be47252df452497a0abfb26b6442d7c15f613de8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/grantleetheme-18.11.80.tar.xz">grantleetheme-18.11.80</a></td>
   <td align="right">50kB</td>
   <td><tt>28560d0fc6cb5a642614a7b8fab10bb7a04ddcd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/gwenview-18.11.80.tar.xz">gwenview-18.11.80</a></td>
   <td align="right">5.8MB</td>
   <td><tt>69bb9c74434fc63c7b9a89abc6d1088d3b10138e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/incidenceeditor-18.11.80.tar.xz">incidenceeditor-18.11.80</a></td>
   <td align="right">509kB</td>
   <td><tt>0141921daa0f2cf809fd16f5ddee10505bdeedbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/juk-18.11.80.tar.xz">juk-18.11.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>28ac8221467c6de1ac698c74d8097995cc4f08c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/k3b-18.11.80.tar.xz">k3b-18.11.80</a></td>
   <td align="right">10MB</td>
   <td><tt>8eb2d048ca00bc3ff3da5ba682ae97d04a9495da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kaccounts-integration-18.11.80.tar.xz">kaccounts-integration-18.11.80</a></td>
   <td align="right">69kB</td>
   <td><tt>ab72acb9d0d07cfd98a79f293efa8fe7270615f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kaccounts-providers-18.11.80.tar.xz">kaccounts-providers-18.11.80</a></td>
   <td align="right">30kB</td>
   <td><tt>761e3485ce0f7550f1964a9efc6ff2179b49e205</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kaddressbook-18.11.80.tar.xz">kaddressbook-18.11.80</a></td>
   <td align="right">458kB</td>
   <td><tt>14d6f05dc38257e616952dda0e1126ba67fe2854</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kajongg-18.11.80.tar.xz">kajongg-18.11.80</a></td>
   <td align="right">4.2MB</td>
   <td><tt>2b82a49a51c2eab4f78ad5dfc3899a9fb42dd606</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kalarm-18.11.80.tar.xz">kalarm-18.11.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>eab4e8bdcca24bd36df642fd62dbf4ebb18d9a1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kalarmcal-18.11.80.tar.xz">kalarmcal-18.11.80</a></td>
   <td align="right">559kB</td>
   <td><tt>e6b3b36da7a08f51a5ab90b54b7a954ed55c2e94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kalgebra-18.11.80.tar.xz">kalgebra-18.11.80</a></td>
   <td align="right">699kB</td>
   <td><tt>ad6bcb97629e3398048aec15d5dc82c0c37651d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kalzium-18.11.80.tar.xz">kalzium-18.11.80</a></td>
   <td align="right">23MB</td>
   <td><tt>06267c91cb8c4655e151e21a6670fa2bc664142c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kamera-18.11.80.tar.xz">kamera-18.11.80</a></td>
   <td align="right">96kB</td>
   <td><tt>2c8708f542ffe56ea6b2eebf27f2388a988c9f1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kamoso-18.11.80.tar.xz">kamoso-18.11.80</a></td>
   <td align="right">162kB</td>
   <td><tt>c2181bd6e7907ff4271468bc60c1f64c8c604b03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kanagram-18.11.80.tar.xz">kanagram-18.11.80</a></td>
   <td align="right">7.0MB</td>
   <td><tt>cfe863f28a3196768c56587e144d8b1dbab41296</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kapman-18.11.80.tar.xz">kapman-18.11.80</a></td>
   <td align="right">2.4MB</td>
   <td><tt>cceb9d09881f2e5134cb255f005219a181344206</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kapptemplate-18.11.80.tar.xz">kapptemplate-18.11.80</a></td>
   <td align="right">309kB</td>
   <td><tt>fb068c56c1978ed4161b073a87920b4150f9df51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kate-18.11.80.tar.xz">kate-18.11.80</a></td>
   <td align="right">5.5MB</td>
   <td><tt>e69a2515826e11686b19118497a75c751fe95c27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/katomic-18.11.80.tar.xz">katomic-18.11.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>09c2ed4fe9799f88f5fd81f8da04d82b7e5b89f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kbackup-18.11.80.tar.xz">kbackup-18.11.80</a></td>
   <td align="right">342kB</td>
   <td><tt>3f06ed8019c5f88833e632db2405894642e0984f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kblackbox-18.11.80.tar.xz">kblackbox-18.11.80</a></td>
   <td align="right">433kB</td>
   <td><tt>3ba9f7f3498ff1a5ee648b5f4d8b7079566741b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kblocks-18.11.80.tar.xz">kblocks-18.11.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>0279fca39f26805167618ee89834f06cada820ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kblog-18.11.80.tar.xz">kblog-18.11.80</a></td>
   <td align="right">71kB</td>
   <td><tt>98ee42d61fe13e10239c29162cc60731b471082c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kbounce-18.11.80.tar.xz">kbounce-18.11.80</a></td>
   <td align="right">3.3MB</td>
   <td><tt>b0e3f8f3bed53580ced24f4172dff9105f782f17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kbreakout-18.11.80.tar.xz">kbreakout-18.11.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>d7566ddbc5fe833dd6c8834f727378a551d2129c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kbruch-18.11.80.tar.xz">kbruch-18.11.80</a></td>
   <td align="right">5.3MB</td>
   <td><tt>0b2b2fe9a4ee77160694b0d03ecaa74eb8a414fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kcachegrind-18.11.80.tar.xz">kcachegrind-18.11.80</a></td>
   <td align="right">788kB</td>
   <td><tt>d61f3763713206b419db68b266c9d74219617a01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kcalc-18.11.80.tar.xz">kcalc-18.11.80</a></td>
   <td align="right">353kB</td>
   <td><tt>3f2b7c7490808f75884d303a10b99f6c327881e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kcalcore-18.11.80.tar.xz">kcalcore-18.11.80</a></td>
   <td align="right">247kB</td>
   <td><tt>65a7dace1732a11aeef6fcd21fa375fe5a94ecc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kcalutils-18.11.80.tar.xz">kcalutils-18.11.80</a></td>
   <td align="right">321kB</td>
   <td><tt>d73b50025b4e2453e02b8f9c1c1e4c6112f2bbc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kcharselect-18.11.80.tar.xz">kcharselect-18.11.80</a></td>
   <td align="right">347kB</td>
   <td><tt>4f8f94717fc796d99a6c6326458140a999c495a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kcolorchooser-18.11.80.tar.xz">kcolorchooser-18.11.80</a></td>
   <td align="right">16kB</td>
   <td><tt>22439bf1a4cf081631ef3536c7eb8d1f97a286fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kcontacts-18.11.80.tar.xz">kcontacts-18.11.80</a></td>
   <td align="right">589kB</td>
   <td><tt>10f78cc767785ddb0b124036fee9acb1a15b1c12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kcron-18.11.80.tar.xz">kcron-18.11.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>91de943b42bcd3d5cd2d27390638b48a76ffc701</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kdav-18.11.80.tar.xz">kdav-18.11.80</a></td>
   <td align="right">48kB</td>
   <td><tt>a46092ccd7c43f7c78df4b1b5e26aebd9f31267c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kdebugsettings-18.11.80.tar.xz">kdebugsettings-18.11.80</a></td>
   <td align="right">53kB</td>
   <td><tt>bc5ea2cdf110c93787d48f1280ccc603459c21aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kde-dev-scripts-18.11.80.tar.xz">kde-dev-scripts-18.11.80</a></td>
   <td align="right">369kB</td>
   <td><tt>79659d2d6125a19925b0bdd9f9b0089f6b438810</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kde-dev-utils-18.11.80.tar.xz">kde-dev-utils-18.11.80</a></td>
   <td align="right">59kB</td>
   <td><tt>790c6daaaa1e704fbfcdb49e7a146d85d22515e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kdeedu-data-18.11.80.tar.xz">kdeedu-data-18.11.80</a></td>
   <td align="right">320kB</td>
   <td><tt>7ae6ff88e367ba1c4d1963544554ff1b263ad1f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kdegraphics-mobipocket-18.11.80.tar.xz">kdegraphics-mobipocket-18.11.80</a></td>
   <td align="right">13kB</td>
   <td><tt>aab6c98bd1b2524e55f5b0ff56a86c5229cb2dd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kdegraphics-thumbnailers-18.11.80.tar.xz">kdegraphics-thumbnailers-18.11.80</a></td>
   <td align="right">40kB</td>
   <td><tt>26cc8bdd36966af6c7cc84bdcbccbbfdcacd28c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kdenetwork-filesharing-18.11.80.tar.xz">kdenetwork-filesharing-18.11.80</a></td>
   <td align="right">305kB</td>
   <td><tt>95fee9ff73e97acd6ff7c2ccc1e7cd131989f149</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kdenlive-18.11.80.tar.xz">kdenlive-18.11.80</a></td>
   <td align="right">9.7MB</td>
   <td><tt>04b3ed0db957bd853b9a8eeb5438dff6516fbfaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kdepim-addons-18.11.80.tar.xz">kdepim-addons-18.11.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>f8e8f42c78aae19d64b493f7712fbda19e9d076e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kdepim-apps-libs-18.11.80.tar.xz">kdepim-apps-libs-18.11.80</a></td>
   <td align="right">81kB</td>
   <td><tt>63551859b1abe1af48b8dcb0277f80c7278649c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kdepim-runtime-18.11.80.tar.xz">kdepim-runtime-18.11.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>9812c74437337901e18da3b8b048bd0b7b6291f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kdesdk-kioslaves-18.11.80.tar.xz">kdesdk-kioslaves-18.11.80</a></td>
   <td align="right">36kB</td>
   <td><tt>defdaca186992ef7e59d6ad9f1b3371bbc74f40d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kdesdk-thumbnailers-18.11.80.tar.xz">kdesdk-thumbnailers-18.11.80</a></td>
   <td align="right">16kB</td>
   <td><tt>8a709969e09934e3d32419ea9f9e230f4dcc70c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kdf-18.11.80.tar.xz">kdf-18.11.80</a></td>
   <td align="right">543kB</td>
   <td><tt>635ed98e10d0a8e35946ca908cdda59de50fa010</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kdialog-18.11.80.tar.xz">kdialog-18.11.80</a></td>
   <td align="right">94kB</td>
   <td><tt>9cd73f566fd4f5016e11a5175e21b2d6b118b130</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kdiamond-18.11.80.tar.xz">kdiamond-18.11.80</a></td>
   <td align="right">4.5MB</td>
   <td><tt>826e4318bb8f7ba33a89a81f53da3ddfc7c7c312</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/keditbookmarks-18.11.80.tar.xz">keditbookmarks-18.11.80</a></td>
   <td align="right">180kB</td>
   <td><tt>2b236b522f66f2daea14d2f26031b7cc76c15fd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kfind-18.11.80.tar.xz">kfind-18.11.80</a></td>
   <td align="right">261kB</td>
   <td><tt>fdd4412074270bf7ea3dd5e380b73f48b7b161d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kfloppy-18.11.80.tar.xz">kfloppy-18.11.80</a></td>
   <td align="right">194kB</td>
   <td><tt>3bb69df96a951ebc0212c8c85c6233edbb639069</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kfourinline-18.11.80.tar.xz">kfourinline-18.11.80</a></td>
   <td align="right">621kB</td>
   <td><tt>c64c963bb5843ccf2350a3a2806af3d911efe4f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kgeography-18.11.80.tar.xz">kgeography-18.11.80</a></td>
   <td align="right">10MB</td>
   <td><tt>90c82c32cb3a2574225fccdc4028bf9485622feb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kget-18.11.80.tar.xz">kget-18.11.80</a></td>
   <td align="right">4.9MB</td>
   <td><tt>cc2283cd1a9017fc3aaee387ccef69fc13f868dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kgoldrunner-18.11.80.tar.xz">kgoldrunner-18.11.80</a></td>
   <td align="right">4.2MB</td>
   <td><tt>9ea1d430e01bad71874c310807c925e2d8571afa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kgpg-18.11.80.tar.xz">kgpg-18.11.80</a></td>
   <td align="right">2.7MB</td>
   <td><tt>b632396b300a91d09e29a6b592b7a1d5b9dcd994</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/khangman-18.11.80.tar.xz">khangman-18.11.80</a></td>
   <td align="right">6.9MB</td>
   <td><tt>fd8274b998316b5e0694407afe4181d81a13c8ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/khelpcenter-18.11.80.tar.xz">khelpcenter-18.11.80</a></td>
   <td align="right">3.6MB</td>
   <td><tt>f657430b23c7d0293f06668832d7a3f4bb7a486c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kidentitymanagement-18.11.80.tar.xz">kidentitymanagement-18.11.80</a></td>
   <td align="right">145kB</td>
   <td><tt>32cc5322745a7e1ffba34ac18a8920cb38b1839b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kig-18.11.80.tar.xz">kig-18.11.80</a></td>
   <td align="right">3.3MB</td>
   <td><tt>0213844a5f6d54306a5b300a45f07e5d0f434f60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kigo-18.11.80.tar.xz">kigo-18.11.80</a></td>
   <td align="right">4.9MB</td>
   <td><tt>ef11557af4c6936b9dce5b03b6266e20ddd13e58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/killbots-18.11.80.tar.xz">killbots-18.11.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>a4af2475903d3a593a4c4f6a5a9d1ab795b17fb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kimagemapeditor-18.11.80.tar.xz">kimagemapeditor-18.11.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>0bfa1b75a6bd3fe6404623db68a2132bcb009458</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kimap-18.11.80.tar.xz">kimap-18.11.80</a></td>
   <td align="right">116kB</td>
   <td><tt>d50f675d2b6fdc2e9c169272e63fb066c90d23b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kio-extras-18.11.80.tar.xz">kio-extras-18.11.80</a></td>
   <td align="right">548kB</td>
   <td><tt>7a35bf29a7da79e8da45b9b0f0bac6d3f228feca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kirigami-gallery-18.11.80.tar.xz">kirigami-gallery-18.11.80</a></td>
   <td align="right">252kB</td>
   <td><tt>eca62500ace21273a3a04e55b72d8e989658ccd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kiriki-18.11.80.tar.xz">kiriki-18.11.80</a></td>
   <td align="right">362kB</td>
   <td><tt>8e699ed7beb1bab9c5e5c9ee2a5d171422479616</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kiten-18.11.80.tar.xz">kiten-18.11.80</a></td>
   <td align="right">11MB</td>
   <td><tt>35ff204f7e2c10e199ed92da70c8b32a749e3f2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kitinerary-18.11.80.tar.xz">kitinerary-18.11.80</a></td>
   <td align="right">637kB</td>
   <td><tt>e1ecc6926e183d6558bada0e2a91d1df8b8dd912</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kjumpingcube-18.11.80.tar.xz">kjumpingcube-18.11.80</a></td>
   <td align="right">279kB</td>
   <td><tt>f0b635110ebcc8e52eb3e6ce217e239761ae2326</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kldap-18.11.80.tar.xz">kldap-18.11.80</a></td>
   <td align="right">151kB</td>
   <td><tt>3a2282f9938cabf6895e89cc0660418c268e1616</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kleopatra-18.11.80.tar.xz">kleopatra-18.11.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>1ea4459f4e7151b11101027c9442c1806e0213dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/klettres-18.11.80.tar.xz">klettres-18.11.80</a></td>
   <td align="right">20MB</td>
   <td><tt>0df081660d30e71c580b97ba5bfbf91582538b25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/klickety-18.11.80.tar.xz">klickety-18.11.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>234a0dc24a1da0a07b9f8a1378e4b0b15b798ba8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/klines-18.11.80.tar.xz">klines-18.11.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>c5169919bf48455045ecba5a93ef4b39940eaa34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kmag-18.11.80.tar.xz">kmag-18.11.80</a></td>
   <td align="right">614kB</td>
   <td><tt>ed9332a39cd29ff0bda277e1537a0bc186bd9087</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kmahjongg-18.11.80.tar.xz">kmahjongg-18.11.80</a></td>
   <td align="right">3.8MB</td>
   <td><tt>fa22efe83d6f6f85a8d6072e34c8a0cc607c0892</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kmail-18.11.80.tar.xz">kmail-18.11.80</a></td>
   <td align="right">4.5MB</td>
   <td><tt>295dbd70547f61e6e70c44763edf966b2ff9d747</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kmail-account-wizard-18.11.80.tar.xz">kmail-account-wizard-18.11.80</a></td>
   <td align="right">152kB</td>
   <td><tt>e16e7dd149562a5565eaaeaaab360fd4638c01de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kmailtransport-18.11.80.tar.xz">kmailtransport-18.11.80</a></td>
   <td align="right">162kB</td>
   <td><tt>c47795e28cc61d40724f294e64779cc60a8b9ef3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kmbox-18.11.80.tar.xz">kmbox-18.11.80</a></td>
   <td align="right">24kB</td>
   <td><tt>e692e05fb5fe9519bc82d1719bc6ba068952ab8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kmime-18.11.80.tar.xz">kmime-18.11.80</a></td>
   <td align="right">143kB</td>
   <td><tt>b1c61d331cf20eadbb30afd9e55a1e64c0dbc9c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kmines-18.11.80.tar.xz">kmines-18.11.80</a></td>
   <td align="right">879kB</td>
   <td><tt>be6adbebf36a8872783d6783df1f4bd179cf6e7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kmix-18.11.80.tar.xz">kmix-18.11.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>1a5c740f364bdadadecc78928915f5e38756ae30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kmousetool-18.11.80.tar.xz">kmousetool-18.11.80</a></td>
   <td align="right">110kB</td>
   <td><tt>7ab0b9b4ce32bb29fc2d468fdc7b10a3ca473210</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kmouth-18.11.80.tar.xz">kmouth-18.11.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>7da9797f0b0361d9234cb21d8bb3faa16ccf347c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kmplot-18.11.80.tar.xz">kmplot-18.11.80</a></td>
   <td align="right">2.9MB</td>
   <td><tt>d743971f8b99d9e636ad61768542b7cd9a39ac3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/knavalbattle-18.11.80.tar.xz">knavalbattle-18.11.80</a></td>
   <td align="right">1.2MB</td>
   <td><tt>f35dac40754046a0c95d806aaac7738a28b890f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/knetwalk-18.11.80.tar.xz">knetwalk-18.11.80</a></td>
   <td align="right">1012kB</td>
   <td><tt>c1217980baa0579f05796e17ce353e8a8952dd64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/knights-18.11.80.tar.xz">knights-18.11.80</a></td>
   <td align="right">3.3MB</td>
   <td><tt>a551621e94db576a550d7b1cb2a877bb91abccfc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/knotes-18.11.80.tar.xz">knotes-18.11.80</a></td>
   <td align="right">311kB</td>
   <td><tt>18c94cec92edf75e9e629d6bd6e1deee99ea7eb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kolf-18.11.80.tar.xz">kolf-18.11.80</a></td>
   <td align="right">904kB</td>
   <td><tt>80a71bb69264a8e4cf3592b6de23e60a99d8a947</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kollision-18.11.80.tar.xz">kollision-18.11.80</a></td>
   <td align="right">274kB</td>
   <td><tt>4aec030e0e70e96784572fc6f9851bcb4863f42c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kolourpaint-18.11.80.tar.xz">kolourpaint-18.11.80</a></td>
   <td align="right">5.2MB</td>
   <td><tt>3aa2790d1203fb2d6a31140bfe11ce88efa86138</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kompare-18.11.80.tar.xz">kompare-18.11.80</a></td>
   <td align="right">782kB</td>
   <td><tt>50c9d4529b7d1eb0627c5d4fe7dc8d66dba5facd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/konqueror-18.11.80.tar.xz">konqueror-18.11.80</a></td>
   <td align="right">7.3MB</td>
   <td><tt>ec22ec85d5f48036cfbbcb1bd4cba776e280d552</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/konquest-18.11.80.tar.xz">konquest-18.11.80</a></td>
   <td align="right">643kB</td>
   <td><tt>321f6be0087ac9af9fbbacf0ceafd19165707c9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/konsole-18.11.80.tar.xz">konsole-18.11.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>f3d9f58838266125a2aa6fd10d71c2535f27a201</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kontact-18.11.80.tar.xz">kontact-18.11.80</a></td>
   <td align="right">771kB</td>
   <td><tt>4664cf4bbc98fe9468dbc99675761bf48a2b0e17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kontactinterface-18.11.80.tar.xz">kontactinterface-18.11.80</a></td>
   <td align="right">32kB</td>
   <td><tt>86f10ba170f6fde884c9b6aca7621f6b1a3576bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kopete-18.11.80.tar.xz">kopete-18.11.80</a></td>
   <td align="right">8.9MB</td>
   <td><tt>8165e1cfc9744027f5a42e27a081137c8a18606d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/korganizer-18.11.80.tar.xz">korganizer-18.11.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>cec71d6d11a13a7e1ba91b12f6578a365a7a3517</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kpat-18.11.80.tar.xz">kpat-18.11.80</a></td>
   <td align="right">3.4MB</td>
   <td><tt>d3335c9c2275847979e2d1060b64c63125de624a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kpimtextedit-18.11.80.tar.xz">kpimtextedit-18.11.80</a></td>
   <td align="right">139kB</td>
   <td><tt>a812218253240dea24d5976b9d7ccc8d56cbe018</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kpkpass-18.11.80.tar.xz">kpkpass-18.11.80</a></td>
   <td align="right">22kB</td>
   <td><tt>93ed5e6f2ff2970447846f4f5673d87a32a94b91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kqtquickcharts-18.11.80.tar.xz">kqtquickcharts-18.11.80</a></td>
   <td align="right">25kB</td>
   <td><tt>c071a0e37744b848ea093131940de297a672916b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/krdc-18.11.80.tar.xz">krdc-18.11.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>c8812b71c0d32af66c5d6c875fdfeebaf3147491</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kreversi-18.11.80.tar.xz">kreversi-18.11.80</a></td>
   <td align="right">920kB</td>
   <td><tt>ef49e5258fbf131ec8771c99f08c0df29bf032db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/krfb-18.11.80.tar.xz">krfb-18.11.80</a></td>
   <td align="right">969kB</td>
   <td><tt>c1d6edd6c14012e41ca626b28614eac6ed9dc61a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kross-interpreters-18.11.80.tar.xz">kross-interpreters-18.11.80</a></td>
   <td align="right">141kB</td>
   <td><tt>c596b67c4aef1698724c84c4cb81ddaeb2353862</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kruler-18.11.80.tar.xz">kruler-18.11.80</a></td>
   <td align="right">288kB</td>
   <td><tt>fad7ad7682c064ae37042b6f07ba31372494d011</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kshisen-18.11.80.tar.xz">kshisen-18.11.80</a></td>
   <td align="right">801kB</td>
   <td><tt>85ae0fd811d6abd18fc5a0ae7f23909f536929c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/ksirk-18.11.80.tar.xz">ksirk-18.11.80</a></td>
   <td align="right">6.6MB</td>
   <td><tt>e86800c5e7621702122be1fa26baa950a93720bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/ksmtp-18.11.80.tar.xz">ksmtp-18.11.80</a></td>
   <td align="right">39kB</td>
   <td><tt>b51d10970d6d20569121712da7aa9bf66e919703</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/ksnakeduel-18.11.80.tar.xz">ksnakeduel-18.11.80</a></td>
   <td align="right">590kB</td>
   <td><tt>1491318de00b7e3568ea34b4bf07244aafdbae7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kspaceduel-18.11.80.tar.xz">kspaceduel-18.11.80</a></td>
   <td align="right">596kB</td>
   <td><tt>b9df4a53f208ba7e0ffd667e5dd7dbc05af47b2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/ksquares-18.11.80.tar.xz">ksquares-18.11.80</a></td>
   <td align="right">253kB</td>
   <td><tt>0dd21eea4063b4464f2684208fc27d6ddca0c957</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/ksudoku-18.11.80.tar.xz">ksudoku-18.11.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>c911d928a782d712e7fb1670256592b610b9a30b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/ksystemlog-18.11.80.tar.xz">ksystemlog-18.11.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>c420889cb610413534a899f344eb5936cee1cfb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kteatime-18.11.80.tar.xz">kteatime-18.11.80</a></td>
   <td align="right">291kB</td>
   <td><tt>e55ac6e40d029c6f38bb26728a4f2e08f46d1c06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/ktimer-18.11.80.tar.xz">ktimer-18.11.80</a></td>
   <td align="right">426kB</td>
   <td><tt>480d3c43310fae09afd70e84bc0460b88bc80182</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/ktnef-18.11.80.tar.xz">ktnef-18.11.80</a></td>
   <td align="right">292kB</td>
   <td><tt>16de3a63cf1df42f47a2c6611381e9c63472d062</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/ktouch-18.11.80.tar.xz">ktouch-18.11.80</a></td>
   <td align="right">4.8MB</td>
   <td><tt>6a5d033900a859340df816cd087b5a4a906ca3ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/ktp-accounts-kcm-18.11.80.tar.xz">ktp-accounts-kcm-18.11.80</a></td>
   <td align="right">255kB</td>
   <td><tt>33f696825072fe96e950b3ae1c9c9c15651c70e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/ktp-approver-18.11.80.tar.xz">ktp-approver-18.11.80</a></td>
   <td align="right">35kB</td>
   <td><tt>aee734d21a00183e13bd676e40dd0dac168be650</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/ktp-auth-handler-18.11.80.tar.xz">ktp-auth-handler-18.11.80</a></td>
   <td align="right">44kB</td>
   <td><tt>867b4d1bbfc5049177f414a802fd38939dc98ebd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/ktp-call-ui-18.11.80.tar.xz">ktp-call-ui-18.11.80</a></td>
   <td align="right">93kB</td>
   <td><tt>013f81c4341fe28713cc4d38f911467d1710770f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/ktp-common-internals-18.11.80.tar.xz">ktp-common-internals-18.11.80</a></td>
   <td align="right">430kB</td>
   <td><tt>e7024e1ab7d1d41fd69934bcca28b3eb4258a0ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/ktp-contact-list-18.11.80.tar.xz">ktp-contact-list-18.11.80</a></td>
   <td align="right">142kB</td>
   <td><tt>19039d14946c43a6c2a271336a5962e4d276e1fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/ktp-contact-runner-18.11.80.tar.xz">ktp-contact-runner-18.11.80</a></td>
   <td align="right">41kB</td>
   <td><tt>d39dde0ef22bea11f62dad1a38368affec42c359</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/ktp-desktop-applets-18.11.80.tar.xz">ktp-desktop-applets-18.11.80</a></td>
   <td align="right">41kB</td>
   <td><tt>e1be9c7da8c0a8922034931721750401782d6688</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/ktp-filetransfer-handler-18.11.80.tar.xz">ktp-filetransfer-handler-18.11.80</a></td>
   <td align="right">44kB</td>
   <td><tt>2872c79981c7eb0f830684d014e2520cecb4bfcb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/ktp-kded-module-18.11.80.tar.xz">ktp-kded-module-18.11.80</a></td>
   <td align="right">92kB</td>
   <td><tt>7d71a1517b314511ec8bd8507e71ba5089568bbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/ktp-send-file-18.11.80.tar.xz">ktp-send-file-18.11.80</a></td>
   <td align="right">27kB</td>
   <td><tt>b96a2f0d571add365631a3defe0832f2ca6d194c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/ktp-text-ui-18.11.80.tar.xz">ktp-text-ui-18.11.80</a></td>
   <td align="right">454kB</td>
   <td><tt>675a897649c7e7859514a40c09927d84c11f9cb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/ktuberling-18.11.80.tar.xz">ktuberling-18.11.80</a></td>
   <td align="right">31MB</td>
   <td><tt>3d97039d78de98bee2f0e985903df1b89942ae3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kturtle-18.11.80.tar.xz">kturtle-18.11.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>a66c69ca202c3e2511b3ad580edfeb3536f84efd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kubrick-18.11.80.tar.xz">kubrick-18.11.80</a></td>
   <td align="right">303kB</td>
   <td><tt>ca579c12b9703ad74ffd9e2f0ce8982db2c72802</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kwalletmanager-18.11.80.tar.xz">kwalletmanager-18.11.80</a></td>
   <td align="right">766kB</td>
   <td><tt>82f09bdb6d12c123a05574118ccdbcc13661e56a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kwave-18.11.80.tar.xz">kwave-18.11.80</a></td>
   <td align="right">5.9MB</td>
   <td><tt>8c269ef186461737b86286e56e4ce35bc972ff35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/kwordquiz-18.11.80.tar.xz">kwordquiz-18.11.80</a></td>
   <td align="right">3.9MB</td>
   <td><tt>7254b1c436460164bc4bd8c33b770161ef617355</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/libgravatar-18.11.80.tar.xz">libgravatar-18.11.80</a></td>
   <td align="right">29kB</td>
   <td><tt>f52c7745ffddbb2e2ec61cd9ae2005c66373ba05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/libkcddb-18.11.80.tar.xz">libkcddb-18.11.80</a></td>
   <td align="right">416kB</td>
   <td><tt>ec4114fa26032f02233fed247d65a587052b0a56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/libkcompactdisc-18.11.80.tar.xz">libkcompactdisc-18.11.80</a></td>
   <td align="right">86kB</td>
   <td><tt>261bd569909efa7dae16894d67590749615e8c0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/libkdcraw-18.11.80.tar.xz">libkdcraw-18.11.80</a></td>
   <td align="right">41kB</td>
   <td><tt>2394434ffe0e9af39933e09de5d5d175354eb948</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/libkdegames-18.11.80.tar.xz">libkdegames-18.11.80</a></td>
   <td align="right">6.0MB</td>
   <td><tt>017c7396b4c25da8e64cded3cdb9700a879e51a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/libkdepim-18.11.80.tar.xz">libkdepim-18.11.80</a></td>
   <td align="right">328kB</td>
   <td><tt>52bff10da2246889c12d978102684effe474b567</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/libkeduvocdocument-18.11.80.tar.xz">libkeduvocdocument-18.11.80</a></td>
   <td align="right">202kB</td>
   <td><tt>7e357f42bb3a51779f75d0edbfac36b252cdcc4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/libkexiv2-18.11.80.tar.xz">libkexiv2-18.11.80</a></td>
   <td align="right">63kB</td>
   <td><tt>dfc5cb9ce48ad9ad515ef739ae06a6df49a76cf9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/libkgapi-18.11.80.tar.xz">libkgapi-18.11.80</a></td>
   <td align="right">209kB</td>
   <td><tt>ca394c7a7f4e2580968eb8ebb0af550b0bfa5f5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/libkgeomap-18.11.80.tar.xz">libkgeomap-18.11.80</a></td>
   <td align="right">147kB</td>
   <td><tt>27a32b2d11bf1a39e5311a8c6a0892598073eae0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/libkipi-18.11.80.tar.xz">libkipi-18.11.80</a></td>
   <td align="right">101kB</td>
   <td><tt>0269c4cc0c5d50fce682282a668bc5fbdb92ce9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/libkleo-18.11.80.tar.xz">libkleo-18.11.80</a></td>
   <td align="right">328kB</td>
   <td><tt>e518161e2cd5f8bced2d43ae32b663584e07800c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/libkmahjongg-18.11.80.tar.xz">libkmahjongg-18.11.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>b1d6580a25a6122972d9e258e8f6383231fc2bd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/libkomparediff2-18.11.80.tar.xz">libkomparediff2-18.11.80</a></td>
   <td align="right">169kB</td>
   <td><tt>4f7aed7162c90b054dd709cf60755135601e103c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/libksane-18.11.80.tar.xz">libksane-18.11.80</a></td>
   <td align="right">134kB</td>
   <td><tt>b5a7162114c2933bc02632b4690e3dcc3ee4bdad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/libksieve-18.11.80.tar.xz">libksieve-18.11.80</a></td>
   <td align="right">537kB</td>
   <td><tt>1d55450925434d8deabf4ed70b111b72a22fdb7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/lokalize-18.11.80.tar.xz">lokalize-18.11.80</a></td>
   <td align="right">2.5MB</td>
   <td><tt>5cc0d7e6be66fe177cb92d5ac629ad8be78e5a09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/lskat-18.11.80.tar.xz">lskat-18.11.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>093ae2725d3f2b714194345dfbb9b1129273e611</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/mailcommon-18.11.80.tar.xz">mailcommon-18.11.80</a></td>
   <td align="right">676kB</td>
   <td><tt>062138ee2a0998aa7e9c32cfbe324356e891a987</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/mailimporter-18.11.80.tar.xz">mailimporter-18.11.80</a></td>
   <td align="right">527kB</td>
   <td><tt>d1c43780c533df3aef6d192a69723324330cc1df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/marble-18.11.80.tar.xz">marble-18.11.80</a></td>
   <td align="right">49MB</td>
   <td><tt>b4ef6390e915e235e1a839bad72a1b3be0cbc1ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/mbox-importer-18.11.80.tar.xz">mbox-importer-18.11.80</a></td>
   <td align="right">32kB</td>
   <td><tt>024dc9eb19c71f86489aa95fc3dcbf2dac68e59a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/messagelib-18.11.80.tar.xz">messagelib-18.11.80</a></td>
   <td align="right">9.9MB</td>
   <td><tt>73989480abeac579f6c91b56d9b5da1a38ef1dc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/minuet-18.11.80.tar.xz">minuet-18.11.80</a></td>
   <td align="right">26MB</td>
   <td><tt>969265cc14f46e18577173354cccf66c2868b61f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/okular-18.11.80.tar.xz">okular-18.11.80</a></td>
   <td align="right">5.8MB</td>
   <td><tt>781e670bc27ccc4779bc6c890ad36b3d1763d2c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/palapeli-18.11.80.tar.xz">palapeli-18.11.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>fd34e6948b49089e032f53a6d25e69b9cc72c880</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/parley-18.11.80.tar.xz">parley-18.11.80</a></td>
   <td align="right">8.4MB</td>
   <td><tt>4d8554a133e3429f3b4bb0310dfcedb5905ff9f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/picmi-18.11.80.tar.xz">picmi-18.11.80</a></td>
   <td align="right">1.2MB</td>
   <td><tt>0eabfc737ee68ed479708391dbc3fea099ef9136</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/pimcommon-18.11.80.tar.xz">pimcommon-18.11.80</a></td>
   <td align="right">288kB</td>
   <td><tt>d81ac5868e03042e491b969452dadc5dd216a07b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/pim-data-exporter-18.11.80.tar.xz">pim-data-exporter-18.11.80</a></td>
   <td align="right">264kB</td>
   <td><tt>6a32a4d018782af6c7b6cce240e22df02df80889</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/pim-sieve-editor-18.11.80.tar.xz">pim-sieve-editor-18.11.80</a></td>
   <td align="right">439kB</td>
   <td><tt>68c804bc63d235e0ca76b40ea7f0aaccdd6e302a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/poxml-18.11.80.tar.xz">poxml-18.11.80</a></td>
   <td align="right">42kB</td>
   <td><tt>4533d67065e45b33812455ac02285e70e6ea3368</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/print-manager-18.11.80.tar.xz">print-manager-18.11.80</a></td>
   <td align="right">233kB</td>
   <td><tt>31bee143d62e2d228f92a7515ac67b8cba372a79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/rocs-18.11.80.tar.xz">rocs-18.11.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>140893aa1a490ba843557a23c81b843f969dd77b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/signon-kwallet-extension-18.11.80.tar.xz">signon-kwallet-extension-18.11.80</a></td>
   <td align="right">10kB</td>
   <td><tt>5444a3b5df866adb767381070fa9f793da1be6a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/spectacle-18.11.80.tar.xz">spectacle-18.11.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>c2c3b82b80fd101fd870552c4ee37bee1c07bae8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/step-18.11.80.tar.xz">step-18.11.80</a></td>
   <td align="right">840kB</td>
   <td><tt>6ee0455758cf0945afa8482a7d5f08b04e756cd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/svgpart-18.11.80.tar.xz">svgpart-18.11.80</a></td>
   <td align="right">20kB</td>
   <td><tt>f88c81ab87ec822186710a93cbc980b8f573e408</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/sweeper-18.11.80.tar.xz">sweeper-18.11.80</a></td>
   <td align="right">359kB</td>
   <td><tt>0e0c5a809e07fe8a5a5304d4757d318b24c74996</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/umbrello-18.11.80.tar.xz">umbrello-18.11.80</a></td>
   <td align="right">2.9MB</td>
   <td><tt>99c60617c66dae4ad402d31ba0a9256e0f7c26f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.11.80/src/zeroconf-ioslave-18.11.80.tar.xz">zeroconf-ioslave-18.11.80</a></td>
   <td align="right">37kB</td>
   <td><tt>202009962cbd432a2fc47e878a56fa108bec8ec7</tt></td>
</tr>

</table>
