
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.0/attica-5.3.0.tar.xz">attica-5.3.0</a></td>
   <td align="right">58kB</td>
   <td><tt>8346639d5a44d3f9b56c002c682ef6fab59a27b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.0/extra-cmake-modules-1.3.0.tar.xz">extra-cmake-modules-1.3.0</a></td>
   <td align="right">117kB</td>
   <td><tt>d84f8fe0edfcd79938992ce1b23ca7870533a991</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.0/frameworkintegration-5.3.0.tar.xz">frameworkintegration-5.3.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>0c503bd5db34ff6ef5ee19b9ee0f5ca900bf8463</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.0/kactivities-5.3.0.tar.xz">kactivities-5.3.0</a></td>
   <td align="right">108kB</td>
   <td><tt>126f224728a2bf20ae149661f0d24b588bdab3a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.0/kapidox-5.3.0.tar.xz">kapidox-5.3.0</a></td>
   <td align="right">127kB</td>
   <td><tt>3e279f2b01161d6500ecee6f55ffdac23293af89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.0/karchive-5.3.0.tar.xz">karchive-5.3.0</a></td>
   <td align="right">103kB</td>
   <td><tt>a022bca97da1342b6cf837be23ccc8a85e999f90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.0/kauth-5.3.0.tar.xz">kauth-5.3.0</a></td>
   <td align="right">78kB</td>
   <td><tt>355fa2571b7abf16617148393279602059084df5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.0/kbookmarks-5.3.0.tar.xz">kbookmarks-5.3.0</a></td>
   <td align="right">111kB</td>
   <td><tt>7fcc1d006190886048d8df1fbcd49dcc54487ae0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.0/kcmutils-5.3.0.tar.xz">kcmutils-5.3.0</a></td>
   <td align="right">225kB</td>
   <td><tt>aa73e02ba69217165a688dc867f0b7aa2a70104c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.0/kcodecs-5.3.0.tar.xz">kcodecs-5.3.0</a></td>
   <td align="right">169kB</td>
   <td><tt>b0ae874d193605f28b069a9b54926ca14a780ce5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.0/kcompletion-5.3.0.tar.xz">kcompletion-5.3.0</a></td>
   <td align="right">112kB</td>
   <td><tt>85586cc4246aeed381ec5beca324377aeafca80c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.0/kconfig-5.3.0.tar.xz">kconfig-5.3.0</a></td>
   <td align="right">203kB</td>
   <td><tt>f10afccdb22aee5fb8adcdccc08f248235799bd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.0/kconfigwidgets-5.3.0.tar.xz">kconfigwidgets-5.3.0</a></td>
   <td align="right">341kB</td>
   <td><tt>60af6494663dabdb9190b92fdf1f665036a205ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.0/kcoreaddons-5.3.0.tar.xz">kcoreaddons-5.3.0</a></td>
   <td align="right">278kB</td>
   <td><tt>b528cabde20d31c9820548818a099ac92b6afb11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.0/kcrash-5.3.0.tar.xz">kcrash-5.3.0</a></td>
   <td align="right">19kB</td>
   <td><tt>73b703277b800a39a71e002be0422f4189e83c61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.0/kdbusaddons-5.3.0.tar.xz">kdbusaddons-5.3.0</a></td>
   <td align="right">30kB</td>
   <td><tt>3eb9c713ce0d87910c8a157c4719ca73a1e0f03a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.0/kdeclarative-5.3.0.tar.xz">kdeclarative-5.3.0</a></td>
   <td align="right">96kB</td>
   <td><tt>251ee69cc5624c06e8b7dedbf7d9095b560b61cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.0/kded-5.3.0.tar.xz">kded-5.3.0</a></td>
   <td align="right">23kB</td>
   <td><tt>6fd7be655bbe0fcbcbfc2e0a5e80e4fdd8a57486</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.0/kdesignerplugin-5.3.0.tar.xz">kdesignerplugin-5.3.0</a></td>
   <td align="right">71kB</td>
   <td><tt>a93f2b56adf559a960f8483f534c747b26509d7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.0/kdesu-5.3.0.tar.xz">kdesu-5.3.0</a></td>
   <td align="right">41kB</td>
   <td><tt>0489097dcf13194204e216c2c35a972003c73028</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.0/kdewebkit-5.3.0.tar.xz">kdewebkit-5.3.0</a></td>
   <td align="right">28kB</td>
   <td><tt>bfbd77874ea822570a644a868511a8f2ca444477</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.0/kdnssd-5.3.0.tar.xz">kdnssd-5.3.0</a></td>
   <td align="right">54kB</td>
   <td><tt>c8b76b5a56ce6055a270804582113415d53323c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.0/kdoctools-5.3.0.tar.xz">kdoctools-5.3.0</a></td>
   <td align="right">367kB</td>
   <td><tt>80e3b92846ace44f5f5c8c6783020a38b6f212ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.0/kemoticons-5.3.0.tar.xz">kemoticons-5.3.0</a></td>
   <td align="right">70kB</td>
   <td><tt>e9be9cd642a79834b693cdcc06a60974fc421b49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.0/kglobalaccel-5.3.0.tar.xz">kglobalaccel-5.3.0</a></td>
   <td align="right">57kB</td>
   <td><tt>2644b8a7cc5e2ac8099ca8acdc39f1a4f2a47df6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.0/kguiaddons-5.3.0.tar.xz">kguiaddons-5.3.0</a></td>
   <td align="right">38kB</td>
   <td><tt>2d18b759201b25176b41281ae36516ee62365d97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.0/ki18n-5.3.0.tar.xz">ki18n-5.3.0</a></td>
   <td align="right">560kB</td>
   <td><tt>ba8937768278fe8c8afa833012ef21f08300c58c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.0/kiconthemes-5.3.0.tar.xz">kiconthemes-5.3.0</a></td>
   <td align="right">189kB</td>
   <td><tt>55ed4ed219520d2b8ccecd4f12ac4ef227c354ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.0/kidletime-5.3.0.tar.xz">kidletime-5.3.0</a></td>
   <td align="right">22kB</td>
   <td><tt>f49acb716e9eb13df9e869232b4105a8710e1640</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.0/kimageformats-5.3.0.tar.xz">kimageformats-5.3.0</a></td>
   <td align="right">90kB</td>
   <td><tt>650e8157b2c9a1ca2a95200876b383e768800ad5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.0/kinit-5.3.0.tar.xz">kinit-5.3.0</a></td>
   <td align="right">105kB</td>
   <td><tt>063f6615aeacdf07afd4e630cefedcacd455dbc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.0/kio-5.3.0.tar.xz">kio-5.3.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>6f77b9652e0b5f2b5926dd5de844b4b3466e9188</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.0/kitemmodels-5.3.0.tar.xz">kitemmodels-5.3.0</a></td>
   <td align="right">361kB</td>
   <td><tt>396693b7ec5d738aa870b363fb33b0e0cdeb6365</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.0/kitemviews-5.3.0.tar.xz">kitemviews-5.3.0</a></td>
   <td align="right">71kB</td>
   <td><tt>2768093ff3df5f4f90c852c8d9dbf68096faddbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.0/kjobwidgets-5.3.0.tar.xz">kjobwidgets-5.3.0</a></td>
   <td align="right">86kB</td>
   <td><tt>b4f3317fd4764b3ccc154274eeb0c434425e702b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.0/knewstuff-5.3.0.tar.xz">knewstuff-5.3.0</a></td>
   <td align="right">408kB</td>
   <td><tt>a9fc74018827860079ea738c728c00f51e9be5fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.0/knotifications-5.3.0.tar.xz">knotifications-5.3.0</a></td>
   <td align="right">90kB</td>
   <td><tt>4646b75997a072c92340160804b24e2537d17eb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.0/knotifyconfig-5.3.0.tar.xz">knotifyconfig-5.3.0</a></td>
   <td align="right">77kB</td>
   <td><tt>0a53b477befeeadd2b0f48e62bba692bb8f52179</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.0/kparts-5.3.0.tar.xz">kparts-5.3.0</a></td>
   <td align="right">149kB</td>
   <td><tt>908303a9668bfb001e65bf05d53a173657dc5799</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.0/kplotting-5.3.0.tar.xz">kplotting-5.3.0</a></td>
   <td align="right">28kB</td>
   <td><tt>caf6519358e99096d08a3af34da949f11fdbf64d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.0/kpty-5.3.0.tar.xz">kpty-5.3.0</a></td>
   <td align="right">54kB</td>
   <td><tt>c3e65e8c2c5ef9c0e9896d6c63c11d6eeeae18c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.0/kservice-5.3.0.tar.xz">kservice-5.3.0</a></td>
   <td align="right">244kB</td>
   <td><tt>586c1c711bbc0b34724b9ebac5ea89c93e77fd7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.0/ktexteditor-5.3.0.tar.xz">ktexteditor-5.3.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>f5245b56c3658fc73983c02d5694f6c95b9e142f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.0/ktextwidgets-5.3.0.tar.xz">ktextwidgets-5.3.0</a></td>
   <td align="right">296kB</td>
   <td><tt>4c0c3bb911813b57e5a20a782f377789464a12ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.0/kunitconversion-5.3.0.tar.xz">kunitconversion-5.3.0</a></td>
   <td align="right">587kB</td>
   <td><tt>dbe6d506feb4bace54e3ad628935bd4b70fd0c1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.0/kwallet-5.3.0.tar.xz">kwallet-5.3.0</a></td>
   <td align="right">257kB</td>
   <td><tt>22cf3453c80c75cf1ce348d968865cc5c5054034</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.0/kwidgetsaddons-5.3.0.tar.xz">kwidgetsaddons-5.3.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>a66d39afae63f293bcaf736a96075b6256732282</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.0/kwindowsystem-5.3.0.tar.xz">kwindowsystem-5.3.0</a></td>
   <td align="right">154kB</td>
   <td><tt>66e3728ca2db6ae67c1c18a1acfcd811941d5229</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.0/kxmlgui-5.3.0.tar.xz">kxmlgui-5.3.0</a></td>
   <td align="right">869kB</td>
   <td><tt>435c5cc3397fbd5c993aacb38e22c6a740aed5d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.0/plasma-framework-5.3.0.tar.xz">plasma-framework-5.3.0</a></td>
   <td align="right">3.8MB</td>
   <td><tt>ab6de1abe987e91d1325ffb428aea30540d41a1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.0/solid-5.3.0.tar.xz">solid-5.3.0</a></td>
   <td align="right">252kB</td>
   <td><tt>fd2316cb9f0a32eea174c82743915d8d2c8e0ba6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.0/sonnet-5.3.0.tar.xz">sonnet-5.3.0</a></td>
   <td align="right">266kB</td>
   <td><tt>cb2d580ecd3d8261a35dc287d1914cede1fb1f8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.3.0/threadweaver-5.3.0.tar.xz">threadweaver-5.3.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>42350ae453273f55ee08efa39256868613d81f85</tt></td>
</tr>

</table>
