
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/attica-5.23.0.tar.xz">attica-5.23.0</a></td>
   <td align="right">58kB</td>
   <td><tt>b3474e0c5cad0aeb758947c2f60fa9353dc7c161</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/baloo-5.23.0.tar.xz">baloo-5.23.0</a></td>
   <td align="right">180kB</td>
   <td><tt>da91b2237c6eed7eaae8fc7935d7961a9416ee2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/bluez-qt-5.23.0.tar.xz">bluez-qt-5.23.0</a></td>
   <td align="right">71kB</td>
   <td><tt>c1f285d98ea1ced9e763d61788c93d152756101a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/breeze-icons-5.23.0.tar.xz">breeze-icons-5.23.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>c246e6a65bf1bb185a042f26fb80f7c3e10b59e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/extra-cmake-modules-5.23.0.tar.xz">extra-cmake-modules-5.23.0</a></td>
   <td align="right">278kB</td>
   <td><tt>59300e98b4a20230337cde41f9786e3cea9138ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/frameworkintegration-5.23.0.tar.xz">frameworkintegration-5.23.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>0ebe087550304fa3f3a7531a88a58c5bfe348a71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/kactivities-5.23.0.tar.xz">kactivities-5.23.0</a></td>
   <td align="right">56kB</td>
   <td><tt>af23348846f744f0853a77e8d404ce4e1aa4cd71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/kactivities-stats-5.23.0.tar.xz">kactivities-stats-5.23.0</a></td>
   <td align="right">57kB</td>
   <td><tt>a95e716ce4ca81f0bf92451063d17d1973d76c33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/kapidox-5.23.0.tar.xz">kapidox-5.23.0</a></td>
   <td align="right">212kB</td>
   <td><tt>24ef1d9d6c156eb561d1ff5e2ae31ae1f0654af4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/karchive-5.23.0.tar.xz">karchive-5.23.0</a></td>
   <td align="right">106kB</td>
   <td><tt>bfd00ddfd75dca672e0443fbaa6889a710aa5993</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/kauth-5.23.0.tar.xz">kauth-5.23.0</a></td>
   <td align="right">80kB</td>
   <td><tt>206d3337b726d8e9f433eb7dc8a6a895df1d0c49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/kbookmarks-5.23.0.tar.xz">kbookmarks-5.23.0</a></td>
   <td align="right">112kB</td>
   <td><tt>d6de4f01c06068d599a79ba9138ddf33625733ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/kcmutils-5.23.0.tar.xz">kcmutils-5.23.0</a></td>
   <td align="right">229kB</td>
   <td><tt>b1c547b4baba8e0dead92b1e97250059d5868877</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/kcodecs-5.23.0.tar.xz">kcodecs-5.23.0</a></td>
   <td align="right">212kB</td>
   <td><tt>e3b3334e4fd1687315cfedc9ba40bd67f357f3e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/kcompletion-5.23.0.tar.xz">kcompletion-5.23.0</a></td>
   <td align="right">113kB</td>
   <td><tt>71d1df2105fa1ba6ed5ffeef808ecbf6f7f50297</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/kconfig-5.23.0.tar.xz">kconfig-5.23.0</a></td>
   <td align="right">219kB</td>
   <td><tt>11f1002fc7e927a8395d2e132a3b5b95f057f937</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/kconfigwidgets-5.23.0.tar.xz">kconfigwidgets-5.23.0</a></td>
   <td align="right">355kB</td>
   <td><tt>6b79c336b0d51277cb43b21be7c951c8e0498882</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/kcoreaddons-5.23.0.tar.xz">kcoreaddons-5.23.0</a></td>
   <td align="right">308kB</td>
   <td><tt>9c45ca5f93bb95196d2239982267c7dbc69525fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/kcrash-5.23.0.tar.xz">kcrash-5.23.0</a></td>
   <td align="right">19kB</td>
   <td><tt>44199fd180c8ca9ee08087a116c3d5e6637a3dd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/kdbusaddons-5.23.0.tar.xz">kdbusaddons-5.23.0</a></td>
   <td align="right">33kB</td>
   <td><tt>e650cbb0d2e4ecb94e25dd638f43aeb84b48a369</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/kdeclarative-5.23.0.tar.xz">kdeclarative-5.23.0</a></td>
   <td align="right">163kB</td>
   <td><tt>139808a7da55c414baf351f24962e7d8047cdc67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/kded-5.23.0.tar.xz">kded-5.23.0</a></td>
   <td align="right">35kB</td>
   <td><tt>24a172aa574b18f8030747f489a20edc9a3359a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/kdesignerplugin-5.23.0.tar.xz">kdesignerplugin-5.23.0</a></td>
   <td align="right">85kB</td>
   <td><tt>af949f583338d357408c74e45cd2faaff5816d34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/kdesu-5.23.0.tar.xz">kdesu-5.23.0</a></td>
   <td align="right">43kB</td>
   <td><tt>458b5c4514ff103b3697870ea1b4b8b6f52a6014</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/kdewebkit-5.23.0.tar.xz">kdewebkit-5.23.0</a></td>
   <td align="right">28kB</td>
   <td><tt>8de84eff483ee01d9323f8694d05fab708975a38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/kdnssd-5.23.0.tar.xz">kdnssd-5.23.0</a></td>
   <td align="right">55kB</td>
   <td><tt>a0e02c3d28ab9222fd6215e8b7d966d429413d15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/kdoctools-5.23.0.tar.xz">kdoctools-5.23.0</a></td>
   <td align="right">399kB</td>
   <td><tt>09b0b7c5bdcda9f9efeea7f48518dd8e69915760</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/kemoticons-5.23.0.tar.xz">kemoticons-5.23.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>b6b1861d46b3236a64bb50934aa819f1b6915c3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/kfilemetadata-5.23.0.tar.xz">kfilemetadata-5.23.0</a></td>
   <td align="right">128kB</td>
   <td><tt>cba3c7cbef0ac2b81fdc62ac536893713d5cbfb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/kglobalaccel-5.23.0.tar.xz">kglobalaccel-5.23.0</a></td>
   <td align="right">79kB</td>
   <td><tt>1f4184f5686de01a95b2dcfed94c2083929a84aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/kguiaddons-5.23.0.tar.xz">kguiaddons-5.23.0</a></td>
   <td align="right">38kB</td>
   <td><tt>47e804f4f9f877a541edd582aa2f0e41a63023a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/ki18n-5.23.0.tar.xz">ki18n-5.23.0</a></td>
   <td align="right">590kB</td>
   <td><tt>1d4fc363b9ecbb70d896613dba4492465417d240</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/kiconthemes-5.23.0.tar.xz">kiconthemes-5.23.0</a></td>
   <td align="right">195kB</td>
   <td><tt>2d4a1dcac5af85c00e133728ada4b1605f764c00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/kidletime-5.23.0.tar.xz">kidletime-5.23.0</a></td>
   <td align="right">25kB</td>
   <td><tt>4dde56a3bf7f7d81bf718552fb658584e94aabe0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/kimageformats-5.23.0.tar.xz">kimageformats-5.23.0</a></td>
   <td align="right">199kB</td>
   <td><tt>b7fdcd036e69180754370180aed386a4a4491e5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/kinit-5.23.0.tar.xz">kinit-5.23.0</a></td>
   <td align="right">115kB</td>
   <td><tt>23f6634b8bd96c2324cd51d7ca3923c2107011a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/kio-5.23.0.tar.xz">kio-5.23.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>ccd226965e4958be77079b53f2ccf6aafcd2fc45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/kitemmodels-5.23.0.tar.xz">kitemmodels-5.23.0</a></td>
   <td align="right">377kB</td>
   <td><tt>057d639e5bf7d59bd6572cb4fd2e87a1eaa8fb71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/kitemviews-5.23.0.tar.xz">kitemviews-5.23.0</a></td>
   <td align="right">72kB</td>
   <td><tt>eebadb179c0bc97129ce58dea18e37f8bcc06c80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/kjobwidgets-5.23.0.tar.xz">kjobwidgets-5.23.0</a></td>
   <td align="right">86kB</td>
   <td><tt>401d4e4c60407a200b398d573ec542505f917f18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/knewstuff-5.23.0.tar.xz">knewstuff-5.23.0</a></td>
   <td align="right">841kB</td>
   <td><tt>15a036039bf0fee1122a257fbe57ad337f59cc9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/knotifications-5.23.0.tar.xz">knotifications-5.23.0</a></td>
   <td align="right">93kB</td>
   <td><tt>d5eedc66c1b87beabb16208e3b0043d2a633ad18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/knotifyconfig-5.23.0.tar.xz">knotifyconfig-5.23.0</a></td>
   <td align="right">80kB</td>
   <td><tt>7e990d106717f67b1670217b3661234e223ea8ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/kpackage-5.23.0.tar.xz">kpackage-5.23.0</a></td>
   <td align="right">105kB</td>
   <td><tt>b8e3119a00a7f5da20feb3bcdc960a17b929a5b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/kparts-5.23.0.tar.xz">kparts-5.23.0</a></td>
   <td align="right">150kB</td>
   <td><tt>ecb200f52eb7a6cfb917c696692750886fe7c27e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/kpeople-5.23.0.tar.xz">kpeople-5.23.0</a></td>
   <td align="right">56kB</td>
   <td><tt>cdf2ceaf3da2348dea71730fe112484cc7f2f8c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/kplotting-5.23.0.tar.xz">kplotting-5.23.0</a></td>
   <td align="right">28kB</td>
   <td><tt>92a6320be572fbb409a7bf83a2ccde25da68ddad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/kpty-5.23.0.tar.xz">kpty-5.23.0</a></td>
   <td align="right">55kB</td>
   <td><tt>1f297a935fb8f85ce75bf697aaa4bf0ffe494a48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/krunner-5.23.0.tar.xz">krunner-5.23.0</a></td>
   <td align="right">65kB</td>
   <td><tt>2dafa167907942c5b6b1aa944683ece6937b5f47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/kservice-5.23.0.tar.xz">kservice-5.23.0</a></td>
   <td align="right">263kB</td>
   <td><tt>7ce1af0b3aba6176726f42ff2e5d3d402f03017a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/ktexteditor-5.23.0.tar.xz">ktexteditor-5.23.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>f57adee04c80592fecca334c759a9d65022b289e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/ktextwidgets-5.23.0.tar.xz">ktextwidgets-5.23.0</a></td>
   <td align="right">299kB</td>
   <td><tt>15772f09713e7ec11b7d45ba08922326262a2da9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/kunitconversion-5.23.0.tar.xz">kunitconversion-5.23.0</a></td>
   <td align="right">606kB</td>
   <td><tt>a40ecbe775e322a50081e28edb610ea03a053337</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/kwallet-5.23.0.tar.xz">kwallet-5.23.0</a></td>
   <td align="right">287kB</td>
   <td><tt>3b72eac7f920c7440d27445c06351df8541eda6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/kwayland-5.23.0.tar.xz">kwayland-5.23.0</a></td>
   <td align="right">204kB</td>
   <td><tt>74ff0b0cfa53bfd0f97eaee2c06798a0427303ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/kwidgetsaddons-5.23.0.tar.xz">kwidgetsaddons-5.23.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>e3a69602d74ac01827e51d4a83e255d3338f6af6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/kwindowsystem-5.23.0.tar.xz">kwindowsystem-5.23.0</a></td>
   <td align="right">160kB</td>
   <td><tt>2fee87eeaa565a45907215d3e10a2f8f03b1be44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/kxmlgui-5.23.0.tar.xz">kxmlgui-5.23.0</a></td>
   <td align="right">852kB</td>
   <td><tt>df9189d49ce1233d39d17c58beeee2aae7421212</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/kxmlrpcclient-5.23.0.tar.xz">kxmlrpcclient-5.23.0</a></td>
   <td align="right">27kB</td>
   <td><tt>69ebbb5f8681333b649b725c41d6e1f6fc1e6832</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/modemmanager-qt-5.23.0.tar.xz">modemmanager-qt-5.23.0</a></td>
   <td align="right">96kB</td>
   <td><tt>8d79f2bc859ab71c989ccc2e5da5dba62520ea25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/networkmanager-qt-5.23.0.tar.xz">networkmanager-qt-5.23.0</a></td>
   <td align="right">154kB</td>
   <td><tt>ff7a76fa242a2c5cbe849bcd58cfd534d4f9268a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/oxygen-icons5-5.23.0.tar.xz">oxygen-icons5-5.23.0</a></td>
   <td align="right">222MB</td>
   <td><tt>56e3c6d8ac6a06fde7d4e44d52dd6b089f25bc20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/plasma-framework-5.23.0.tar.xz">plasma-framework-5.23.0</a></td>
   <td align="right">4.2MB</td>
   <td><tt>17166933cdd8a251962955e21ecfc5f41ac0eb46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/solid-5.23.0.tar.xz">solid-5.23.0</a></td>
   <td align="right">261kB</td>
   <td><tt>e1777c58090f948eaf5da490c2588327543ba538</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/sonnet-5.23.0.tar.xz">sonnet-5.23.0</a></td>
   <td align="right">274kB</td>
   <td><tt>9a14969794e60e3f9f513d5a89a2aef4670e9403</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.23/threadweaver-5.23.0.tar.xz">threadweaver-5.23.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>e7c1308623c23de7b1eb7d7fb322ff7678f2968d</tt></td>
</tr>

</table>
