    <table border="0" cellpadding="4" cellspacing="0">
      <tr valign="top">
        <th align="left">Location</th>

        <th align="left">Size</th>

        <th align="left">MD5&nbsp;Sum</th>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.0.2/src/arts-1.0.2.tar.bz2">arts-1.0.2</a></td>

        <td align="right">996kB</td>

        <td><tt>ede77b629aa05547f68b36c6682493dc</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.0.2/src/kdeaddons-3.0.2.tar.bz2">kdeaddons-3.0.2</a></td>

        <td align="right">900kB</td>

        <td><tt>cdde5fddbf8a5d964ae3ba51bdf554cf</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.0.2/src/kdeadmin-3.0.2.tar.bz2">kdeadmin-3.0.2</a></td>

        <td align="right">1.3MB</td>

        <td><tt>a96f1c1520f65aa4f1add53e61650a83</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.0.2/src/kdeartwork-3.0.2.tar.bz2">kdeartwork-3.0.2</a></td>

        <td align="right">11MB</td>

        <td><tt>340736f1de329a0089d2125c1a1306f0</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.0.2/src/kdebase-3.0.2.tar.bz2">kdebase-3.0.2</a></td>

        <td align="right">13MB</td>

        <td><tt>db63f6cdb586b64ffe666be2badec940</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.0.2/src/kdebindings-3.0.2.tar.bz2">kdebindings-3.0.2</a></td>

        <td align="right">4.9MB</td>

        <td><tt>f31788015b96a72095462a96bbe3fa6a</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.0.2/src/kdeedu-3.0.2.tar.bz2">kdeedu-3.0.2</a></td>

        <td align="right">8.7MB</td>

        <td><tt>0c7950ada06e11ac4e62c7105aeca32c</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.0.2/src/kdegames-3.0.2.tar.bz2">kdegames-3.0.2</a></td>

        <td align="right">7.0MB</td>

        <td><tt>f0f9878697e843eb83d5b5c66524bff3</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.0.2/src/kdegraphics-3.0.2.tar.bz2">kdegraphics-3.0.2</a></td>

        <td align="right">2.6MB</td>

        <td><tt>95d2678e84886cdcc6183fd93ea7dec7</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.0.2/src/kdelibs-3.0.2.tar.bz2">kdelibs-3.0.2</a></td>

        <td align="right">7.3MB</td>

        <td><tt>0ad90a338aed63e54d073f511a99f0f2</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.0.2/src/kdemultimedia-3.0.2.tar.bz2">kdemultimedia-3.0.2</a></td>

        <td align="right">5.6MB</td>

        <td><tt>b794f63425e5584a4de1a0f7e07d9ff7</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.0.2/src/kdenetwork-3.0.2.tar.bz2">kdenetwork-3.0.2</a></td>

        <td align="right">3.7MB</td>

        <td><tt>5407d4b315c522ab88ffe55c5ff6a155</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.0.2/src/kdepim-3.0.2.tar.bz2">kdepim-3.0.2</a></td>

        <td align="right">3.1MB</td>

        <td><tt>84f531b8e4c201d8a048eedd274a4d2d</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.0.2/src/kdesdk-3.0.2.tar.bz2">kdesdk-3.0.2</a></td>

        <td align="right">1.8MB</td>

        <td><tt>b453200b29d8ea22c5cec966f61ea5fc</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.0.2/src/kdetoys-3.0.2.tar.bz2">kdetoys-3.0.2</a></td>

        <td align="right">1.4MB</td>

        <td><tt>5eaef60dc78de9eda008d15565dd4fba</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.0.2/src/kdeutils-3.0.2.tar.bz2">kdeutils-3.0.2</a></td>

        <td align="right">1.5MB</td>

        <td><tt>285a7efd9e3379e823bf36ca4c839b5e</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.0.2/src/kdevelop-2.1.2_for_KDE_2.2.tar.bz2">kdevelop-2.1.2_for_KDE_2.2</a></td>

        <td align="right">3.2MB</td>

        <td><tt>99a180301f5c9c68cd60acd60789e21d</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.0.2/src/kdevelop-2.1.2_for_KDE_3.0.tar.bz2">kdevelop-2.1.2_for_KDE_3.0</a></td>

        <td align="right">3.3MB</td>

        <td><tt>b644aec61fedd8af5ef2305a09d1e2df</tt></td>
      </tr>
      <tr valign="top"><td><a href="http://download.kde.org/stable/3.0.2/src/kde-i18n-3.0.2.tar.bz2">kde-i18n-3.0.2</a></td><td align="right">92MB</td><td><tt>f82ee49f4f2269c0548a97c934b73a3a</tt></td></tr>
    </table>

