<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/akonadi-16.12.2.tar.xz">akonadi-16.12.2</a></td>
   <td align="right">1012kB</td>
   <td><tt>3ff4bfddbf634371d4f7039af782cab0e7ecd2c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/akonadi-calendar-16.12.2.tar.xz">akonadi-calendar-16.12.2</a></td>
   <td align="right">112kB</td>
   <td><tt>a0da90bbf8f6fd8aeae000b693652ce755db1050</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/akonadi-calendar-tools-16.12.2.tar.xz">akonadi-calendar-tools-16.12.2</a></td>
   <td align="right">60kB</td>
   <td><tt>c57ae80df66c2e8211c10d70d89ece6329dc49f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/akonadiconsole-16.12.2.tar.xz">akonadiconsole-16.12.2</a></td>
   <td align="right">173kB</td>
   <td><tt>20022ef5382e4ccb794ec60acdfc9f1e0cb9357f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/akonadi-contacts-16.12.2.tar.xz">akonadi-contacts-16.12.2</a></td>
   <td align="right">145kB</td>
   <td><tt>62899f1cdf945019c4cafd4fba3d7e5f076b69db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/akonadi-import-wizard-16.12.2.tar.xz">akonadi-import-wizard-16.12.2</a></td>
   <td align="right">234kB</td>
   <td><tt>18b08baae894d6ec1898108edf4890826f5c37b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/akonadi-mime-16.12.2.tar.xz">akonadi-mime-16.12.2</a></td>
   <td align="right">54kB</td>
   <td><tt>2f564ddd4daf61c425ed8e17c00fa0289ed38343</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/akonadi-notes-16.12.2.tar.xz">akonadi-notes-16.12.2</a></td>
   <td align="right">18kB</td>
   <td><tt>e4ee30eea412002e8561ed61a43d0b2fb7d4b2eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/akonadi-search-16.12.2.tar.xz">akonadi-search-16.12.2</a></td>
   <td align="right">70kB</td>
   <td><tt>3011e11b5d2227d43f0cd532e297af5cf7af01da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/akregator-16.12.2.tar.xz">akregator-16.12.2</a></td>
   <td align="right">864kB</td>
   <td><tt>82ded268a450f56e8bddb07eeded901a885c9e5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/analitza-16.12.2.tar.xz">analitza-16.12.2</a></td>
   <td align="right">228kB</td>
   <td><tt>831766ec7297282c2ac047c53a2619f4d70a33f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/ark-16.12.2.tar.xz">ark-16.12.2</a></td>
   <td align="right">1.2MB</td>
   <td><tt>437b582eb410eb7e0cceb4f5e809b74defab73a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/artikulate-16.12.2.tar.xz">artikulate-16.12.2</a></td>
   <td align="right">3.4MB</td>
   <td><tt>5014b718cd095094eefa22a58774fb032bba3234</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/audiocd-kio-16.12.2.tar.xz">audiocd-kio-16.12.2</a></td>
   <td align="right">52kB</td>
   <td><tt>6588df2f4cdf860d01c79f937a21d4a66549c0d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/baloo-widgets-16.12.2.tar.xz">baloo-widgets-16.12.2</a></td>
   <td align="right">55kB</td>
   <td><tt>4b8508d146f96162c11fe925f5ef11872b07d9ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/blinken-16.12.2.tar.xz">blinken-16.12.2</a></td>
   <td align="right">549kB</td>
   <td><tt>fba977bb5f70834a5824ae85f5524558c1fe7b92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/blogilo-16.12.2.tar.xz">blogilo-16.12.2</a></td>
   <td align="right">323kB</td>
   <td><tt>ec49c0098a6b2fc86fba07a0286383796cc8b598</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/bomber-16.12.2.tar.xz">bomber-16.12.2</a></td>
   <td align="right">698kB</td>
   <td><tt>122b99c2990535d5034d2003b5a9ba0de5f1e61b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/bovo-16.12.2.tar.xz">bovo-16.12.2</a></td>
   <td align="right">136kB</td>
   <td><tt>6392d4bee53683897c7d7767560f129fd838d336</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/calendarsupport-16.12.2.tar.xz">calendarsupport-16.12.2</a></td>
   <td align="right">98kB</td>
   <td><tt>c709da7595d5bdc1fcaa6b727497c4f5a4ccddce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/cantor-16.12.2.tar.xz">cantor-16.12.2</a></td>
   <td align="right">369kB</td>
   <td><tt>a25ad22706286b16eea0126f3128b746969cbe77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/cervisia-16.12.2.tar.xz">cervisia-16.12.2</a></td>
   <td align="right">463kB</td>
   <td><tt>e428e386459a314ae8d7ffdd5159235c2f6130b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/dolphin-16.12.2.tar.xz">dolphin-16.12.2</a></td>
   <td align="right">660kB</td>
   <td><tt>fc863521f6f475352de28f3fecc67c107b2334b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/dolphin-plugins-16.12.2.tar.xz">dolphin-plugins-16.12.2</a></td>
   <td align="right">59kB</td>
   <td><tt>131ee8fb9caab45c03494503f57a61a5c47d1b82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/dragon-16.12.2.tar.xz">dragon-16.12.2</a></td>
   <td align="right">468kB</td>
   <td><tt>0bd90da90fdcf69b7021e0ef5e5345a9e47258e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/eventviews-16.12.2.tar.xz">eventviews-16.12.2</a></td>
   <td align="right">143kB</td>
   <td><tt>e2f6244b433993a228f82f283557e43fd05519d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/ffmpegthumbs-16.12.2.tar.xz">ffmpegthumbs-16.12.2</a></td>
   <td align="right">20kB</td>
   <td><tt>cb99d26e110f90fe050057cdca74075e2124211a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/filelight-16.12.2.tar.xz">filelight-16.12.2</a></td>
   <td align="right">207kB</td>
   <td><tt>61b00f5833495428b6d3f3930abc32609f314120</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/granatier-16.12.2.tar.xz">granatier-16.12.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>585683b1abf0288ba0ce0fd9a7b3366ba3f51d09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/grantlee-editor-16.12.2.tar.xz">grantlee-editor-16.12.2</a></td>
   <td align="right">44kB</td>
   <td><tt>8ef0eff3334a9878185ce3b5ebda1bec214ced69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/grantleetheme-16.12.2.tar.xz">grantleetheme-16.12.2</a></td>
   <td align="right">43kB</td>
   <td><tt>71c11618e4ac304bfbc4e5c1d0d53176d9852179</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/gwenview-16.12.2.tar.xz">gwenview-16.12.2</a></td>
   <td align="right">2.7MB</td>
   <td><tt>54ae7c15e2cc0d8c8c1923fcaf677c1fd2bb9d90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/incidenceeditor-16.12.2.tar.xz">incidenceeditor-16.12.2</a></td>
   <td align="right">118kB</td>
   <td><tt>1c0674c8b9c5bf5bf3dc5e12520277ba7afc4bb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/jovie-16.12.2.tar.xz">jovie-16.12.2</a></td>
   <td align="right">385kB</td>
   <td><tt>59bd81c8041235cd4a32ac503af547418cbd28df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/juk-16.12.2.tar.xz">juk-16.12.2</a></td>
   <td align="right">435kB</td>
   <td><tt>e8e9633a510a2d8006b22172b22de312bc38c635</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kaccessible-16.12.2.tar.xz">kaccessible-16.12.2</a></td>
   <td align="right">20kB</td>
   <td><tt>77591a7c1e07e79500526f3ba68897b4a91712ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kaccounts-integration-16.12.2.tar.xz">kaccounts-integration-16.12.2</a></td>
   <td align="right">45kB</td>
   <td><tt>280108b2d5d36355296d77b1a0b038c69cb3d5e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kaccounts-providers-16.12.2.tar.xz">kaccounts-providers-16.12.2</a></td>
   <td align="right">16kB</td>
   <td><tt>83081b51db88df4ed325752ac22b2c2e6aa87ac1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kaddressbook-16.12.2.tar.xz">kaddressbook-16.12.2</a></td>
   <td align="right">161kB</td>
   <td><tt>da6e30d809fe4672d45fe2ddf20afd7958b2a150</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kajongg-16.12.2.tar.xz">kajongg-16.12.2</a></td>
   <td align="right">2.4MB</td>
   <td><tt>961fd3de86aa22d981432e00ea563b2619fcfbd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kalarm-16.12.2.tar.xz">kalarm-16.12.2</a></td>
   <td align="right">553kB</td>
   <td><tt>497ad1c42bdd48008d3bd1614b6ee7b46912b651</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kalarmcal-16.12.2.tar.xz">kalarmcal-16.12.2</a></td>
   <td align="right">85kB</td>
   <td><tt>198ffaa8bf2573d5509b537879483bdafe2b1a48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kalgebra-16.12.2.tar.xz">kalgebra-16.12.2</a></td>
   <td align="right">315kB</td>
   <td><tt>067a17bbd6c44f885db13634bba5db71bfd54f13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kalzium-16.12.2.tar.xz">kalzium-16.12.2</a></td>
   <td align="right">4.3MB</td>
   <td><tt>44f374c8ebfcc9df14f65508ad04c89108c78950</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kamera-16.12.2.tar.xz">kamera-16.12.2</a></td>
   <td align="right">36kB</td>
   <td><tt>d1616712150447ee2831adf50fb3478f5500d7e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kanagram-16.12.2.tar.xz">kanagram-16.12.2</a></td>
   <td align="right">5.2MB</td>
   <td><tt>1d5884af435f5777d9d9953e5b5a99dd279aaa1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kapman-16.12.2.tar.xz">kapman-16.12.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>2ca66fa6e254a3a39ab732018a5a21da4ffccd7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kapptemplate-16.12.2.tar.xz">kapptemplate-16.12.2</a></td>
   <td align="right">474kB</td>
   <td><tt>d33852ca561bdc27ae3fd5d2b24c664d5ff7a118</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kate-16.12.2.tar.xz">kate-16.12.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>0ddd843b0f5b7a036c1ec06e84be604361b1c122</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/katomic-16.12.2.tar.xz">katomic-16.12.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>5158d99c9142a3211025d2a99b0c2143f63e3ac1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kblackbox-16.12.2.tar.xz">kblackbox-16.12.2</a></td>
   <td align="right">216kB</td>
   <td><tt>a81714dc6fc0c9a232bb6020ddcc692f81ae8b32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kblocks-16.12.2.tar.xz">kblocks-16.12.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>302d0b692f4c173766f73582f4a5137ebe3a094a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kblog-16.12.2.tar.xz">kblog-16.12.2</a></td>
   <td align="right">42kB</td>
   <td><tt>400a28392e29f8d6cb522f6dc516800bbb2d3daa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kbounce-16.12.2.tar.xz">kbounce-16.12.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>3315c7bb43e50f9a6800985a190be07544703daf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kbreakout-16.12.2.tar.xz">kbreakout-16.12.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>4564b05e662d2a35794f1cc9b2da4dcf5ad5d9f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kbruch-16.12.2.tar.xz">kbruch-16.12.2</a></td>
   <td align="right">701kB</td>
   <td><tt>6e373fdb09c86f0e0e11b5fb9752453ddb0f5ca2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kcachegrind-16.12.2.tar.xz">kcachegrind-16.12.2</a></td>
   <td align="right">234kB</td>
   <td><tt>bbeeb94fc00dfc610c3be351fce8bbf94491aa48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kcalc-16.12.2.tar.xz">kcalc-16.12.2</a></td>
   <td align="right">83kB</td>
   <td><tt>e7b1d21e9a2e6cc8d4ab558354dbdb4b294004b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kcalcore-16.12.2.tar.xz">kcalcore-16.12.2</a></td>
   <td align="right">287kB</td>
   <td><tt>3127ae5b66c24df3ae294843738b295c87e317b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kcalutils-16.12.2.tar.xz">kcalutils-16.12.2</a></td>
   <td align="right">92kB</td>
   <td><tt>fb170eb36fb49d5433f6988e5ef8e6fa2e9c67fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kcharselect-16.12.2.tar.xz">kcharselect-16.12.2</a></td>
   <td align="right">81kB</td>
   <td><tt>2fb1b22f4a18f427c63dacb0a367ce6d3738f46e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kcolorchooser-16.12.2.tar.xz">kcolorchooser-16.12.2</a></td>
   <td align="right">4kB</td>
   <td><tt>75de9370913f58bbd4765a089a7640756ce3ee6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kcontacts-16.12.2.tar.xz">kcontacts-16.12.2</a></td>
   <td align="right">144kB</td>
   <td><tt>bbe5a8a85eda51320647ecc4eb3e20f511cddbbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kcron-16.12.2.tar.xz">kcron-16.12.2</a></td>
   <td align="right">136kB</td>
   <td><tt>4b99ab7a5954b0f0bb4a7e6e37dc377d769d93b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kdebugsettings-16.12.2.tar.xz">kdebugsettings-16.12.2</a></td>
   <td align="right">28kB</td>
   <td><tt>fbf38759cdb438b5b0e3fb188b04e139db68ffd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-dev-scripts-16.12.2.tar.xz">kde-dev-scripts-16.12.2</a></td>
   <td align="right">304kB</td>
   <td><tt>a3b736d74def329a293dc2e16c5609a33c853c40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-dev-utils-16.12.2.tar.xz">kde-dev-utils-16.12.2</a></td>
   <td align="right">50kB</td>
   <td><tt>71a34e5fa773269541ae2a99d1462613bafeb47f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kdeedu-data-16.12.2.tar.xz">kdeedu-data-16.12.2</a></td>
   <td align="right">94kB</td>
   <td><tt>4275f2ab5d972121bd14c3f1e36bb4c913346749</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kdegraphics-mobipocket-16.12.2.tar.xz">kdegraphics-mobipocket-16.12.2</a></td>
   <td align="right">13kB</td>
   <td><tt>d184ee383f096ecf49c9c782bb87acc56dc51f13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kdegraphics-thumbnailers-16.12.2.tar.xz">kdegraphics-thumbnailers-16.12.2</a></td>
   <td align="right">40kB</td>
   <td><tt>8065a2aa18ff281c7f7528b1130a493f287eb640</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kdelibs-4.14.29.tar.xz">kdelibs-4.14.29</a></td>
   <td align="right">11MB</td>
   <td><tt>d04e3fe612cef075d2023f6cef1938ff236f19d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kdenetwork-filesharing-16.12.2.tar.xz">kdenetwork-filesharing-16.12.2</a></td>
   <td align="right">27kB</td>
   <td><tt>723f6129298d63c3a9416f0f53e7f464de2b8a1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kdenlive-16.12.2.tar.xz">kdenlive-16.12.2</a></td>
   <td align="right">6.3MB</td>
   <td><tt>70b7052111ae7c8c2f05f23d081717578fcb7ee0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kdepim-addons-16.12.2.tar.xz">kdepim-addons-16.12.2</a></td>
   <td align="right">324kB</td>
   <td><tt>808fae641caeff7d61d04b2d0e19b28e790728bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kdepim-apps-libs-16.12.2.tar.xz">kdepim-apps-libs-16.12.2</a></td>
   <td align="right">46kB</td>
   <td><tt>fa94a1499cf0e4ea19e2e9da59a3ed84fada3e26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kdepim-runtime-16.12.2.tar.xz">kdepim-runtime-16.12.2</a></td>
   <td align="right">720kB</td>
   <td><tt>da8f8dc2ad4c5d2d472b534af2b52cc93ace48d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-runtime-16.12.2.tar.xz">kde-runtime-16.12.2</a></td>
   <td align="right">7.5MB</td>
   <td><tt>e182fb3f7daf9db0345c18e7cb0804c4b09d1783</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kdesdk-kioslaves-16.12.2.tar.xz">kdesdk-kioslaves-16.12.2</a></td>
   <td align="right">353kB</td>
   <td><tt>8f9281a42a66eabcde1b0856005c88d7679d9cd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kdesdk-thumbnailers-16.12.2.tar.xz">kdesdk-thumbnailers-16.12.2</a></td>
   <td align="right">11kB</td>
   <td><tt>96f096bda5f2bef48af47a98ced6a3ad31826a9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kdf-16.12.2.tar.xz">kdf-16.12.2</a></td>
   <td align="right">140kB</td>
   <td><tt>30ff925b89498e65d8f31b56b308b2763057f4ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kdialog-16.12.2.tar.xz">kdialog-16.12.2</a></td>
   <td align="right">31kB</td>
   <td><tt>f62f6746a0755f491c45b89096f7a61c21869f00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kdiamond-16.12.2.tar.xz">kdiamond-16.12.2</a></td>
   <td align="right">4.3MB</td>
   <td><tt>cf6254f21289a56a7584614b2741f989763dc6f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/keditbookmarks-16.12.2.tar.xz">keditbookmarks-16.12.2</a></td>
   <td align="right">62kB</td>
   <td><tt>47f5abaa22cedc85473f62260289549ef52be464</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kfilereplace-16.12.2.tar.xz">kfilereplace-16.12.2</a></td>
   <td align="right">745kB</td>
   <td><tt>66cffe192cef3e207ad7ceb74c61dbf637a8efe1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kfind-16.12.2.tar.xz">kfind-16.12.2</a></td>
   <td align="right">60kB</td>
   <td><tt>53d1a65b78ffea6155da44be37bd0681046d823d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kfloppy-16.12.2.tar.xz">kfloppy-16.12.2</a></td>
   <td align="right">52kB</td>
   <td><tt>1c551beda9ab53c1e58b887299a9a297ae2e9e69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kfourinline-16.12.2.tar.xz">kfourinline-16.12.2</a></td>
   <td align="right">449kB</td>
   <td><tt>634fe643491ea302953c7b04fabfa6ec76f132fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kgeography-16.12.2.tar.xz">kgeography-16.12.2</a></td>
   <td align="right">6.4MB</td>
   <td><tt>3efa30f6d170227f33fd190f15f72b78540f98fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kget-16.12.2.tar.xz">kget-16.12.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>1ca53ad03b049308c66b0ae67ba50c1a97d5a02e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kgoldrunner-16.12.2.tar.xz">kgoldrunner-16.12.2</a></td>
   <td align="right">2.1MB</td>
   <td><tt>2010cd8d27bba9c43f1b8ad46d87f59b080e300e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kgpg-16.12.2.tar.xz">kgpg-16.12.2</a></td>
   <td align="right">798kB</td>
   <td><tt>8eda76c3cfd4073a46b8e608861aaa01ac83a7fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/khangman-16.12.2.tar.xz">khangman-16.12.2</a></td>
   <td align="right">4.0MB</td>
   <td><tt>7992c4660afb0f35f4438b8c08ec32120ac05fc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/khelpcenter-16.12.2.tar.xz">khelpcenter-16.12.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>b8bf2c38d5261efb72dfdde17a754594a7581b5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kholidays-16.12.2.tar.xz">kholidays-16.12.2</a></td>
   <td align="right">171kB</td>
   <td><tt>93a49177e8e29155e4cde23e5221fbf7e567382b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kidentitymanagement-16.12.2.tar.xz">kidentitymanagement-16.12.2</a></td>
   <td align="right">37kB</td>
   <td><tt>789362ce604b632b6f7229a85b7e20fe61b118b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kig-16.12.2.tar.xz">kig-16.12.2</a></td>
   <td align="right">1.4MB</td>
   <td><tt>a1bb9e62a81a0c3a8b3b3c2d0ea7c8e528e523fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kigo-16.12.2.tar.xz">kigo-16.12.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>b95072d2986d779748eb50d13f6cbe5aa2ae7dbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/killbots-16.12.2.tar.xz">killbots-16.12.2</a></td>
   <td align="right">941kB</td>
   <td><tt>893b878f46d4d4da8c02e2f2d7d9d0fae3fe43df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kimagemapeditor-16.12.2.tar.xz">kimagemapeditor-16.12.2</a></td>
   <td align="right">397kB</td>
   <td><tt>2c0b4a9bb4534726ca2ff4515a2815c7fed4de3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kimap-16.12.2.tar.xz">kimap-16.12.2</a></td>
   <td align="right">90kB</td>
   <td><tt>4783e63a4c9b5383e74f5590be53fed7560148d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kio-extras-16.12.2.tar.xz">kio-extras-16.12.2</a></td>
   <td align="right">273kB</td>
   <td><tt>b410ba68f9998504a16ce9702653c24ce8435234</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kiriki-16.12.2.tar.xz">kiriki-16.12.2</a></td>
   <td align="right">253kB</td>
   <td><tt>41b77dc320efbe713362f66146ca657e8c31cc84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kiten-16.12.2.tar.xz">kiten-16.12.2</a></td>
   <td align="right">10MB</td>
   <td><tt>412cb4ce731b9b383b1f3bce7224e1da5cc5121a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kjumpingcube-16.12.2.tar.xz">kjumpingcube-16.12.2</a></td>
   <td align="right">135kB</td>
   <td><tt>a54d4fd8b0135b81c03cf5dd45b9c9905ef80cd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kldap-16.12.2.tar.xz">kldap-16.12.2</a></td>
   <td align="right">58kB</td>
   <td><tt>12d25c4714b9c194d56264286971b79911903c0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kleopatra-16.12.2.tar.xz">kleopatra-16.12.2</a></td>
   <td align="right">694kB</td>
   <td><tt>2a190b7167f4f6c3e5967b39424d8e221c325603</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/klettres-16.12.2.tar.xz">klettres-16.12.2</a></td>
   <td align="right">2.5MB</td>
   <td><tt>a6d60bb21a2836ff98df578df13ffa443ec1b52c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/klickety-16.12.2.tar.xz">klickety-16.12.2</a></td>
   <td align="right">649kB</td>
   <td><tt>1c9b675a1879983b045080dd74eca786a9ffa488</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/klines-16.12.2.tar.xz">klines-16.12.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>81a122b3ffd7a5cbe41dd03e15e9e0942d2dd0cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/klinkstatus-16.12.2.tar.xz">klinkstatus-16.12.2</a></td>
   <td align="right">440kB</td>
   <td><tt>f24052d119c7fc29b71fc93ecbf1005a624d527c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kmag-16.12.2.tar.xz">kmag-16.12.2</a></td>
   <td align="right">84kB</td>
   <td><tt>fb65111b3467d23a5690ad9d7e9376fed3006742</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kmahjongg-16.12.2.tar.xz">kmahjongg-16.12.2</a></td>
   <td align="right">989kB</td>
   <td><tt>6fd69762ffca586dfe0dc5bca86a602e9ab9d666</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kmail-16.12.2.tar.xz">kmail-16.12.2</a></td>
   <td align="right">1.4MB</td>
   <td><tt>5df5e9b09e9af4e11ff15d76a861acf6ce569682</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kmail-account-wizard-16.12.2.tar.xz">kmail-account-wizard-16.12.2</a></td>
   <td align="right">60kB</td>
   <td><tt>46c9ed9a7facef5614b6dabd8b679a0418a225d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kmailtransport-16.12.2.tar.xz">kmailtransport-16.12.2</a></td>
   <td align="right">89kB</td>
   <td><tt>7bca3d730fec661619505239530d688e3fd520f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kmbox-16.12.2.tar.xz">kmbox-16.12.2</a></td>
   <td align="right">23kB</td>
   <td><tt>9348cb47676f1ff8e25c8a73398f2655ad0c0d04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kmime-16.12.2.tar.xz">kmime-16.12.2</a></td>
   <td align="right">119kB</td>
   <td><tt>510a954afb177b17352c88217e7168195e7456f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kmines-16.12.2.tar.xz">kmines-16.12.2</a></td>
   <td align="right">646kB</td>
   <td><tt>21dce0a0681cda435b5ec20d0d8f56eddc0683df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kmix-16.12.2.tar.xz">kmix-16.12.2</a></td>
   <td align="right">379kB</td>
   <td><tt>acfd7c07ef63d854a8a92cd196c47b352aea74bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kmousetool-16.12.2.tar.xz">kmousetool-16.12.2</a></td>
   <td align="right">35kB</td>
   <td><tt>e88bcf1740bb82ddfa6ea3848dc38288c27d1b21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kmouth-16.12.2.tar.xz">kmouth-16.12.2</a></td>
   <td align="right">271kB</td>
   <td><tt>5a95119c38d80a33876cd5752570f4546e59dd5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kmplot-16.12.2.tar.xz">kmplot-16.12.2</a></td>
   <td align="right">558kB</td>
   <td><tt>3f830e4d50cfb8be313c13c3613200816554a5ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/knavalbattle-16.12.2.tar.xz">knavalbattle-16.12.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>50a03c81964b4565fef1ee21fc88fcdfcf3bdb52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/knetwalk-16.12.2.tar.xz">knetwalk-16.12.2</a></td>
   <td align="right">883kB</td>
   <td><tt>2cbed980909215e42ea4981938c9aa21fa272ba4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/knotes-16.12.2.tar.xz">knotes-16.12.2</a></td>
   <td align="right">159kB</td>
   <td><tt>a8dc0a285833b0862bf6d9e8b3ca2ed14d27d8e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kolf-16.12.2.tar.xz">kolf-16.12.2</a></td>
   <td align="right">750kB</td>
   <td><tt>32be038ec0a3f9cc14b929fad2204d096ddc2d75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kollision-16.12.2.tar.xz">kollision-16.12.2</a></td>
   <td align="right">221kB</td>
   <td><tt>402702502c5e53edafb562b5453e02849ed30223</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kolourpaint-16.12.2.tar.xz">kolourpaint-16.12.2</a></td>
   <td align="right">858kB</td>
   <td><tt>9c80a1a1cd2b6e78ac9c131e089fbb80325df351</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kommander-16.12.2.tar.xz">kommander-16.12.2</a></td>
   <td align="right">925kB</td>
   <td><tt>c759010d082218733d63abd97923fe8f3c740862</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kompare-16.12.2.tar.xz">kompare-16.12.2</a></td>
   <td align="right">232kB</td>
   <td><tt>ed3379e40dbdfcb4f898f2a31c43c5496b86c8e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/konqueror-16.12.2.tar.xz">konqueror-16.12.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>f2c2d3bee7e8443f8e4350f34280126ba3bfb3a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/konquest-16.12.2.tar.xz">konquest-16.12.2</a></td>
   <td align="right">396kB</td>
   <td><tt>66178aff7b9b95ea6cab176552300e9694166eef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/konsole-16.12.2.tar.xz">konsole-16.12.2</a></td>
   <td align="right">453kB</td>
   <td><tt>d889147f592bcdd40576756a4ba3a861807cee24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kontact-16.12.2.tar.xz">kontact-16.12.2</a></td>
   <td align="right">804kB</td>
   <td><tt>18aa3d6451d4c2262a68e558ced4f03c9dea0a24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kontactinterface-16.12.2.tar.xz">kontactinterface-16.12.2</a></td>
   <td align="right">24kB</td>
   <td><tt>e7c3b286f78267344057fc4cbf3ec6a5f39f22a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kopete-16.12.2.tar.xz">kopete-16.12.2</a></td>
   <td align="right">6.0MB</td>
   <td><tt>2db7a06b424edeb20571115b6d66f2f639562c56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/korganizer-16.12.2.tar.xz">korganizer-16.12.2</a></td>
   <td align="right">811kB</td>
   <td><tt>e5714b3761766238d6a450c93ba0473f9c5040fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kpat-16.12.2.tar.xz">kpat-16.12.2</a></td>
   <td align="right">3.1MB</td>
   <td><tt>5a90145fe887ea0ac59083a22bde55add9e921f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kpimtextedit-16.12.2.tar.xz">kpimtextedit-16.12.2</a></td>
   <td align="right">77kB</td>
   <td><tt>bfaa1457ab60aa4995fdd9c6cfa0149961209cbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kppp-16.12.2.tar.xz">kppp-16.12.2</a></td>
   <td align="right">684kB</td>
   <td><tt>6928ef10dce63caebdad4ab659887a2457b3b062</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kqtquickcharts-16.12.2.tar.xz">kqtquickcharts-16.12.2</a></td>
   <td align="right">24kB</td>
   <td><tt>795fc5cf11f936ae34a93087041a58fb5097e3d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/krdc-16.12.2.tar.xz">krdc-16.12.2</a></td>
   <td align="right">284kB</td>
   <td><tt>54539a1799ae6c7da4cf2b567bed13b17193d4cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kremotecontrol-16.12.2.tar.xz">kremotecontrol-16.12.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>a695ee95cd429747ab76a835f35859a05e729056</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kreversi-16.12.2.tar.xz">kreversi-16.12.2</a></td>
   <td align="right">463kB</td>
   <td><tt>e465ec1359d196ebd3c4e1afa0af55785a2aaf7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/krfb-16.12.2.tar.xz">krfb-16.12.2</a></td>
   <td align="right">161kB</td>
   <td><tt>8337ae06b5a66cfd44b20d115c72e199f04942db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kross-interpreters-16.12.2.tar.xz">kross-interpreters-16.12.2</a></td>
   <td align="right">141kB</td>
   <td><tt>42ce0cbe5d8400d559c1f1486e11541c64f581be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kruler-16.12.2.tar.xz">kruler-16.12.2</a></td>
   <td align="right">123kB</td>
   <td><tt>24ba7b101bd3efaf76a8f099b832cf7519c0125e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/ksaneplugin-16.12.2.tar.xz">ksaneplugin-16.12.2</a></td>
   <td align="right">12kB</td>
   <td><tt>e724953baa6c108ee595ca0fb1877967b1336114</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kscd-16.12.2.tar.xz">kscd-16.12.2</a></td>
   <td align="right">90kB</td>
   <td><tt>7f52e457f9e0ebbee4a1f8d2757b8adb6e715c2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kshisen-16.12.2.tar.xz">kshisen-16.12.2</a></td>
   <td align="right">336kB</td>
   <td><tt>d742b27c1a32f6e6fc4bb6285d5041d4e2769ed4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/ksirk-16.12.2.tar.xz">ksirk-16.12.2</a></td>
   <td align="right">4.7MB</td>
   <td><tt>5df2b0dd9c97cb96a4e41589926a2b5c7c8c8e56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/ksnakeduel-16.12.2.tar.xz">ksnakeduel-16.12.2</a></td>
   <td align="right">291kB</td>
   <td><tt>f7612d087277ee21de1070fe2e90404fd692e565</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kspaceduel-16.12.2.tar.xz">kspaceduel-16.12.2</a></td>
   <td align="right">247kB</td>
   <td><tt>d0a33ff914b206b081fe79528b9da6b6fa0d6cf4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/ksquares-16.12.2.tar.xz">ksquares-16.12.2</a></td>
   <td align="right">133kB</td>
   <td><tt>68a944ecdda4320513ccfb5379cac0a0eb125294</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kstars-16.12.2.tar.xz">kstars-16.12.2</a></td>
   <td align="right">37MB</td>
   <td><tt>75aaa3da87f1629c83f7a2d743f3b2cde8115747</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/ksudoku-16.12.2.tar.xz">ksudoku-16.12.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>932edbf6b0c03ff5a9a0e3346769e4006beaf57a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/ksystemlog-16.12.2.tar.xz">ksystemlog-16.12.2</a></td>
   <td align="right">342kB</td>
   <td><tt>f54e3380471d585242d326580a6c47cd16d1bc10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kteatime-16.12.2.tar.xz">kteatime-16.12.2</a></td>
   <td align="right">88kB</td>
   <td><tt>ca34b7e118bab59fc1dc64a66db6a5445252c13d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/ktimer-16.12.2.tar.xz">ktimer-16.12.2</a></td>
   <td align="right">157kB</td>
   <td><tt>14e0db8467c6db6726c265b972392d6fb4887d76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/ktnef-16.12.2.tar.xz">ktnef-16.12.2</a></td>
   <td align="right">227kB</td>
   <td><tt>5c0c4b3f22f9edcdc96cbf7e62cff0e429e3ff33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/ktouch-16.12.2.tar.xz">ktouch-16.12.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>be2278d506a94878d25180cca69d9171abdc7c44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/ktp-accounts-kcm-16.12.2.tar.xz">ktp-accounts-kcm-16.12.2</a></td>
   <td align="right">87kB</td>
   <td><tt>6b26db9fb8315225e8e4449cb609e9772142ab3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/ktp-approver-16.12.2.tar.xz">ktp-approver-16.12.2</a></td>
   <td align="right">20kB</td>
   <td><tt>03269120ecb2e62c205639edf08e53990359f078</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/ktp-auth-handler-16.12.2.tar.xz">ktp-auth-handler-16.12.2</a></td>
   <td align="right">25kB</td>
   <td><tt>5b7be7f53fedbc0bf6fa6ca68b40bcd47dfd9123</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/ktp-call-ui-16.12.2.tar.xz">ktp-call-ui-16.12.2</a></td>
   <td align="right">44kB</td>
   <td><tt>159157ef7266efb6c6ab9095a7d22bf9dbb7d1eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/ktp-common-internals-16.12.2.tar.xz">ktp-common-internals-16.12.2</a></td>
   <td align="right">309kB</td>
   <td><tt>1793b118c1b1760d3b30858e1aa008333155b01b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/ktp-contact-list-16.12.2.tar.xz">ktp-contact-list-16.12.2</a></td>
   <td align="right">47kB</td>
   <td><tt>ed94f496a5ae9177e2bb7f06adefad781ee1969b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/ktp-contact-runner-16.12.2.tar.xz">ktp-contact-runner-16.12.2</a></td>
   <td align="right">16kB</td>
   <td><tt>68e40f72191bdfd30ce5270e5cbce0bd1e6b4279</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/ktp-desktop-applets-16.12.2.tar.xz">ktp-desktop-applets-16.12.2</a></td>
   <td align="right">26kB</td>
   <td><tt>558d5543393f62a3b84ebf1587fe177a4f7322ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/ktp-filetransfer-handler-16.12.2.tar.xz">ktp-filetransfer-handler-16.12.2</a></td>
   <td align="right">22kB</td>
   <td><tt>49b5ea9cfab79e06ee1c127ad5b2948bdd82bc35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/ktp-kded-module-16.12.2.tar.xz">ktp-kded-module-16.12.2</a></td>
   <td align="right">37kB</td>
   <td><tt>1d46c8e1eae5f84089d1e218de1bb497556835e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/ktp-send-file-16.12.2.tar.xz">ktp-send-file-16.12.2</a></td>
   <td align="right">14kB</td>
   <td><tt>d735bfff2a16f2ecf15198342ab3473507c519aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/ktp-text-ui-16.12.2.tar.xz">ktp-text-ui-16.12.2</a></td>
   <td align="right">288kB</td>
   <td><tt>e5ced0184efa3d88db372e1f575befccf98b4b4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/ktuberling-16.12.2.tar.xz">ktuberling-16.12.2</a></td>
   <td align="right">4.2MB</td>
   <td><tt>8ccd722e03996e95f3e6eb967ce404d64b3f593b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kturtle-16.12.2.tar.xz">kturtle-16.12.2</a></td>
   <td align="right">192kB</td>
   <td><tt>90aed184b7bd951e1e7ba1027bee40902308f4a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kubrick-16.12.2.tar.xz">kubrick-16.12.2</a></td>
   <td align="right">105kB</td>
   <td><tt>8ab2b86998267a3bd5b848c428c629ae97410a77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kwalletmanager-16.12.2.tar.xz">kwalletmanager-16.12.2</a></td>
   <td align="right">372kB</td>
   <td><tt>af85ad246f76372e82075ee8754abebcc0842a58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kwave-16.12.2.tar.xz">kwave-16.12.2</a></td>
   <td align="right">1.4MB</td>
   <td><tt>9170d307be6e1082081eb3ae0782690a793a8fa8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kwordquiz-16.12.2.tar.xz">kwordquiz-16.12.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>4a5ff4460551065e38a3fc1ec5b699628f503705</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/libgravatar-16.12.2.tar.xz">libgravatar-16.12.2</a></td>
   <td align="right">21kB</td>
   <td><tt>6aeb73f2260618772ef0ac36368c1ebded4d6514</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/libkcddb-16.12.2.tar.xz">libkcddb-16.12.2</a></td>
   <td align="right">155kB</td>
   <td><tt>290ff059be4d7257ffb101b0030136eeb0b1b910</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/libkcompactdisc-16.12.2.tar.xz">libkcompactdisc-16.12.2</a></td>
   <td align="right">75kB</td>
   <td><tt>9215d05754659b8815806a8c75c4c06d82126bd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/libkdcraw-16.12.2.tar.xz">libkdcraw-16.12.2</a></td>
   <td align="right">41kB</td>
   <td><tt>4545faffc868037aa1934c06c926d8dcdc7805dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/libkdegames-16.12.2.tar.xz">libkdegames-16.12.2</a></td>
   <td align="right">5.5MB</td>
   <td><tt>a3bc65f76ac0225d4f87969d4da30bbe28107090</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/libkdepim-16.12.2.tar.xz">libkdepim-16.12.2</a></td>
   <td align="right">112kB</td>
   <td><tt>d3dcf18291114077fe60bd74bff9887513fde2e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/libkeduvocdocument-16.12.2.tar.xz">libkeduvocdocument-16.12.2</a></td>
   <td align="right">89kB</td>
   <td><tt>df566258c718da7220c6791816d21145de43973c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/libkexiv2-16.12.2.tar.xz">libkexiv2-16.12.2</a></td>
   <td align="right">63kB</td>
   <td><tt>de0e2c35455a9c1985d1c2308c895e2c006e2301</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/libkface-16.12.2.tar.xz">libkface-16.12.2</a></td>
   <td align="right">8.5MB</td>
   <td><tt>25e3920c24dea5e16a74bb04698c91a528f2d3d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/libkgeomap-16.12.2.tar.xz">libkgeomap-16.12.2</a></td>
   <td align="right">122kB</td>
   <td><tt>0559ce5d78bc3a452bff00268e7f1d98ed541e94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/libkipi-16.12.2.tar.xz">libkipi-16.12.2</a></td>
   <td align="right">101kB</td>
   <td><tt>532bd8061d6cf099c33dbe41a9a649a1623f84f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/libkleo-16.12.2.tar.xz">libkleo-16.12.2</a></td>
   <td align="right">127kB</td>
   <td><tt>8784bb28fe7178d091b666a7d3b4edf58e8777cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/libkmahjongg-16.12.2.tar.xz">libkmahjongg-16.12.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>9602d6a49217bfb7010ac9ff77b24d50371cf057</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/libkomparediff2-16.12.2.tar.xz">libkomparediff2-16.12.2</a></td>
   <td align="right">55kB</td>
   <td><tt>23135dc01425c8518f2d7db59aaf4c22450dcf4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/libksane-16.12.2.tar.xz">libksane-16.12.2</a></td>
   <td align="right">79kB</td>
   <td><tt>501cd2f326045da4cdb372dff97819bdc0deb56f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/libksieve-16.12.2.tar.xz">libksieve-16.12.2</a></td>
   <td align="right">165kB</td>
   <td><tt>17f46589d395fa2ebc5af001a7a86deddf5d2628</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/lokalize-16.12.2.tar.xz">lokalize-16.12.2</a></td>
   <td align="right">936kB</td>
   <td><tt>5c8abc570a5729727d8b5a50fa97fdc0f6d5ea9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/lskat-16.12.2.tar.xz">lskat-16.12.2</a></td>
   <td align="right">905kB</td>
   <td><tt>72a742fb8b3e2e8157bcf25195e29941bbcdb76c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/mailcommon-16.12.2.tar.xz">mailcommon-16.12.2</a></td>
   <td align="right">184kB</td>
   <td><tt>ec762cef19e35ecdc747cff045dd56067b92bd1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/mailimporter-16.12.2.tar.xz">mailimporter-16.12.2</a></td>
   <td align="right">373kB</td>
   <td><tt>f62d8bb7d5836579d4395ccb79b167a283a7885c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/marble-16.12.2.tar.xz">marble-16.12.2</a></td>
   <td align="right">23MB</td>
   <td><tt>ab529c24c27bd64aca1dafcc3816395e46cff228</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/mbox-importer-16.12.2.tar.xz">mbox-importer-16.12.2</a></td>
   <td align="right">22kB</td>
   <td><tt>a141fd269093204f1a393a8002d2f643b7b45a3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/messagelib-16.12.2.tar.xz">messagelib-16.12.2</a></td>
   <td align="right">4.4MB</td>
   <td><tt>8616fd8b681f44666d9b08b9b41d5025fc9e3bee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/minuet-16.12.2.tar.xz">minuet-16.12.2</a></td>
   <td align="right">26MB</td>
   <td><tt>59105525a2ad8924d8d225ae39ddde791e11b60c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/okteta-16.12.2.tar.xz">okteta-16.12.2</a></td>
   <td align="right">495kB</td>
   <td><tt>a267389088576ee515c8622ea6759c30431b9177</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/okular-16.12.2.tar.xz">okular-16.12.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>0aaba8c0d4bf86966b94771560493c838141b9d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/palapeli-16.12.2.tar.xz">palapeli-16.12.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>883d4e3f09d2874e16455a28ab1c3dfd184cc377</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/parley-16.12.2.tar.xz">parley-16.12.2</a></td>
   <td align="right">5.0MB</td>
   <td><tt>d184d6aef0f2170d24dcad2c13b7303fc6165355</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/picmi-16.12.2.tar.xz">picmi-16.12.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>ec80fc2702a48aac781f2607c2748e6f38584fa8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/pimcommon-16.12.2.tar.xz">pimcommon-16.12.2</a></td>
   <td align="right">155kB</td>
   <td><tt>5858e02479c24ad5ef0f7dee8cdda74647bb5267</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/pim-data-exporter-16.12.2.tar.xz">pim-data-exporter-16.12.2</a></td>
   <td align="right">100kB</td>
   <td><tt>186239008a4df52369995e8eeca8f7acc38176f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/pim-sieve-editor-16.12.2.tar.xz">pim-sieve-editor-16.12.2</a></td>
   <td align="right">309kB</td>
   <td><tt>6244e778957dda46e43a184f1e5b483574490989</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/pim-storage-service-manager-16.12.2.tar.xz">pim-storage-service-manager-16.12.2</a></td>
   <td align="right">35kB</td>
   <td><tt>bfdfb0b01fc80495fffd0971f2f2a0b279a6e3bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/poxml-16.12.2.tar.xz">poxml-16.12.2</a></td>
   <td align="right">31kB</td>
   <td><tt>1916b0badfe9246a026c27a4344ee5d735d454bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/print-manager-16.12.2.tar.xz">print-manager-16.12.2</a></td>
   <td align="right">92kB</td>
   <td><tt>8ef00bf9e4bd003d061467d206d7296031a77d33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/rocs-16.12.2.tar.xz">rocs-16.12.2</a></td>
   <td align="right">520kB</td>
   <td><tt>c8c4547335ab6e1e5625d2b4d91fc4e44d8206df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/signon-kwallet-extension-16.12.2.tar.xz">signon-kwallet-extension-16.12.2</a></td>
   <td align="right">10kB</td>
   <td><tt>0e7848d48b310385b00b185395ed554894ccf536</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/spectacle-16.12.2.tar.xz">spectacle-16.12.2</a></td>
   <td align="right">983kB</td>
   <td><tt>00fe10a48d12b8d3ffb392c511ef5424163fe7d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/step-16.12.2.tar.xz">step-16.12.2</a></td>
   <td align="right">380kB</td>
   <td><tt>a8c104ac068b10a5beb05bb58dc12f7e77788092</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/svgpart-16.12.2.tar.xz">svgpart-16.12.2</a></td>
   <td align="right">8kB</td>
   <td><tt>2bc78f3c7f18e579dfc607ca1bf67fc08e8d79ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/sweeper-16.12.2.tar.xz">sweeper-16.12.2</a></td>
   <td align="right">80kB</td>
   <td><tt>4c5cba86289f107ca5e6c55754d53c4b2f306454</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/syndication-16.12.2.tar.xz">syndication-16.12.2</a></td>
   <td align="right">156kB</td>
   <td><tt>a1778a39542ef9c5750a779ff32493d57242dd6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/umbrello-16.12.2.tar.xz">umbrello-16.12.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>bf0b7a63ef281e5f9f1acdd6ab42ba80112bac03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/zeroconf-ioslave-16.12.2.tar.xz">zeroconf-ioslave-16.12.2</a></td>
   <td align="right">25kB</td>
   <td><tt>06734113f135d3e3436197ae6f121a95755ab5f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-ar-16.12.2.tar.xz">kde-l10n-ar-16.12.2</a></td>
   <td align="right">3.0MB</td>
   <td><tt>66fa6f6793d7b141b14c7f4e81cad6fca7229d8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-ast-16.12.2.tar.xz">kde-l10n-ast-16.12.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>b0c701b293238be88027b24ead7639f33b6eb4ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-bg-16.12.2.tar.xz">kde-l10n-bg-16.12.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>0650d3706c636217e207aa176a53aa473d09fee6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-bs-16.12.2.tar.xz">kde-l10n-bs-16.12.2</a></td>
   <td align="right">2.1MB</td>
   <td><tt>077adad2918b5e67e6affb047a7a8ced957700df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-ca-16.12.2.tar.xz">kde-l10n-ca-16.12.2</a></td>
   <td align="right">19MB</td>
   <td><tt>88fa6c705552470d67383df9aabd878a4ae88c22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-ca@valencia-16.12.2.tar.xz">kde-l10n-ca@valencia-16.12.2</a></td>
   <td align="right">2.0MB</td>
   <td><tt>357b3ecee482ada982061366aa14c2cfdb22ca5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-cs-16.12.2.tar.xz">kde-l10n-cs-16.12.2</a></td>
   <td align="right">2.7MB</td>
   <td><tt>0b96b5e948166fcd77ab3e7d61bfe86c6075db8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-da-16.12.2.tar.xz">kde-l10n-da-16.12.2</a></td>
   <td align="right">11MB</td>
   <td><tt>8d16252a19a17e8994424ab64341425e08ae4eb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-de-16.12.2.tar.xz">kde-l10n-de-16.12.2</a></td>
   <td align="right">30MB</td>
   <td><tt>29c237cf794c31ec999bde12628892c463cffa25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-el-16.12.2.tar.xz">kde-l10n-el-16.12.2</a></td>
   <td align="right">4.0MB</td>
   <td><tt>a3d2a818541d75413c48ee100d901bfd2d3f8531</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-en_GB-16.12.2.tar.xz">kde-l10n-en_GB-16.12.2</a></td>
   <td align="right">2.8MB</td>
   <td><tt>38a7d44bb1d7e266ebee8769bd0426a0227305c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-eo-16.12.2.tar.xz">kde-l10n-eo-16.12.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>f9d4831ce4d90379f167960c87279d84f7317d0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-es-16.12.2.tar.xz">kde-l10n-es-16.12.2</a></td>
   <td align="right">16MB</td>
   <td><tt>d26321045803129164185982aa6397cca270a11c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-et-16.12.2.tar.xz">kde-l10n-et-16.12.2</a></td>
   <td align="right">3.0MB</td>
   <td><tt>2840270553909e5284464b3a3af6214402cba683</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-eu-16.12.2.tar.xz">kde-l10n-eu-16.12.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>cf1662d2258ab27b88815d70da7124fdce6b301d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-fa-16.12.2.tar.xz">kde-l10n-fa-16.12.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>47ad09f287d8c8653b6d818e06e226eea006dbcb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-fi-16.12.2.tar.xz">kde-l10n-fi-16.12.2</a></td>
   <td align="right">2.4MB</td>
   <td><tt>ef9b0a339ea40691b90a6ee42ba9dfdc25ecd603</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-fr-16.12.2.tar.xz">kde-l10n-fr-16.12.2</a></td>
   <td align="right">29MB</td>
   <td><tt>d26298d8c59f31e799a0cbca25e350120a58ae3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-ga-16.12.2.tar.xz">kde-l10n-ga-16.12.2</a></td>
   <td align="right">2.5MB</td>
   <td><tt>d0ee9e4e922502f74974079ee792a005841e9522</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-gl-16.12.2.tar.xz">kde-l10n-gl-16.12.2</a></td>
   <td align="right">3.1MB</td>
   <td><tt>13f2b41f3fdf7990e60492ff9fee177ca011947b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-he-16.12.2.tar.xz">kde-l10n-he-16.12.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>89f68687de839bc12411c479a375f1124d10563e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-hi-16.12.2.tar.xz">kde-l10n-hi-16.12.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>e97dc4e13e9396ce02c1305f2c62c49f8c907ddb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-hr-16.12.2.tar.xz">kde-l10n-hr-16.12.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>49aef6e510549214068d547542c0fa8a93d86135</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-hu-16.12.2.tar.xz">kde-l10n-hu-16.12.2</a></td>
   <td align="right">3.9MB</td>
   <td><tt>9f493b5c34322cf4472033817e4a67fd2fcb4df0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-ia-16.12.2.tar.xz">kde-l10n-ia-16.12.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>8f9a2ae98aad6651a2c4e2fcd0e89c5811af265f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-id-16.12.2.tar.xz">kde-l10n-id-16.12.2</a></td>
   <td align="right">375kB</td>
   <td><tt>99a6a8cbdba8d6ee2a80887450660092e6c73c9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-is-16.12.2.tar.xz">kde-l10n-is-16.12.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>7c7957eb8640a0cfef39116234f1b44b3ebb5d4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-it-16.12.2.tar.xz">kde-l10n-it-16.12.2</a></td>
   <td align="right">7.5MB</td>
   <td><tt>ecb455f2ce36feadc2e81fb3aa05fd5b74d0659d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-ja-16.12.2.tar.xz">kde-l10n-ja-16.12.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>ddc68b286a3d49ab821546d3c1d6e961e7bcb4fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-kk-16.12.2.tar.xz">kde-l10n-kk-16.12.2</a></td>
   <td align="right">2.2MB</td>
   <td><tt>bd35277d43e470a3241b7e5d3008843aea070052</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-km-16.12.2.tar.xz">kde-l10n-km-16.12.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>d5b303ed80c886e4c511a2460207ed089b760022</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-ko-16.12.2.tar.xz">kde-l10n-ko-16.12.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>dc88cce714028a42df10979211fa71effe2a6d26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-lt-16.12.2.tar.xz">kde-l10n-lt-16.12.2</a></td>
   <td align="right">11MB</td>
   <td><tt>831384fa3da582c5d2b38486a8bc6bcb5afb62b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-lv-16.12.2.tar.xz">kde-l10n-lv-16.12.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>1ee58f6723b774e2fde9a8992e4157c8e45167c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-mr-16.12.2.tar.xz">kde-l10n-mr-16.12.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>ca076a2b58930f0b70b6f86270927bee59a10823</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-nb-16.12.2.tar.xz">kde-l10n-nb-16.12.2</a></td>
   <td align="right">2.0MB</td>
   <td><tt>f78aa9255da04693dacbdad7c8d84d0032d53dc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-nds-16.12.2.tar.xz">kde-l10n-nds-16.12.2</a></td>
   <td align="right">2.8MB</td>
   <td><tt>f16a1766a30a0d73ba6b7345a3998f180f461188</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-nl-16.12.2.tar.xz">kde-l10n-nl-16.12.2</a></td>
   <td align="right">12MB</td>
   <td><tt>768ffbf87f4a588a5d9ffc1ffd2496df852bdb03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-nn-16.12.2.tar.xz">kde-l10n-nn-16.12.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>0826cd756fee2ad97c93749ab7812ea3deced86a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-pa-16.12.2.tar.xz">kde-l10n-pa-16.12.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>079c9d50af1861a5fa9276152af2006b595a5964</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-pl-16.12.2.tar.xz">kde-l10n-pl-16.12.2</a></td>
   <td align="right">14MB</td>
   <td><tt>8fee7295dd61db00b5f515d26717098b7c0bd5ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-pt-16.12.2.tar.xz">kde-l10n-pt-16.12.2</a></td>
   <td align="right">3.1MB</td>
   <td><tt>2ed9f8ec95d6a59f04d8b266df2d74ed29b3b0e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-pt_BR-16.12.2.tar.xz">kde-l10n-pt_BR-16.12.2</a></td>
   <td align="right">20MB</td>
   <td><tt>f9e573e515db63ed608c0915b2b906f9bb4fc6e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-ro-16.12.2.tar.xz">kde-l10n-ro-16.12.2</a></td>
   <td align="right">2.7MB</td>
   <td><tt>9827a89e1c6f166690787395032c0529e1859990</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-ru-16.12.2.tar.xz">kde-l10n-ru-16.12.2</a></td>
   <td align="right">20MB</td>
   <td><tt>ef5edf1cf0cbf2477fdadab60a58a8ecc6663bcb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-sk-16.12.2.tar.xz">kde-l10n-sk-16.12.2</a></td>
   <td align="right">4.1MB</td>
   <td><tt>046c2723bf4246a8c3690ed52ff5d197af848ba3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-sl-16.12.2.tar.xz">kde-l10n-sl-16.12.2</a></td>
   <td align="right">2.8MB</td>
   <td><tt>168d838f492cd17cfca898ae4aa7fbaa147f149d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-sr-16.12.2.tar.xz">kde-l10n-sr-16.12.2</a></td>
   <td align="right">4.0MB</td>
   <td><tt>19dfe4042cd51a9b884370995e6e3a06fb43f638</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-sv-16.12.2.tar.xz">kde-l10n-sv-16.12.2</a></td>
   <td align="right">10MB</td>
   <td><tt>dd36fefd534b9496a5ea8f05027792d4fca8f78a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-tr-16.12.2.tar.xz">kde-l10n-tr-16.12.2</a></td>
   <td align="right">2.8MB</td>
   <td><tt>fa6d21f2dc8a6a719697b171133330581d2fbc32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-ug-16.12.2.tar.xz">kde-l10n-ug-16.12.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>e23226603356f39242c0f9823494ec37b1767736</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-uk-16.12.2.tar.xz">kde-l10n-uk-16.12.2</a></td>
   <td align="right">22MB</td>
   <td><tt>07c3087dcc96e8519f7a3065e5a69b50eb44ea08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-wa-16.12.2.tar.xz">kde-l10n-wa-16.12.2</a></td>
   <td align="right">1.4MB</td>
   <td><tt>2a1b73abaa71689aef886f217cf60563660aca3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-zh_CN-16.12.2.tar.xz">kde-l10n-zh_CN-16.12.2</a></td>
   <td align="right">2.5MB</td>
   <td><tt>7ab07b1d611fd657949c5f0bb41aa3be909fd132</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.12.2/src/kde-l10n/kde-l10n-zh_TW-16.12.2.tar.xz">kde-l10n-zh_TW-16.12.2</a></td>
   <td align="right">2.3MB</td>
   <td><tt>5e40e7e9b87f0f363afb61594f152a3c59cb0b54</tt></td>
</tr>

</table>
