<meta name="description" content="{{ $description := partial "i18n_description.html" . }}{{ with $description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary }}{{ else }}{{ i18n "site-description" }}{{ end }}{{ end }}">
{{ $title := partial "i18n_title.html" . }}
<title>{{ $title }} : {{ i18n "site-title" }}</title>
{{ with .OutputFormats.Get "RSS" }}<link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $title }}" />{{ end }}

{{ partial "opengraph.html" . }}
{{ partial "twitter_cards.html" . }}
