<meta name="twitter:title" content="{{ partial "i18n_title.html" . }}"/>
<meta name="twitter:description" content="{{ $description := partial "i18n_description.html" . }}{{ with $description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary }}{{ else }}{{ i18n "site-description" }}{{ end }}{{ end }}"/>
{{- with .Params.images }}
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:image" content="{{ index . 0 | absURL }}"/>
{{ else -}}
{{- with .Site.Params.images }}
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:image" content="{{ index . 0 | absURL }}"/>
{{ else -}}
<meta name="twitter:card" content="summary"/>
{{- end -}}
{{- end }}