{{ define "main" }}
<main class="container">
  {{ partial "breadcrumb.html" . }}

  <h1>{{ partial "i18n_title.html" . }}</h1>
  {{ partial "rss_content.html" . }}

  {{ partial "announcements/plasma_footer.html" . }}
</main>
{{ end }}
