{{ define "main" }}
<main class="container">
  {{ partial "breadcrumb.html" . }}

  {{ if not .Params.hide_title }}
  <h1>{{ partial "i18n_title" . }}</h1>

  {{ if .Date }}
  {{ partial "i18n_date.html" . }}
  {{ end }}
  <br>
  <br>
  {{ end }}

  {{ .Content }}

  {{ if not .Params.custom_about }}
  {{ partialCached "announcements/about_kde.html" . }}
  {{ end }}
  {{ if not .Params.custom_contact }}
  {{ partialCached "announcements/press_contacts.html" . }}
  {{ end }}
</main>
{{ end }}
